{%- if env.mode != 'prod' %}<!-- src/__includes/component/image.njk -->{%- endif -%}

{# Show all componenets that are a given page  #}
{% for component in components %}
  {# What type are we looking for #}
  {% if component.type == "image " %}

    {# test if there is set a componenet else print a warning #}
    {% if component.template %}
      {% include component.template %}
    {% else %}
      <div>"No template set"</div>
    {% endif %}

  {% endif %}

{% endfor %}
