{# Page card
------------------------------------------------
This template controls how the pagecard template is rendered.

We count the amount of cards that are attached to the componenet pagecard and defines a grid
that matches - and then includes the right card include that matches
#}
{%- if env.mode != 'prod' %}<!-- src/__includes/components/pagecard/pagecard.njk -->{%- endif -%}

{# Add a grip to wrap around all the cards if theres more than one  #}


{% for page in component.page %}

  {# test the page and correct the path if its the frontpage aka: / #}
  {% if page == "/" %} {% set path = "/" %}
  {% else  %} {% set path = "/" + page + "/" %}
  {% endif %}

  {{ item.data.card.title }}
  {{ item.data.card.text }}

  <a href="{{ item.url }}">{{ item.data.title }}</a>

    {% picture
      img=item.data.card.image,
      width=[400, 800],
      sizes="(min-width: 1600px) 50vw, 100vw",
      alt=item.data.card.alt,
      css=""
    %}


{% endfor %}

{# close the section #}
{% if component.page | length > 1 %}
  </section>
{% endif %}
