---
title: Styleguide
order: -100
permalink: admin/styleguide/
---



<ul>
{% for item in collections.styleguide | sortByOrder %}
  <li><a href="{{ item.url  }}">  {{ item.data.title }}</a></li>
{% endfor %}
</ul>
