---
permalink: /admin/config.yml
eleventyExcludeFromCollections: true
---
# Setup
# 1 Add users netlify identity
# https://app.netlify.com/sites/[SITENAME]/settings/identity#external-providers

# 2 enable git gateway
# https://app.netlify.com/sites/[SITENAME]/settings/identity#git-gateway

# Doc
# https://preview-auth-doc--netlify-cms-www.netlify.app/docs/customization/
#
backend:
  name: git-gateway
  branch: {{ env.branch }}
local_backend: true

#SETTINGS
site_url: {{ env.url }}
logo_url: {{ env.url }}/assets/img/icon-admin.png
display_url: {{ env.url }}

{# set this to raw so jnunjucks dont mess with the {{ }} #}
{% raw %}
search: true
# publish_mode: editorial_workflow
show_preview_links: true

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"

media_folder: "src/upload/"
public_folder: "/upload"


collections:
  # -----------------------------------------------------------------
  # Pages Collection
  # -----------------------------------------------------------------
  - name: page
    label: 🏩 Pages
    label_singular: 🏩 Page
    description: "Pages with components"
    folder: "src/content/page"
    slug: "{{title}}"
    preview_path: /{{url}}/
    create: true
    delete: true
    editor:
      preview: false
    summary: "{{title}} (url: {{url}}) "
    sortable_fields: ["title","url", "order", "date"]
    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true
    view_groups:
      - label: Tags
        field: tags
    nested:
      depth: 5 # max depth to show in the collection tree
      summary: "{{title}}"

    fields:
      - { label: "Title", name: "title", widget: "string" }

{% endraw %}
  {% include "src/system/netlifycms/fields/image.njk" %}
  {% include "src/system/netlifycms/fields/card.njk" %}
  {% include "src/system/netlifycms/fields/component.njk" %}
  {% include "src/system/netlifycms/fields/content.njk" %}
  {% include "src/system/netlifycms/fields/tags.njk" %}
{% raw %}


      - { label: "url", name: "url", widget: "string" }

      - name: eleventyNavigation
        label: 🍔 Navigation
        widget: object
        collapsed: false
        summary: "{{fields.key}} |  {{fields.parent}}"
        fields:
        - { label: "title", name: "title", widget: "string", required: false}
        - name: "parent"
          label: Parent page
          widget: relation
          collection: page
          searchFields: [title]
          valueField: "{{eleventyNavigation.key}}"
          displayFields: ["Title: {{title}} | key: '{{eleventyNavigation.key}}'"]
          required: false
          multiple: false
        - { label: "Machine key", name: "key", widget: "string", required: false, hint: "The Key is used by the system Main is used for the frontpage - and should always be" }
        - { label: "order", name: "order", widget: "number", required: false}
        - { label: "text", name: "excerpt", widget: "markdown", default : "", required: false, hint: 'If the theme supports it '}

      # Layout selector
      - name: "layout"
        label: "💅 Select Template"
        widget: relation
        collection: pagetemplates
        searchFields: [saga-template-name]
        valueField: "page/{{filename}}.{{extension}}"
        displayFields: ["saga-template-name", " (File: _layouts/page/{{filename}}.{{extension}})"]
        required: true
        default: "page/page.njk"
        hint: "select the template file t hat should render this page - templates are in /src/__layouts/page/"
{% endraw %}
  {% include "src/system/netlifycms/fields/draft.njk" %}
{% raw %}


# -----------------------------------------------------------------
  # Post Collection
  # -----------------------------------------------------------------
  - name: post
    label: 🧑🏽‍💻 Posts
    label_singular: 🧑🏽‍💻 Post
    description: "Post fx blogpost etc"
    folder: "src/content/post"
    slug: "{{year}}/{{month}}/{{day}}_{{slug}}"
    preview_path: /post/{{title}}/
    create: true
    delete: true
    editor:
      preview: false
    summary: "{{title}} {{url.parent}} {{card.image}} "
    sortable_fields: ["title", "order", "date"]
    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true
    view_groups:
      - label: "Parent: "
        field: url.parent
      - label: Tag
        field: tags
      - label: "Date: "
        field: date
        pattern: "([0-9]+(-[0-9]+)+)"
      - label: Drafts
        field: eleventyExcludeFromCollections
    nested:
      depth: 100 # max depth to show in the collection tree
      summary: "{{title}}"

    fields:
      - { label: " Title", name: "title", widget: "string" }

{% endraw %}
  {% include "src/system/netlifycms/fields/image.njk" %}
  {% include "src/system/netlifycms/fields/card.njk" %}
  {% include "src/system/netlifycms/fields/content.njk" %}
  {% include "src/system/netlifycms/fields/tags.njk" %}
  {% include "src/system/netlifycms/fields/date.njk" %}
{% raw %}

      # Layout selector
      - name: "layout"
        label: "💅 Select Template"
        widget: relation
        collection: posttemplates
        searchFields: [saga-template-name]
        valueField: "post/{{filename}}.{{extension}}"
        displayFields: ["saga-template-name", " (File: _layouts/post/{{filename}}.{{extension}})"]
        default: "post/post.njk"
        required: true
{% endraw %}
  {% include "src/system/netlifycms/fields/draft.njk" %}
{% raw %}

  # -----------------------------------------------------------------
  # Notifications
  # -----------------------------------------------------------------
  - name: notification
    label: 📣 Notifications
    label_singular: 📣 Notification
    description: "Notifications and alerts"
    folder: "src/content/notification"
    slug: "{{title}}"
    preview_path: notification/{{title}}/
    create: true
    delete: true
    editor:
      preview: false
    # Overview
    summary: "{{title}} Status: [{{status}}]"
    sortable_fields: ["title", "date"]
    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true
    view_groups:
      - label: Tags
        field: tags

    fields:
      - { label: "Title", name: "title", widget: "string"}
      - label: 💁🏽‍♂️ status
        name: "status"
        widget: "select"
        multiple: false
        options: ["info", "warning", "alert"]
        default: "info"
      - label: "❗️info"
        name: "text"
        widget: "markdown"
        buttons:
          - bold
          - italic
          - link
        required: false
      - { label: "link to page", name: "showlink", widget: "boolean", default: false }
{% endraw %}
  {% include "src/system/netlifycms/fields/content.njk" %}
  {% include "src/system/netlifycms/fields/date.njk" %}
  {% include "src/system/netlifycms/fields/draft.njk" %}
{% raw %}

  # -----------------------------------------------------------------
  # Globals
  # -----------------------------------------------------------------
  - name: global
    label: 🌏 Globals
    label_singular: 🌏 Global
    description: "Global content elements with components"
    folder: "src/content/global"
    slug: "{{title}}"
    preview_path: global/{{title}}/
    create: true
    delete: true
    editor:
      preview: false
    # Overview
    summary: "{{title}}]"
    sortable_fields: ["title"]
    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true
    view_groups:
      - label: Tags
        field: tags

    fields:
      - { label: "Title", name: "title", widget: "string"}
      - label: 🏗 Area
        name: "area"
        widget: "select"
        multiple: false
        options: ["header", "footer", "sidebar"]
        default: "footer"

{% endraw %}
{% include "src/system/netlifycms/fields/component.njk" %}
{% include "src/system/netlifycms/fields/draft.njk" %}
{% raw %}


  # -----------------------------------------------------------------
  # Menu Items
  # -----------------------------------------------------------------
  - name: menuitem
    label: 🍔 Menu Items
    label_singular: 🍔 Menu Item
    description: "Single menu items to be included in the exising navigation structre. | Version: 1.0"
    folder: "src/content/menuitem"
    slug: "{{title}}"
    preview_path: notification/{{title}}/
    create: true
    delete: true
    editor:
      preview: false
    # Overview
    summary: "{{title}} | Url: {{eleventyNavigation.url}} | Parent: {{eleventyNavigation.parent}}"
    sortable_fields: ["title"]
    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true
    view_groups:
      - label: Tags
        field: tags

    fields:
      - { label: "title", name: "title", widget: "string", required: true}
      - name: eleventyNavigation
        label: Navigation
        widget: object
        collapsed: false
        summary: "{{fields.key}} |  {{fields.parent}}"
        fields:
        - { label: "key", name: key, widget: "string", required: true, hint: "Title and key"}
        - { label: "url", name: url, widget: "string", default : "https://", required: false}
        - { label: "Open in new window", name: "target", widget: "boolean", default: false, required: false, }
        - name: "parent"
          label: parent menu item
          widget: relation
          collection: page
          default: main
          searchFields: [title]
          valueField: "{{eleventyNavigation.key}}"
          displayFields: ["Title: {{title}} |  key: '{{eleventyNavigation.key}}'"]
          required: false
          multiple: false
        - { label: "order", name: "order", widget: "number", required: false}
        - { label: "text", name: "excerpt", widget: "text", default : "", required: false, hint: 'If the theme supports it '}

  # -----------------------------------------------------------------
  # Relations Tags
  # -----------------------------------------------------------------
  - name: tags
    label_singular: 🏷 Tag
    label: 🏷 Tags
    description: "Tags used to catagorize content. | Version: 1.0"
    folder: "src/content/tag"
    slug: "{{title}}"
    hide: false
    create: true
    delete: false
    editor:
      preview: false

    fields:
      - { label: "Title", name: "title", widget: "string" }
{% endraw %}
  {% include "src/system/netlifycms/fields/content.njk" %}
  {% include "src/system/netlifycms/fields/icon.njk" %}
  {% include "src/system/netlifycms/fields/menu.njk" %}
{% raw %}

      # Layout selector
      - name: "layout"
        label: "💅 Select Template"
        widget: relation
        collection: tagtemplates
        searchFields: [saga-template-name]
        valueField: "tag/{{filename}}.{{extension}}"
        displayFields: ["saga-template-name", " (File: _layouts/tag/{{filename}}.{{extension}})"]
        default: "post/post.njk"
        required: true

  # -----------------------------------------------------------------
  # Templates selectors
  # -----------------------------------------------------------------
  - name: posttemplates
    label_singular: template
    label: "Post Templates"
{% endraw %}
    folder: "src/themes/{{ theme }}/layouts/post"
{% raw %}
    slug: "{{title}}"
    hide: true
    create: false
    delete: false
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  - name: pagetemplates
    label_singular: template
    label: "page Templates"
{% endraw %}
    folder: "src/themes/{{ theme }}/layouts/page"
{% raw %}
    slug: "{{title}}"
    hide: true
    create: false
    delete: false
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }


  - name: tagtemplates
    label_singular: template
    label: "tag Templates"
{% endraw %}
    folder: "src/themes/{{ theme }}/layouts/tag"
{% raw %}
    slug: "{{title}}"
    hide: true
    create: false
    delete: false
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }



  # Components related
  - name: componentTemplatePagecard
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/pagecard"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components collection
  - name: componentTemplateCollection
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/collection"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Images
  - name: componentTemplateImages
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/images"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Image
  - name: componentTemplateImage
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/image"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components text
  - name: componentTemplateText
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/text"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Form
  - name: componentTemplateForm
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/form"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Download
  - name: componentTemplateDownload
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/download"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components calendar
  - name: componentTemplateCalendar
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/calendar"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components calendar
  - name: componentTemplateAddress
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/address"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }


  # Components Download
  - name: componentTemplateTemplates
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/templates"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components CTA
  - name: componentTemplateCta
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/cta"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Testamonial
  - name: componentTemplateTestamonial
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/testamonial"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components feature
  - name: componentTemplateFeature
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/feature"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components price
  - name: componentTemplatePrice
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/price"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Links
  - name: componentTemplateLink
    label: "Template"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/components/link"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }


  # Components Links
  - name: icons
    label: "icons"
{% endraw %}
    folder: "src/themes/{{ theme }}/includes/icons"
{% raw %}
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: svg
    fields:
      - { label: "name", name: "name", widget: "string" }


  # -----------------------------------------------------------------
  # Setings
  # -----------------------------------------------------------------
  - label: ⚙️ Settings
    name: Settings
    files:
      - label: "Site Settings"
        name: "sitesettings"
        file: "src/content/data/site.json"
        fields:
          - { label: Title, name: title, widget: string }
          - { label: Description, name: description, widget: text, required: false }
          - { label: Keywords, name: keywords, widget: text, required: false }
          - { label: Header, name: header, widget: text, required: false, hint: "data inside of header ex for tracking " }
          - { label: "404 Errorpage", name: errorpage, widget: text, required: false }
          - { label: "Humans.txt", name: humantxt, widget: text, required: false }
          - { label: "RSS Feed", name: rss, widget: boolean, default: true, hint: "/feed.xml",}
          - { label: Author (rss), name: authorname, widget: string, required: false, hint: "Feed Author name"}
          - { label: Aurthor Email (rss), name: authoremail,widget: string, required: false,hint: "Feed Author name"}
          - { label: Browesercolor, name: color, widget: color, required: false }

      - label: "Social Network links"
        name: "some"
        file: "src/content/data/some.json"
        fields:

          - {
              label: facebook,
              name: facebook,
              widget: string,
              required: false,
              hint: "https://www.facebook.com/...",
            }
          - {
              label: youtube,
              name: youtube,
              widget: string,
              required: false,
              hint: "https://www.youtube.com/...",
            }
          - {
              label: twitter,
              name: twitter,
              widget: string,
              required: false,
              hint: "https://www.twitter.com/...",
            }
          - {
              label: pinterest,
              name: pinterest,
              widget: string,
              required: false,
              hint: "https://www.pinterest.com/...",
            }
          - {
              label: pinterest_verification,
              name: pinterest_verification,
              widget: string,
              required: false,
              hint: "can be found on https://www.pinterest.dk/settings/claim",
            }
          - {
              label: linkedin,
              name: linkedin,
              widget: string,
              required: false,
              hint: "https://www.linkedin.com/in/...",
            }
          - {
              label: instagram,
              name: instagram,
              widget: string,
              required: false,
              hint: "https://www.instagram.com/...",
            }
          - {
              label: github,
              name: github,
              widget: string,
              required: false,
              hint: "https://github.com/...",
            }
          - {
              label: dribble,
              name: dribble,
              widget: string,
              required: false,
              hint: "https://dribbble.com/[name]",
            }
          - {
              label: tiktok,
              name: tiktok,
              widget: string,
              required: false,
              hint: "https://tiktok.com/@[name]",
            }
          - {
              label: Twitch,
              name: twitch,
              widget: string,
              required: false,
              hint: "https://twitch.tv/[name]",
            }
          - {
              label: Patreon,
              name: patreon,
              widget: string,
              required: false,
              hint: "https://patreon.com/[name]",
            }
          - {
              label: Discord,
              name: discord,
              widget: string,
              required: false,
              hint: "https://discord.gg/[name]",
            }

          - {
              label: Soundcloud,
              name: soundcloud,
              widget: string,
              required: false,
              hint: "https://soundcloud.com/[name]",
            }
          - {
              label: Bandcamp,
              name: bandcamp,
              widget: string,
              required: false,
              hint: "https://[name].bandcamp.com/",
            }

{% endraw %}
