---
permalink: preview/index.html
title: "Preview"
layout: default.njk
eleventyExcludeFromCollections: true
---

<script>

setInterval(() => {
  let previewData = {};
  let current = window;
  let n = 0;
  while (current.parent && n < 10) {
    current = current.parent;
    n += 1;
    if (current.previewDataCMS) {
      previewData = current.previewDataCMS;
    }
  }
  this.previewData = JSON.parse(JSON.stringify(previewData));
  console.log(this.previewData);
}, 1000);

console.log(current.previewDataCMS);

// this.previewData is accessible ...
</script>


