{%- if env.mode != 'prod' %}<!-- src/theme-grunn/includes/components/collection/collection.liquid -->{%- endif -%}

  {% comment %}title + text {% endcomment %}


      {{ component.title }}

    {% if component.text %}

        {{ component.text  | markdown   }}

    {% endif %}




  {% for item in collections[component.collection]  %}
    {%- if env.mode != 'prod' %}<!-- markdown file: {{ item.inputPath }}  -->{%- endif -%}





      {% picture
          img=item.data.card.image,
          width=[400,800],
          sizes="(min-width: 1600px) 50vw, 100vw",
          css="",
          loading = "eager"
      %}





          {{item.data.title}}



          {{ item.data.card.text }}







  {% endfor %}


