/*
Design tokens
Now we can do smooth stuff with js to change colors etc

const color = document.querySelector(':root');

foo.addEventListener('click', () => {
    color.style.setProperty('--test', '#bada55');
});
}
*/
:root {
  --color-white: 250 250 250;
  --color-black: 0 0 0;
}

[data-theme="default"]{
  --color-background: 0 0 0;
  --color-on-background: 250 250 250;
}

[data-theme="dark"]{
  --color-background: 250 250 250;
  --color-on-background: 0 0 0;
}

[data-theme="pink"]{
  --color-background: 220 0 220;
  --color-on-background: 0 0 0;
}
