---
layout: base.njk
saga-template-name: 404
---
{# 404
------------------------------------------------
The Amazing 404 page
#}
{%- if env.mode != 'prod' %} <!-- ___layouts/system/404post.njk  -->{%- endif -%}

<body>


{{ title }}
{{ site.errorpage | safe }}
<a href="{{ env.url}}">Return to safety</a>
