---
title: "PWA Splashscreen Dark"
layout: html.njk
---

{# PWA setup
------------------------------------------------
Instead of fiddeling with a bunch of design tools we can build the pwa screens in
html and css - use the pwa: in package.json
#}
{%- if env.mode != 'prod' %}<!-- pwa-setup.html  -->{%- endif -%}





    {% include "svg/saga11.svg" %}


    {{ site.title }}





