---
title: "PWA Splashscreen"
layout: base.njk
---

{# PWA setup
------------------------------------------------
Instead of fiddeling with a bunch of design tools we can build the pwa screens in
html and css - use the pwa: in package.json
#}
{%- if env.mode != 'prod' %}<!-- pwa-setup.html  -->{%- endif -%}

<body>

  <img src="/themes/{{ theme }}/assets/icon/icon.svg">

  {{ site.title }}
