{%- if env.mode != 'prod' %}  <!-- __includes/components/testamonial/testamonial.njk -->{%- endif -%}

<section class="">

  {# title + text #}
  <article class="mx-auto max-w-3xl py-4">
    <h3 class="text-5xl text-cyan-700 dark:text-cyan-200 py-4 text-center">
      {{ component.title }}
    </h3>
    {% if component.text %}
      <div class="prose prose-xl dark:prose-invert">
        {{ component.text  | markdown | safe  }}
      </div>
    {% endif %}
  </article>

<div class="md:grid grid-cols-3 gap-4">
  {% for item in component.testamonial %}
  <article class="border-1 border-teal-300 bg-white dark:bg-slate-900 p-4 m-2 shadow rounded-sm">
    {# person #}
    <div class="flex flex-row items-center">
      {% picture
        img=item.image,
        width=[100],
        sizes="(min-width: 1600px) 50vw, 100vw",
        css="rounded-full w-12 h-12 border border-teal-400  dark:border-teal-100 mr-4",
        alt=""
      %}
      <div class="dark:text-slate-200 text-sm">
        <div>{{ item.person }}</div>
        <div>{{ item.persontitle }}</div>
      </div>
    </div>
    {# / person #}

    {# quote #}
    <h3 class="text-xl text-cyan-700 dark:text-cyan-200">
      {{ item.title }}
    </h3>

    {% if item.text %}
      <div class="text  dark:text-cyan-200">
        {{ item.text  | markdown | safe  }}
      </div>
    {% endif %}

    {# url link #}
    {% if item.url %}
      <a href="{{ item.url }}" target="_blank"  rel="noopener" class="flex w-12 h-12 justify-center items-center rounded-full">
      <div class="sr-only">{{ item.url }}</div>
      <div class="w-8 text-slate-800 dark:text-cyan-100 hover:w-6">
        {% include "icons/arrow-top-right-on-square.svg" %}
        </div>
      </a>
    {% endif %}
  </article>
  {% endfor %}
</div>
</section>
