{# Page cards
------------------------------------------------
#}
{%- if env.mode != 'prod' %}<!-- src/__includes/components/pagecard/pagecard.njk -->{%- endif -%}

{% for page in component.page %}

{# test the page and correct the path #}
{% if page == "/" %}
 {% set path = "/" %}
{% else  %}
  {% set path = "/" + page + "/" %}
{% endif %}


{# Grap the data from collections. all  #}
{% for item in collections.all | getPage( path ) -%}
  <article>
    <a href="{{ item.url }}">
      <div class="bg-slate-300">
      {% image
        img=item.data.card.image,
        width=[400, 800],
        sizes="(min-width: 1600px) 50vw, 100vw",
        css="rounded-sm",
        alt=item.data.card.alt
      %}
      </div>
      <h2 class="text-3xl">{{ item.data.title }}</h2>
      <div>{{ item.data.teaser }}</div>
    </a>
  </article>
{% endfor %}

{% endfor %}
