@tailwind components;

@layer components {
  .wysiwyg h2 {
    @apply text-3xl;
  }
  .wysiwyg h4 {
    @apply text-3xl;
  }
  .wysiwyg h4,
  .wysiwyg h5,
  .wysiwyg h6 {
    @apply font-weight-bold text-lg;
  }

  .wysiwyg p {
    @apply py-2;
  }
}
