/*
the font paths are relative to the css file created with tailwind
/style.css
/fonts/tt/...
*/

@font-face {
  font-family: "ApocalypseGrunge";
  font-display: swap;
  src: url("/assets/fonts/agrunge/agrunge.woff2") format("woff2"),
    url("/assets/fonts/agrunge/agrunge.woff") format("woff");
}
