@tailwind utilities;

@layer utilities {
  .center-center {
    @apply flex items-center justify-center;
  }

  .pagewidth {
    @apply mx-auto
      w-full
      px-2
      lg:max-w-screen-lg
      lg:px-0
      xl:max-w-screen-xl
      2xl:max-w-screen-2xl;
  }

  .fullwidth {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .sr-tab {
    @apply focus:border focus:border-dashed focus:border-tabcolor focus:outline-none;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
}
