---
title: bread

eleventyNavigation:
  parent: sgMenu
  key: bread

---
theres some funky stuff with the menu
so its not getting the path from the sg menu


{# {% set bread = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %} #}

<code>
{{ bread | dump | safe }}
</code>
