---
layout: default.njk
saga-template-name: All post
---
{# PAGE POST PAGE
------------------------------------------------
An example for a landing page for all the posts
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/all-posts.njk  -->{%- endif -%}

<h1 class="text-5xl">{{ title }} </h1>

{% include "nav/tags.njk" %}

{# Generate image #}
  {% set img = page.inputPath | replace("index.md", image) %}
  {% set css = "shadow rounded-lg" %}
  {% set srcset = [400,800, 1600] %}
  {% set sizes = "(min-width: 1600px) 50vw, 100vw" %}
  {% set loading = "eager" %}
  {% image img, srcset, sizes, format, alt,css, loading %}
{# / Generate image #}

<section class="grid md:grid-cols-3 gap-4">

{% for item in collections.allPosts  %}

  <article class="p-2 shadow border m-1">
    <a href="{{ item.url }}">
      <div class="shadow-lg aspect-video overflow-hidden mb-4">

      {# Generate image #}
        {% set img = item.data.page.inputPath | replace("index.md", item.image) %}
        {% set css = "rounded-sm" %}
        {% set srcset = [400,800, 1600] %}
        {% set sizes = "(min-width: 1600px) 50vw, 100vw" %}
        {% set loading = "lazy" %}
        {% image img, srcset, sizes, format, alt,css, loading %}
      {# / Generate image #}

      </div>
      <div class="text-xl ">{{item.data.title}}</div>
      <div class="mt-2">{{ item.data.teaser }}</div>
      <time>{{ item.data.date | formatDate("DDD  T", "DK") }}</time>
    </div>
    </a>
  </article>

{% endfor %}

</section>
