---
layout: default.njk
saga-template-name: Page Posts list
---
{# PAGE POST PAGE
------------------------------------------------
An example for a landing page for all the posts
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/posts.njk  -->{%- endif -%}

<h1 class="text-5xl">{{ title }} </h1>


{% include "nav/tags.njk" %}

<section class="grid md:grid-cols-3 gap-4">

{% for item in collections.allPosts  %}

  <article class="p-2 shadow border m-1">
    <a href="{{ item.url }}" class="text-xl font-bold">
      <div class="shadow-lg aspect-video overflow-hidden mb-4">



      </div>

      <div class="font-lg">
        {{item.data.title}}
      </div>

    </a>

    <p class="mt-2">{{ item.data.teaser }}</p>

    <div>
      <time>{{ item.data.date | formatDate("DDD  T", "DK") }}</time>
    </div>
  </article>

{% endfor %}

</section>
