---
layout: default.njk
saga-template-name: All post
---
{# PAGE POST PAGE
------------------------------------------------
An example for a landing page for all the posts
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/all-posts.njk  -->{%- endif -%}

{# <h2><code><var>collections.all[0].template.templateData.globalData</var></code></h2> #}
{# <code>{{ collections.all[0].template.templateData.globalData | debug | safe }}</code> #}

{{ page | debug  }}

<div class="w-1/2 mx-auto">
  <h1 class="text-5xl">{{ title }} </h1>
  <div>{{ content | safe }}</div>
</div>

{% include "nav/tags.njk" %}

<section class="grid md:grid-cols-3 gap-4">

{% for item in collections.allPosts  %}

  <article class="p-2 shadow border m-1">
    <a href="{{ item.url }}">
      <div class="shadow-lg aspect-video overflow-hidden mb-4">

      {# Generate image #}
      {% if item.data.card.image %}
        {% set css = "rounded-sm" %}
        {% set srcset = [400,800, 1600] %}
        {% set sizes = "(min-width: 1600px) 50vw, 100vw" %}
        {% set loading = "lazy" %}
        {% image item.data.card.image, srcset, sizes, format, alt,css, loading %}
      {% endif %}
      {# / Generate image #}

      </div>
      <div class="text-xl ">{{item.data.title}}</div>
      <div class="mt-2">{{ item.data.teaser }}</div>
      <time>{{ item.data.date | formatDate("DDD  T", "DK") }}</time>
    </div>
    </a>
  </article>

{% endfor %}

</section>
