---
layout: page/page.njk
saga-template-name: Contact page
---
{# PAGE TEMPLATE CONTACT
------------------------------------------------
Uses the page templates include the contactform
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/contact.njk  -->{%- endif -%}

<div class="wysiwyg">
  {{ content | safe}}
</div>

{% include "contactform.njk" %}
