---
layout: default.njk
saga-template-name: Contact page
---
{# PAGE TEMPLATE CONTACT
------------------------------------------------
Uses the page templates include the contactform
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/contact.njk  -->{%- endif -%}

<div class="grid grid-cols-2 gap-4">
  <div class="">
    {{ content | safe}}

    {{ site.adress }} {{ site.zip}}
  </div>
  <div>
    {% include "contactform.njk" %}
  </div>

</div>



