---
layout: default.njk
saga-template-name: Frontpage
---
{# PAGE TEMPLATE FRONTPAGE
------------------------------------------------
Template for the frontpage
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/frontpage.njk  -->{%- endif -%}

  {% image image, [400,800, 1200],"(min-width: 1200px) 50vw, 100vw",['webp'],alt,"shadow","eager" %}

<h1 class="font-ostrichsans text-8xl">{{ title }}</h1>

<div class="my-4">
  {{ content | safe}}
</div>

{% include "collection.njk" %}
