---
layout: default.njk
saga-template-name: Page default
---
{# PAGE DEFAULT TEAMPLATE
------------------------------------------------
This is the default template for the page type
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/page.njk  -->{%- endif -%}

{% for section in sections %}

  {% if section.type == "images" %}
    {% include "section.njk" %}
  {% endif %}

  {% if section.type == "collection" %}
    {% include "section-collection.njk" %}
  {% endif %}

{% endfor %}

{# Menu
{% include "menu.njk" %}
<hr> #}

{# {% from 'macro/menuitems.macro.njk' import menuitems %}

<nav>
  <ul>
    {%- for entry in collections.all | eleventyNavigation(eleventyNavigation.key) %}
      {{ menuitems(entry, page) }}
    {%- endfor -%}
  </ul>
<nav>
<hr>



<h2 class="text-3xl mt-8">All menu</h2>
{% include "menu.njk" %} #}


<article class="" aria-label="Page">

  <h1 class="font-serif text-8xl">{{ title }}</h1>
  {# Generate image #}
    {# {% if image %}
      {% set css = "shadow rounded-lg" %}
      {% set srcset = [400,800, 1600] %}
      {% set sizes = "(min-width: 1600px) 50vw, 100vw" %}
      {% set loading = "eager" %}
      {% image image, srcset, sizes, format, alt,css, loading %}
    {% endif %} #}
  {# / Generate image #}

  {# gallery #}
  {# {% include "gallery.njk" %} #}

  <div class="wysiwyg">
    {# {{ content | safe }} #}
  </div>

  {# {% include "collection.njk" %} #}
</article>


