---
layout: default.njk
saga-template-name: Page default
---
{# PAGE DEFAULT TEAMPLATE
------------------------------------------------
This is the default template for the page type
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/page.njk  -->{%- endif -%}

{# <div class="bg-cover h-16" style="background-image:url({% imageurl img="/upload/cyber.png", width=[800] %})"></div> #}

{# change format !
{% imageurl img="/upload/cyber.png" %}

{% image
        img="/upload/cyber.png",
        width=[100, 200, 400],
        formats=['webp']
%} #}


{#
  Section Tales from the loop ...
  ---------------------------------------------------------
  This is where the magic happens and we loop through
  the sections that are added in the frontmatter
  each include a different template file from /section
#}
{% for section in sections %}

  {% if section.type == "images" %}
    {% include "sections/section-images.njk" %}

  {% elseif section.type == "collection" %}
    {% include "sections/section-collection.njk" %}

  {% elseif section.type == "text" %}
    {% include "sections/text.njk" %}

  {% elseif section.type == "form" %}
    {% include "sections/form.njk" %}

  {% elseif section.type == "image" %}
    {% include "sections/image.njk" %}

  {% elseif section.type == "pages" %}
    {% include "sections/pages.njk" %}



  {% endif %}

{% endfor %}




{# Menu
{% include "menu.njk" %}
<hr> #}

{# {% from 'macro/menuitems.macro.njk' import menuitems %}

<nav>
  <ul>
    {%- for entry in collections.all | eleventyNavigation(eleventyNavigation.key) %}
      {{ menuitems(entry, page) }}
    {%- endfor -%}
  </ul>
<nav>
<hr>



<h2 class="text-3xl mt-8">All menu</h2>
{% include "menu.njk" %} #}



