---
layout: layout/default.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/

pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
---

{% include "components/nav/tags.njk" %}


<h2>List</h2>
{% for post in collections[ tag ]  %}
  <a href="{{ post.url | url }}" class="underline">{{ post.data.title }}</a>

  {# List all tags for this post #}
  (
  {% for tag in post.data.tags  %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}">{{ tag }}</a>,
  {% endfor %}
  )
  <br>

{% endfor %}


<a href="{{ '/tags/' | url }}">all tags</a>
