<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}
    {% if site.keywords %}<meta name="keywords" content="{{ site.keywords}}">{% endif %}
    <meta name="generator" content="{{eleventy.generator}}">
    <meta name="theme-color" content="{{site.color}}">
    <link rel="author" href="humans.txt"/>

    {%- include "head/opengraph.njk" -%}
    {%- include "head/icon.njk" -%}
    {%- include "head/splashscreens.njk" -%}

    {%- if env.mode == 'prod' %}
      <link href="{{ '/assets/css/style.min.css' | url }}" rel="stylesheet">
    {% else %}
      <link href="{{ '/assets/css/style.css' | url }}" rel="stylesheet">
      <style></style>
    {% endif -%}
    {% if page.url == "/" %}
      <title>
        {{ site.title }}
      </title>
    {% else %}
      <title>{{ title }} | {{ site.title }}
      </title>
    {% endif %}

  </head>
  {# isModalOpen is used to test if theres a modal open then disable the scroll #}
  <body class="flex flex-col h-screen bg-slate-100"
        x-data="{'isModalOpen': false}" x-on:keydown.escape="isModalOpen=false"
        :class="isModalOpen ? 'overflow-y-hidden':''"
  >

    {{ content | safe }}

    {# Service worker #}
    <script>
      if (navigator && navigator.serviceWorker) {
        navigator
          .serviceWorker
          .register('/service-workers.js');
      }
    </script>

    <script src="/assets/js/alpine3.10.3.min.js" defer></script>
  </body>
</html>
