<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    {# title tag #}
    {% if page.url =="/" %}
      <title> {{ site.title }} </title>
    {% else %}
      <title>{{ title }} | {{ site.title }} </title>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}
    {% if site.keywords %}<meta name="keywords" content="{{ site.keywords}}">{% endif %}
    {% if site.generator %}<meta name="generator" content="{{eleventy.generator}}">{% endif %}
    <meta name="theme-color" content="{{site.color}}">
    <link rel="author" href="humans.txt" />

    {%- include "head/opengraph.njk" -%}
    {%- include "head/icon.njk" -%}
    {%- include "head/applestartupscreens.njk" -%}

    {%- if env.mode == 'prod' %}
      <link href="{{ '/assets/css/style.min.css' | url }}" rel="stylesheet">
    {% else %}
      <link href="{{ '/assets/css/style.css' | url }}" rel="stylesheet">
    {% endif -%}
  </head>

  <body class="flex flex-col h-screen bg-slate-100">

    {{ content | safe }}

    {# Service worker #}
    <script>
      if (navigator && navigator.serviceWorker) {
        navigator
          .serviceWorker
          .register('/service-workers.js');
      }
    </script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/alpine3.10.3.min.js"></script>

  </body>
</html>
