---
layout: base.njk
---
{#
  This layout is used for the styleguide
 #}
{%- if env.mode != 'prod' %}<!-- ___layouts/styleguide.njk  -->{%- endif -%}

{# isModalOpen is used to test if theres a modal open then disable the scroll #}
<body class="flex flex-col h-screen bg-slate-100"
      x-data="{'isModalOpen': false}"
      x-on:keydown.escape="isModalOpen=false"
      :class="isModalOpen ? 'overflow-y-hidden':''"
>

<main id="main" tabindex="-1" class="flex flex-row">
  <div class="bg-white p-4 shadow-lg basis-2/12 min-h-screen">
  <nav >

    <a href="/styleguide" class="flex flex-row items-center">
      <div class="w-8">{% include "svg/11ty.svg" %}</div>
      <div>🎈 Styleguide</div>
    </a>

    {# macro #}
    {% macro menuitems(item, page) -%}
    {# {{ item | debug | safe  }} #}
    {# Items  #}
    <div x-data="{ open: true }">

      <a href="{{ item.url }}"
        {% if item.url == page.url %} aria-current="page" class="text-pink-700 font-bold"
        {% else  %} class=""
        {% endif %}
      >{{ item.title }}</a>

      {% if item.children | length %}
        <button @click="open = !open">
          <div x-show="open"> - </div>
          <div x-show=" ! open"> + </div>
        </button>
      {% endif %}


      {# sublevel  #}
      {%- if item.children.length -%}
        <ul class="ml-2" x-show="open">
          {%- for child in item.children %}
            {{ menuitems(child, page) }}
          {% endfor -%}
        </ul>
      {%- endif -%}


    </div>
    {%- endmacro %}
    {# /Macro  #}

    {% set navPages = collections.all | eleventyNavigation("styleguide") %}

      {%- for entry in navPages %}
        {{ menuitems(entry, page) }}
      {%- endfor -%}

  </nav>
  </div>
  <div class=" basis-10/12  mt-8 mx-4">

    <h1 class="text-3xl text-center">{{ title | upper }} </h1>

    <div class="bg-white mb-8">
      {% include "nav/bread.njk" %}
    </div>


    {{ content | safe }}

  </div>

</main>


{# <div class="">
    {% highlight "html" %}
    {{ content | safe }}
    {% endhighlight %}
</div> #}
