---
layout: base.njk
---

{%- if env.mode != 'prod' %}<!-- ___layouts/styleguide.njk  -->{%- endif -%}

{# isModalOpen is used to test if theres a modal open then disable the scroll #}
<body class="flex flex-col h-screen bg-slate-100"
      x-data="{'isModalOpen': false}"
      x-on:keydown.escape="isModalOpen=false"
      :class="isModalOpen ? 'overflow-y-hidden':''"
>

<main id="main" tabindex="-1" class="flex flex-row">

  <nav class="bg-white p-4 shadow-lg basis-2/12 flex flex-col">

    <a href="/styleguide" class="flex flex-row items-center">
      <div class="w-8">{% include "svg/11ty.svg" %}</div>
      <div>Styleguide</div>
    </a>

    {% from 'macro/menuaccordion.macro.njk' import menuitems %}
    {% set navPages = collections.all | eleventyNavigation("styleguide") %}

      {%- for entry in navPages %}
        {{ menuitems(entry, page) }}
      {%- endfor -%}

  </nav>

  <div class=" basis-10/12  mt-8 ml-4">

    <h1 class="text-3xl text-center">{{ title | upper }} </h1>

    {{ content | safe }}

  </div>

</main>


{# <div class="">
    {% highlight "html" %}
    {{ content | safe }}
    {% endhighlight %}
</div> #}
