---
layout: layout/default.njk
saga-template-name: Tag
---

{% for item in collections.all | getPage("/tags/" + tag + "/" ) %}
  <h2 class="font-bold text-3xl">{{ item.data.title }}</h2>
  <article>
    <img src="{{ item.data.image }}" alt="" class="w-20">
    {{item.templateContent | safe}}
  </article>
{% endfor %}





<h3 class="text-xl">Content with this {{ tag }} </h3>
<section>
  <nav>
    <ul>
    {% for item in collections[ tag ]  %}
      <li>
        <a href="{{ item.url | url }}">{{ item.data.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </nav>
</section>


All tags:

{% include "components/nav/tags.njk" %}
