---
layout: layout/default.njk
saga-template-name: Tag
---

{# get the data that storesd with the tag in the replation tag file #}
{% for item in collections.all |  getPage("/relation-tag/" + tag + "/" ) %}
  <h1>{{ item.data.title }}</h1>
  <article>
    <img src="{{ item.data.image }}" alt="" class="w-20">
    {{item.templateContent | safe}}
  </article>

{% endfor %}

<h2>Post:</h2>
{% for item in collections[ tag ]  %}
  <a href="{{ item.url | url }}">{{ item.data.title }}</a>
{% endfor %}

{% include "components/nav/tags.njk" %}
