---
title: Styleguide
permalink: styleguide/index.html

---


{% for item in collections.styleguide | sortByFilepath %}

  {% set subfolder = item.filePathStem | replace(item.fileSlug,'') %}

  {# {% if subfolder in item.filePathStem %}

    <div class="text-4xl">
      {{ item.filePathStem | replace(item.fileSlug,'') }}
    </div>

  {% endif %} #}


  <a href="{{ item.url }}" >{{ item.filePathStem | replace('/_system/styleguide/', '')}}: {{item.data.title}}</a>
<br>
{% endfor %}
