---
title: style
permalink: /admin/style.css
eleventyExcludeFromCollections: true
---

body{
  background: grey;
  color: black;
  font-family: sans-serif;
  padding: 1rem;
}

img{
  width: 200px
}

.text {
  background: white;
}
