---
layout: default.liquid
saga-template-name: Post Pagination
---


<section class="grid md:grid-cols-3 gap-4 py-4">
  {% for item in posts %}

    {% assign title = item.data.card.title | default: item.data.title %}
    {% assign image = item.data.card.image | default: item.data.image %}
    {% assign text = item.data.card.text | default: item.data.text | truncatewords: "20",  " ..."  %}
    {%
      render 'card.liquid',
        title: title,
        text: text,
        image: image,
        url: item.url,
        date: item.date
    %}
  {% endfor %}
</section>


{% render 'pagination/pagination.liquid', pagination: pagination, page: page %}
