---
title: Menu
---

<nav class="relative flex flex-row space-x-4 px-4 h-8 items-center ">
{# menu lvl 1 #}
{%- for item in collections.all | eleventyNavigation("main") %}

  {% if not item.children | length %}
    {# first lvl links #}
    <a href="{{ item.url }}" class="bg-slate-300">{{ item.title }}</a>
  {% else %}

    {# placeholder #}
    <div x-data="{openmenuitem: false}" class="bg-slate-300 flex flex-row" @click="openmenuitem = true">
      <div>{{ item.title }}</div>

      <div
        class="absolute z-40 top-8 w-60 bg-slate-500"
        x-cloak
        x-show="openmenuitem"
        @mouseover="openmenuitem = true"
        @click.outside="openmenuitem = false"
      >
        {# We repeat the link from placeholder above so it works on a ipad etc #}
        <a href="{{ item.url }}" class="block border-b p-2 border-slate-200 hover:bg-red-50">{{ item.title }}</a>

        {# Loop next level #}
        {%- for item in collections.all | eleventyNavigation(item.key) %}
          <a href="{{ item.url }}" class="block border-b p-2 border-slate-200 hover:bg-red-50">{{ item.title }}</a>
        {% endfor %}
      </div>
    </div>

    {% endif %}
    {# / placeholder #}

  {% endfor %}
  {# / menu lvl 1 #}

</nav>
