---
title: Menu
---

{% set cssmenu1 = "flex flex-row items-center text-xl hover:bg-slate-200  rounded-md px-2 block " %}
{% set cssmenu1dropdown = "absolute z-40  top-8 w-60 bg-white border-1 border-slate-100 shadow-md" %}
{% set cssmenu1dropndownitem = "border-b p-2 border-slate-200 hover:bg-red-50 hover:bg-red-400" %}

<nav class="bg-slatet-100 border-b border-slate-200">
  <ul class="flex flex-row space-x-4 px-4  h-8 items-center relative">
    {# normal #}
    <li><a href="https://saga11.dev" class="{{ cssmenu1 }}">Menu item1</a></li>

    {# placeholder #}
    <li x-data="{openmenuitem: false}" class="bg-red-400 border-4 border-red-700">

      <div href="#"  @click="openmenuitem = true">
        Placeholder test
      </div>
      <ul class="{{ cssmenu1dropdown }}"
          x-cloak
          x-show="openmenuitem"
          @mouseover="openmenuitem = true"
          @click.outside="openmenuitem = false"
      >
        <li class="{{cssmenu1dropndownitem }}">
          <a href="#">Sub 3.1</a>
        </li>
      </ul>

    </li>
    {# / placeholder #}

  </ul>
</nav>

{# 2 level menus #}
<nav class="bg-slatet-100 border-b border-slate-200">
  <ul class="flex flex-row space-x-4 px-4  h-8 items-center relative">

  {%- for item in collections.all | eleventyNavigation("main") %}
    {# Placeholder #}
    {% if item.placeholder %}
    {# placeholder #}
    <li x-data="{openmenuitem: false}" class="bg-red-400 border-4 border-red-700">

      <div href="#"  @click="openmenuitem = true">
        {{ item.title }}
      </div>
      <ul class="{{ cssmenu1dropdown }}"
          x-cloak
          x-show="openmenuitem"
          @mouseover="openmenuitem = true"
          @click.outside="openmenuitem = false"
      >
        {# placeholder print out the next level #}
        {%- for item in collections.all | eleventyNavigation(item.key) %}
          <li class="{{cssmenu1dropndownitem }}">
            <a href="{{ item.url }}"> {{ item.title }} </a>
          </li>
        {% endfor %}
      </ul>
    </li>
    {# / placeholder #}


    {% else %}
      {# first lvl links #}
      <a href="{{ item.url }}">{{ item.title }}</a>
    {% endif %}

  {% endfor %}


  </ul>
</nav>

<br><br><br><br><br>

{# MACRO #}
{% macro menuitems(item, page) -%}
{# Items #}
  <li>
     <a href="{{ item.url }}" class="{{ cssmenu1 }}">
      {{ item.title }}
      {% if item.placeholder %} PL {% endif %}
    </a>

    {# sublevel  #}
    {%- if item.children.length -%}
      <ul>
        {%- for child in item.children %}
          {{ menuitems(child, page) }}
        {% endfor -%}
      </ul>
    {%- endif -%}

  </li>
{# / Items  #}

{%- endmacro %}
{# / MACRO #}


{% set navPages = collections.all | eleventyNavigation("main") %}
<nav class="bg-slatet-100 border-b border-slate-200">
  <ul class="flex flex-row space-x-4 px-4  h-8 items-center relative">
  {%- for item in navPages %}
    {{ menuitems(item) }}
  {%- endfor -%}
  </ul>
</nav>
