{%- if env.mode != 'prod' %}<!-- _src/__includes/footer.liquid  -->{%- endif  -%}

<footer class="bg-tone-100 dark:bg-gray-900 dark:text-gray-300 mt-16 py-4">
  <div class="pagewidth">


{% include "darkmode/darkmode.liquid" %}
{% include "some/socialmedia.liquid" %}
  {{ site.title }}
  {{ site.icon }}
  {% assign menu = collections.all | eleventyNavigation: "footer" %}

  <nav class="flex flex-col">
    {% for item in menu %}
      <a href="{{ item.url }}" class="block">{{ item.title }}</a>
    {% endfor %}
  </nav>
  </div>
</footer>
