---
layout: default
title: "Rick & Morty Characters {{ name }}"
---
This is an example page of using external apis
<h1 class="text-5xl">{{ character.name }}</h1>

  <div class="aspect-video overflow-hidden shadow-lg ">
    {% picture
      img=character.image,
      width=[640,1280,1536],
      sizes="(max-width: 640px) 50vw, 100vw",
      css= character.name,
      loading = "lazy"
  %}
<div>
Species: {{ character.species }} - Type: {{ character.type }} - {{ character.gender }}
</div>

<div>
Location:
<a href="{{ character.location.url }}">
  {{ character.location.name }}
</a>
</div>

<div>
{{ character.episode  | length }} Episodes:
</div>
{% for item in character.episode %}
  <a href="{{ item }}">{{ item | replace('https://rickandmortyapi.com/api/episode/','') }}</a>
{% endfor %}


<section class="flex flex-row space-x-4 flex-wrap">

  {% for item in rickandmorty %}
    <article class="bg-slate-900 m-2">
    <a href="/rick-morty/{{ item.name |slugify }}">

    {% picture
      img=item.image,
      width=[100],
      sizes="(max-width: 640px) 50vw, 100vw",
      css= item.name,
      loading = "lazy"
    %}
    {{ item.name }}
  </a>
  </article>
{% endfor %}

</section>

