---
layout: default.njk
title: "Rick & Morty Characters {{ name }}"
---



  {% for item in rickandmorty %}



    {% picture
      img=item.image,
      width=[100],
      sizes="(max-width: 640px) 50vw, 100vw",
      css= item.name,
      loading = "lazy"
    %}
    {{ item.name }}


{% endfor %}



