---
layout: default
title: "Rick & Morty Characters {{ name }}"
---
This is an example page of using external apis
{{ character.name }}


    {% picture
      img=character.image,
      width=[640,1280,1536],
      sizes="(max-width: 640px) 50vw, 100vw",
      css= character.name,
      loading = "lazy"
  %}

Species: {{ character.species }} - Type: {{ character.type }} - {{ character.gender }}



Location:

  {{ character.location.name }}




{{ character.episode  | length }} Episodes:

{% for item in character.episode %}
  {{ item | replace('https://rickandmortyapi.com/api/episode/','') }}
{% endfor %}




  {% for item in rickandmorty %}



    {% picture
      img=item.image,
      width=[100],
      sizes="(max-width: 640px) 50vw, 100vw",
      css= item.name,
      loading = "lazy"
    %}
    {{ item.name }}


{% endfor %}



