{%- if env.mode != 'prod' %}  <!-- src/theme-grunn/includes/components/images/images-grid.liquid -->{%- endif -%}

{{ component.title }}
{% if component.text %}

    {{ component.text | markdown  }}

{% endif %}



  {% for item in component.images %}


      {% picture
        img=item.image,
        width=[400,800],
        sizes="(min-width: 1600px) 50vw, 100vw",
        css="rounded-sm"
      %}


        {{ item.title }}dd




  {% endfor %}




