_site/
node_modules/
.DS_Store

# Local Netlify folder
.netlify
.env
.cache

# saga build
src/themes/base/assets/css/style.css
src/themes/base/assets/css/style.min.css
src/themes/base/assets/css/style.css
