# This is an example for an env file
# Rename this to .env and restart saga11
# NEVER put an .env file into git - its off course put in git ignore
# The values are picked up in /content/data/env.js
# Make sure its permissions are -rw-r--r--@
ELEVENTY_ENV = "dev" #dev / prod
SITE_URL = "http://localhost:3791"
SITE_PORT = 3791
BRANCH = "main"
PORT = 8081 # netlifycms/decap
