# This is an example for an env file
# Rename this to .env and restart saga11
# NEVER put an .env file into git - its off course put in git ignore
# The values are picked up in /content/data/env.js
ELEVENTY_ENV = "dev" #dev or prod
SITE_URL = "http://localhost:3791"
SITE_PORT = 3791 # the same as the SITE_URL port
BRANCH = "main" #gitbranch
PORT = 8082 #netlifycmsport
