[[plugins]]
  package = "netlify-plugin-cache"

[plugins.inputs]
  paths = [
    "_site/img", # Eleventy Image Disk Cache
    ".cache" # Remote Asset Cache
  ]

[build]
  publish = "_site"
  command = "npm run build"
