{%- if env.mode != 'prod' %}<!-- src/__includes/nav/breadcrumb.njk  -->{%- endif  -%}

{% if eleventyNavigation.key %}

{% set bread = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key,  { includeSelf: true, allowMissing: true}) %}



  {% for item in bread %}
    {# home #}
    {% if loop.first %}

        {% include "icons/home-modern.svg" %}
        Home

    {% elseif not loop.last %}
    {#  #}
      /

          {{item.title }}

    {% else %}
      /

        {{item.title }}


    {% endif %}


{% endfor %}



{% endif %}
