{%- if env.mode != 'prod' %}<!-- src/themes/grunn/includes/components/image/image.njk -->{%- endif -%}



  {# title + text #}


      {{ component.title }}



    {% if component.text %}

        {{ component.text  | markdown | safe  }}

    {% endif %}



  {% picture
    img=component.image,
    width=[640,1024, 1563],
    sizes="(max-width: 640px) 50vw, 100vw",
    css="rounded-sm",
    alt=component.alt
  %}



