{%- if env.mode != 'prod' %}<!-- src/themes/grunn/includes/components/image/image.njk -->{%- endif -%}

<article class="py-4">

  {# title + text #}
  <article class="mx-auto max-w-3xl pb-4">
    <h3 class="text-5xl text-cyan-700 dark:text-cyan-200 py-4 text-center">
      {{ component.title }}
    </h3>


    {% if component.text %}
      <div class="prose prose-xl dark:prose-invert">
        {{ component.text  | markdown | safe  }}
      </div>
    {% endif %}
  </article>


  {% picture
    img=component.image,
    width=[640,1024, 1563],
    sizes="(max-width: 640px) 50vw, 100vw",
    css="rounded-sm",
    alt=component.alt
  %}


</article>
