{%- if env.mode != 'prod' %}<!-- src/theme-grunn/includes/components/image/image.liquid -->{%- endif -%}



  {% comment %}title + text {% endcomment %}


      {{ component.title }}



    {% if component.text %}

        {{ component.text  | markdown   }}

    {% endif %}



  {% picture
    img=component.image,
    width=[640,1024, 1563],
    sizes="(max-width: 640px) 50vw, 100vw",
    css="rounded-sm",
    alt=component.alt
  %}



