{% raw %}
      # Tags
      - name: tags
        label: 🏷 Tags
        widget: relation
        collection: tags
        searchFields: [title]
        valueField: "{{slug}}"
        display_fields: ["title"]
        required: false
        multiple: true
{% endraw %}
