{%- if env.mode != 'prod' %}<!-- src/__includes/nav/breadcrumb.liquid  -->{%- endif  -%}

{% if eleventyNavigation.key %}

{% assign bread = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key,  { includeSelf: true, allowMissing: true}) %}



  {% for item in bread %}
    {% comment %}home {% endcomment %}
    {% if loop.first %}

        {% include "icons/home-modern.svg" %}
        Home

    {% elseif not loop.last %}
    {% comment %} {% endcomment %}
      /

          {{item.title }}

    {% else %}
      /

        {{item.title }}


    {% endif %}


{% endfor %}



{% endif %}
