{%- if env.mode != 'prod' %}
  <!-- /src/theme-grunn/includes/nav/menu.liquid -->
{%- endif  -%}

{% comment %}Menu desktop {% endcomment %}

{% assign menulvl1 = "inline-flex items-center text-xl font-bold border-b-4 transition hover:bg-cyan-50/50 dark:hover:bg-gray-900 hover:border-cyan-500/50" %}
{% assign menulvl2 = "p-4 text-lg hover:text-cyan-600 hover:bg-cyan-500/10" %}

{% comment %}level 1 {% endcomment %}
{%- for item in collections.all | eleventyNavigation("main") %}

  {% comment %}test if theres children to the first level of menu items {% endcomment %}
  {% if not item.children | length %}
    <a href="{{ item.url }}"
        {% comment %}active page {% endcomment %}
        {% if item.url in page.url %}
          aria-current="page" class="{{ menulvl1 }} text-cyan-600 dark:text-cyan-200 border-cyan-500/20"
        {% else  %}
          class="{{menulvl1 }} text-gray-500 dark:text-cyan-200 border-transparent"
        {% endif %}
        {% comment %}if target {% endcomment %}
        {% if item.target %}
          target="_blank" rel="noopener"
        {% endif %}

        {% if item.excerpt %}
          title="{{ item.excerpt | markdown  }}"
        {% endif %}
      >
      {{ item.title }}

    {% else %}
      {% comment %}Level 2  {% endcomment %}
      <div x-data="{openmenuitem: false}"
            class="{{ menulvl1 }} text-gray-500 dark:text-cyan-200 border-transparent"
            @click="openmenuitem = true"
        >

        {{ item.title }}
        {% include "icons/chevron-down.svg" %}

        {% comment %}Here level 2that opens up when clicked {% endcomment %}
        <div
              class="absolute z-40 top-20 min-h-40 w-60 bg-white/90 dark:bg-gray-900/90 shadow-lg flex flex-col rounded-md dark:rounded-none"
              x-cloak
              x-show="openmenuitem"
              @mouseover="openmenuitem = true"
              @click.outside="openmenuitem = false"
            >

          {% comment %}We repeat the link from placeholder above so it works on a ipad etc {% endcomment %}
          <a href="{{ item.url }}"
               class="{{ menulvl2 }}"
               {% if item.excerpt %}title="{{ item.excerpt | markdown  }}" {% endif %}
            >{{ item.title }}

            {% comment %}Loop next level {% endcomment %}
            {%- for item in collections.all | eleventyNavigation(item.key) %}
              <a href="{{ item.url }}" class="{{ menulvl2 }}"
                 {% if item.target %}target="_blank" rel="noopener" {% endif %}
                {% if item.excerpt %}title="{{ item.excerpt | markdown  }}" {% endif %}
              >
                {{ item.title }}

              {% endfor %}

              {% comment %}/ Level 2  {% endcomment %}
            {%- endif -%}
          {%- endfor -%}
          {% comment %}/level 1  {% endcomment %}

          {% comment %}/Menu Desktop {% endcomment %}