{% comment %}POST PRE NEXT NAVIGATION
------------------------------------------------
A simple pre / next nav for collections

 {% endcomment %}
{%- if env.mode != 'prod' %}<!-- __includes/nav/post-pre-next.liquid  -->{%- endif  -%}


{%- if collections.allPosts %}


  {% comment %} {% endcomment %}
  {%- set nextPost = collections.allPosts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.allPosts | getPreviousCollectionItem(page) %}

  {%- if nextPost or previousPost %}
  {% comment %}previous  link {% endcomment %}
  {%- if previousPost %}

      {% include "icons/arrow-left.svg" %}
      {{ previousPost.data.title }}

  {% endif %}
  {% comment %}Next  linl {% endcomment %}
  {%- if nextPost %}

      {{ nextPost.data.title }}
      {% include "icons/arrow-right.svg" %}

  {% endif %}
  {% comment %}/if pre of next {% endcomment %}
  {%- endif %}


{%- endif %}

