{% comment %}ALL POST
------------------------------------------------
collection that graps all post .allpost is defined in .eleventy.js
#}
{%- if env.mode != 'prod' %}<!-- src/__includes/nav/posts.liquid  -->{%- endif  -%}



  {% for item in collections.allPosts %}


      {% comment %}link {% endcomment %}
      {% if item.url in page.url -%}

          {{item.data.title}}

      {% else %}

          {{ item.data.title }}

      {% endif %}
      {% comment %}date {% endcomment %}

        {{ item.data.date | formatDate("cccc d. MMMM yyyy HH:mm", "DK") }}




  {% endfor %}

