{% comment %}Tag Cloud
------------------------------------------------
List of all tags
#}
{%- if env.mode != 'prod' %}<!-- __includes/nav/tagcloud.liquid  -->{%- endif  -%}



{% for tag in collections.tags %}

  {% for item in collections.all | getPage("/tag/" + tag + "/") %}



      {% if item.data.icon %}
        {% include  item.data.icon %}
      {% endif %}

      {{ item.data.title }}



  {% endfor %}

{% endfor %}


