{%- if env.mode != 'prod' %}<!-- __includes/nav/tags.liquid  -->{%- endif  -%}

{% for tag in tags %}

  {% comment %}dont print the rssfeed tag cause its used for the machine {% endcomment %}
  {% if tag != "rssfeed" %}

    {% for item in collections.all | getPage("/tag/" + tag + "/") %}


        {% if item.data.icon %}
          {% include  item.data.icon %}
        {% endif %}

        {{ item.data.title }}


  {% endfor %}

  {% endif %}

{% endfor %}
