{#
  Usage
  {% from 'macro/menuitems.macro.njk' import menuitems %}
  {% set navPages = collections.all | eleventyNavigation %}

  <nav>
    <ul>
      {%- for item in navPages %}
        {{ menuitems(item) }}
      {%- endfor -%}
    </ul>
  <nav>
#}

{# macro #}
{% macro menuitems(item, page) -%}

{# Items  #}
<ul>
<li>
  <a href="{{ item.url }}"
    {# test if the page is the current  #}
    {% if item.url == page.url %}
      aria-current="page"
      class="text-pink-700"
    {% else  %}
      class=""
    {% endif %}
  >
    {{ item.title }}
    {% if item.children | length %} * {% endif %}
  </a>

  {# sublevel  #}
  {%- if item.children.length -%}
    <ul class="ml-2">
      {%- for child in item.children %}
        {{ menuitems(child, page) }}
      {% endfor -%}
    </ul>
  {%- endif -%}

</li>
</ul>
{%- endmacro %}
{# /Macro  #}
