---
layout: default.njk
saga-template-name: Post Default
---
{# POST
------------------------------------------------
post template
#}
{%- if env.mode != 'prod' %}
  <!-- ___layouts/post/post.njk  -->
{%- endif -%}
{{ title }}

{% if image %}

    {% picture
      img=image,
      width=[640,1280,1536],
      sizes="(max-width: 640px) 50vw, 100vw",
      css="",
      loading = "eager"
  %}

{% endif %}






    {% include "nav/tags.njk" %}

      {{ date | formatDate("DDD  T", "DK") }}



      {{ content | safe }}


    {# Pre next nav #}
    {% include "nav/post-pre-next.njk" %}


  {# sidebar #}


    {# list of post #}
    {% include "nav/posts.njk" %}

    {% include "share.njk" %}




