---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
{{ site.title }}
{{ env.url }}
{{ eleventy.generator }}
saga11: {{saga11.version }}
---

{{ site.humantxt }}

---
Build:
{{ page.date | formatDate("cccc d. MMMM yyyy HH:mm") }}
