---
layout: default.njk
saga-template-name: notification
---
{%- if env.mode != 'prod' %}<!-- ___layouts/post/post.njk  -->{%- endif -%}



  {{ title }}

    {{ date | formatDate("DDD  T", "DK") }}
     - {{ status }}


    {{ text | markdown | safe }}


    {{ content | safe }}




