{%- if env.mode != 'prod' %}  <!-- __includes/components/testamonial/testamonial.njk -->{%- endif -%}



  {# title + text #}


      {{ component.title }}

    {% if component.text %}

        {{ component.text  | markdown | safe  }}

    {% endif %}



  {% for item in component.testamonial %}

    {# person #}

      {% picture
        img=item.image,
        width=[100],
        sizes="(min-width: 1600px) 50vw, 100vw",
        css="rounded-full w-12 h-12 border border-teal-400  dark:border-teal-100 mr-4",
        alt=""
      %}

        {{ item.person }}
        {{ item.persontitle }}


    {# / person #}

    {# quote #}

      {{ item.title }}


    {% if item.text %}

        {{ item.text  | markdown | safe  }}

    {% endif %}

    {# url link #}
    {% if item.url %}

      {{ item.url }}

        {% include "icons/arrow-top-right-on-square.svg" %}


    {% endif %}

  {% endfor %}


