{%- if env.mode != 'prod' %}  <!-- __includes/components/testamonial/testamonial.njk -->{%- endif -%}

{{ component.title }}

{% if component.text %}
  {{ component.text  | markdown | safe  }}
{% endif %}

{% for item in component.testamonial %}

  {% picture
    img=item.image,
    width=[200],
    sizes="(min-width: 1600px) 50vw, 100vw",
    alt=""
  %}
  {{ item.person }}
  {{ item.persontitle }}
  {{ item.title }}

  {% if item.text %}
    {{ item.text  | markdown | safe  }}
  {% endif %}

  {% if item.url %}
    <a href="{{ item.url }}"> link </a>
  {% endif %}

{% endfor %}
