---
pagination:
  data: billetto
  alias: event
  size: 1
layout: default.njk
permalink: 'billetto/{{ event.title | slugify }}/'
title: Billletto
---
{{ event.title }}
<br><br>
{{ event.startdate | formatDate("cccc d. MMMM yyyy HH:mm", "DK")  }}
-
{{ event.enddate | formatDate("cccc d. MMMM yyyy HH:mm", "DK")  }}

<br><br>
pris: {{ event.minimum_price.amount_in_cents }} {{ event.minimum_price.currency }}
<a href="{{ event.url }}">Købs link</a>

availability: {{ event.availability}}


<img src="{{ event.image_link }}" alt="img">
<p>
{{ event.description | markdown | safe }}
</p>


{# YO {{ event | debug  | safe }} #}
<a href="{{event.public_url}}">{{event.name}}</a>


<hr>
{% for item in billetto %}
  {{ item.title}} <br>

{% endfor %}

