{%- if env.mode != 'prod' %}<!-- src/__includes/components/calendar/calendar.njk -->{%- endif -%}

{% if component.date_start %}

<div>

  {{ component.date_start | formatDate("DDD") }}

  {% if (component.date_allday == true) and (component.date_start  | formatDate("ccc d MMMM")  == date_end  | formatDate("ccc d MMMM") ) %}
    {# Day is the same + all day   #}
    <div class="text-3xl">{{ component.date_start | formatDate("ccc d MMMM") }}</div>
    <div class="text-xl">All Day</div>

  {% elseif (component.date_start  | formatDate("ccc d MMMM")  == component.date_end  | formatDate("ccc d MMMM") ) %}
    {# Day is the same #}
    <div class="text-3xl">{{ component.date_start | formatDate("ccc d MMMM") }}</div>
    <div class="text-xl">{{ component.date_start | formatDate("HH:mm") }} - {{ component.date_end | formatDate("HH:mm") }}</div>

  {% elseif (date_start  | formatDate("yyyy")  == date_end  | formatDate("yyyy") ) %}
    {# Day is the year #}
    <div class="text-3xl">
      {{ component.date_start | formatDate("d MMMM HH:mm (ccc)") }} - {{ component.date_end | formatDate("ccc d MMMM HH:mm (ccc) ") }}  {{ component.date_start  | formatDate("yy") }}
    </div>
  {% else %}
    <div class="text-3xl">{{ component.date_start | formatDate("ccc d MMMM yy HH:mm") }} - {{ component.date_end | formatDate("ccc d MMMM HH:mm") }}</div>
  {% endif %}

{# Add to calendar link #}
  <div>
  Add to calendar:
  </div>

  <div>
    <a href="{% calendar google, component.date_start, component.date_end, component.date_allday, title, teaser, location %}" target="_blank" class="inline-block p-2 bg-red-300">Google</a>
    <a href="{% calendar ics, component.date_start, component.date_end, component.date_allday, title, teaser, location %}" target="_blank" class="inline-block p-2 bg-red-300">ics</a>
    <a href="{% calendar outlook, component.date_start, component.date_end, component.date_allday, title, teaser, location %}" target="_blank" class="inline-block p-2 bg-red-300">outlook</a>
    <a href="{% calendar office365, component.date_start, component.date_end, component.date_allday, title, teaser, location %}" target="_blank" class="inline-block p-2 bg-red-300">office365</a>
    <a href="{% calendar yahoo, component.date_start, component.date_end, component.date_allday, title, teaser, location %}" target="_blank" class="inline-block p-2 bg-red-300">yahoo</a>
  </div>
</div>

{% endif %}
