{% from 'src/_system/netlifycms/templatecollection.macro.liquid' import templatecollection, templaterelation %}
{% raw %}
  # -----------------------------------------------------------------
  # Post Collection
  # -----------------------------------------------------------------
  - name: post
    label: 🧑🏽‍💻 Posts
    label_singular: 🧑🏽‍💻 Post
    description: "Post fx blogpost etc"
    folder: "src/content/post"
    slug: "{{year}}/{{month}}/{{day}}_{{slug}}"
    preview_path: /post/{{title}}/
    create: true
    delete: true
    editor:
      preview: false
    summary: "{{title}} {{url.parent}} {{card.image}} "
    sortable_fields: ["title", "order", "date"]
    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true
    view_groups:
      - label: "Parent: "
        field: url.parent
      - label: Tag
        field: tags
      - label: "Date: "
        field: date
        pattern: "([0-9]+(-[0-9]+)+)"
      - label: Drafts
        field: eleventyExcludeFromCollections
    nested:
      depth: 100 # max depth to show in the collection tree
      summary: "{{title}}"

    fields:
{% endraw %}
  {% include "src/_system/netlifycms/fields/title.liquid" %}
  {% include "src/_system/netlifycms/fields/image.liquid" %}
  {% include "src/_system/netlifycms/fields/card.liquid" %}
  {% include "src/_system/netlifycms/fields/content.liquid" %}
  {% include "src/_system/netlifycms/fields/tags.liquid" %}
  {% include "src/_system/netlifycms/fields/date.liquid" %}
  {{ templaterelation( collection="posttemplates", folder="post") }}
  {% include "src/_system/netlifycms/fields/draft.liquid" %}
{% raw %}
