
<label for="form-item-{{ item.title | urlencode  }}">{{ item.title }}</label>

<textarea
  name="{{ name }}"
  id="form-item-{{ item.title | urlencode  }}"
  placeholder="{{ item.placeholder }} "
  {% if item.required %}required{% endif %}
  ></textarea>

