{%- if env.mode != 'prod' %}  <!-- src/themes/grunn/includes/components/form/form.njk -->{%- endif  -%}



  {{ component.title }}

  {% if component.text %}

      {{ component.text  | markdown | safe  }}

  {% endif %}


  <form
    class="flex flex-col space-y-4 mb-4"
    name="{{ component.name | urlencode }}"
    method="POST"
    data-netlify="true"
    netlify-honeypot="bot-field"
    action="/{{ component.action }}/"
  >
    {#  #}

      secret



    {# Create form elements #}
    {% for item in component.elements %}

      {% if item.inputtype == "textarea" %}
        {% include "components/form/field/textarea.njk" %}
      {% else %}
        {% include "components/form/field/input.njk" %}
      {% endif %}

    {% endfor %}




      {# <input type="reset" value="reset"
             class="px-4 py-2 rounded-sm font-bold uppercase bg-slate-400 text-slate-800 hover:bg-slate-300">
  #}
      <button
          aria-label="Submit"
          class="px-4 py-2 rounded-sm font-bold uppercase bg-lime-400 text-green-900 hover:bg-lime-300">Send





