{# Menu template
------------------------------------------------
Render the whole menu with all sub items
 #}
{%- if env.mode != 'prod' %}<!-- src/__includes/nav/menu.njk  -->{%- endif  -%}


{% from 'macro/menuitems.macro.njk' import menuitems %}

{% set navPages = collections.all | eleventyNavigation %}

<nav>
  <ul>
    {%- for entry in navPages %}
      {{ menuitems(entry, page) }}
    {%- endfor -%}
  </ul>
<nav>
