{# POST PRE NEXT NAVIGATION
------------------------------------------------
A simple pre / next nav for collections

 #}
{%- if env.mode != 'prod' %}<!-- __includes/nav/post-pre-next.njk  -->{%- endif  -%}


{%- if collections.allPosts %}


  {#  #}
  {%- set nextPost = collections.allPosts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.allPosts | getPreviousCollectionItem(page) %}

  {%- if nextPost or previousPost %}
  {# previous  link #}
  {%- if previousPost %}

      {% include "icons/arrow-left.svg" %}
      {{ previousPost.data.title }}

  {% endif %}
  {# Next  linl #}
  {%- if nextPost %}

      {{ nextPost.data.title }}
      {% include "icons/arrow-right.svg" %}

  {% endif %}
  {# /if pre of next #}
  {%- endif %}


{%- endif %}

