{# ALL POST
------------------------------------------------
collection that graps all post .allpost is defined in .eleventy.js
#}
{%- if env.mode != 'prod' %}<!-- src/__includes/nav/posts.njk  -->{%- endif  -%}

<nav aria-label="All posts">

  {% for item in collections.allPosts %}

  {# link #}
  {% if item.url in page.url -%}
    <a href="{{ item.url }}" aria-current="page">
      {{item.data.title}}
    </a>
  {% else %}
    <a href="{{ item.url }}">{{item.data.title}}</a>
  {% endif %}

  {# date #}
  {{ item.data.date | formatDate("cccc d. MMMM yyyy HH:mm", "DK") }}

  {% endfor %}
</nav>
