{# POST PRE NEXT NAVIGATION
------------------------------------------------
A simple pre / next nav for collections

 #}
{%- if env.mode != 'prod' %}<!-- __includes/nav/post-pre-next.njk  -->{%- endif  -%}

{%- if collections.allPosts %}

  {%- set nextPost = collections.allPosts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.allPosts | getPreviousCollectionItem(page) %}

  {%- if nextPost or previousPost %}
  {# previous  link #}
  {%- if previousPost %}

      {{ previousPost.data.title }}

  {% endif %}
  {# Next  linl #}
  {%- if nextPost %}
    <a href="{{ nextPost.url | url }}" title="{{ nextPost.data.title }}">
      {{ nextPost.data.title }}
   </a>
  {% endif %}
  {# /if pre of next #}
  {%- endif %}


{%- endif %}
