{# ALL POST
------------------------------------------------
collection that graps all post .allpost is defined in .eleventy.js
#}
{%- if env.mode != 'prod' %}<!-- src/__includes/nav/posts.njk  -->{%- endif  -%}



  {% for item in collections.allPosts %}


      {# link #}
      {% if item.url in page.url -%}

          {{item.data.title}}

      {% else %}

          {{ item.data.title }}

      {% endif %}
      {# date #}

        {{ item.data.date | formatDate("cccc d. MMMM yyyy HH:mm", "DK") }}




  {% endfor %}

