---
layout: default.liquid
saga-template-name: Post Default
---

{%- if env.mode != 'prod' %}
<!-- ___layouts/post/post.liquid  -->
{%- endif -%}

<h1 class="pb-4 text-6xl dark:text-cyan-200">{{ title }}</h1>

{% render "nav/links",
  collection : collections.allPosts,
  url: page.url,
  showdate: true
%}

{% assign previousPost = collections.allPosts | getPreviousCollectionItem %}
{% assign nextPost =    collections.allPosts | getNextCollectionItem %}
{% include 'nav/pre-next.liquid',
      previousPost: previousPost,
      nextPost: nextPost
%}

{% if image %}
<div class="aspect-video overflow-hidden shadow-lg">
  {% include 'image.liquid',
  file: image,
  alt: title,
  sizes: "(min-width: 30em) 50vw, 100vw",
  widths: "400, 800, 1200",
  format: "webp",
  loading: "lazy",
  css: "w-full"
  %}
</div>
{% endif %}

<article class="flex flex-col md:flex-row">
  <div class="md:w-4/6">

    {% include "nav/tags.liquid" %}

    <time>{{ date | date: "%d %m %Y %H:%M", timeZone }}</time>

    <div class="prose prose-xl dark:prose-invert max-w-full">
      {{ content }}
    </div>

  </div>
  {% comment %}sidebar {% endcomment %}
  <div class="md:ml-4 md:w-2/6">


    {% include "nav/share.liquid" %}</div>
</article>