{#
------------------------------------------------
GALLERY image cards
------------------------------------------------
#}
{%- if env.mode != 'prod' %}  <!-- __includes/components/images/imagecards.njk -->{%- endif -%}

{% if component.images | length %}

  {% for item in component.images %}

    {% picture
      img=item.image,
      width=[400,800],
      sizes="(min-width: 1600px) 50vw, 100vw",
      css=""
    %}

    {{ item.title }}

  {% endfor %}

{% endif %}
