{# Page card
------------------------------------------------
This template controls how the pagecard template is rendered.

We count the amount of cards that are attached to the componenet pagecard and defines a grid
that matches - and then includes the right card include that matches
#}
{%- if env.mode != 'prod' %}<!-- src/__includes/components/pagecard/pagecard.njk -->{%- endif -%}

{# Add a grip to wrap around all the cards if theres more than one  #}


{% if component.page | length >= 4 %} <section class="grid grid-cols-4 gap-4 my-4">
{% elseif component.page | length == 3 %} <section class="grid grid-cols-3 gap-4 my-4">
{% elseif component.page | length == 2 %} <section class="grid grid-cols-2 gap-4 my-4">
{% endif %}


{% for page in component.page %}

  {# test the page and correct the path if its the frontpage aka: / #}
  {% if page == "/" %} {% set path = "/" %}
  {% else  %} {% set path = "/" + page + "/" %}
  {% endif %}

  {# Grap the data from collections.all  #}
  {% for item in collections.all | getPage( path ) -%}


    {# Test which card we wanna use  #}
    {% if component.page | length == "1" %}
      {# Single Card  #}
      <article class="lg:relative bg-white">

        <div class="lg:py-20">
          {# text #}
          <div class="lg:w-1/2 px-8">

            <h2 class="text-5xl text-cyan-700 pb-8">{{ item.data.card.title }}</h2>

            <div class="text-xl">{{ item.data.card.text }}</div>

            <div class="flex justify-center mt-8">
              <a href="{{ item.url }}"
                class="inline-block px-4 py-4 m-4 bg-cyan-700 text-white rounded text-xl">
                {{ item.data.title }}
              </a>
            </div>

          </div>
        </div>

        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">

          {% picture
            img=item.data.card.image,
            width=[400, 800],
            sizes="(min-width: 1600px) 50vw, 100vw",
            alt=item.data.card.alt,
            css="absolute inset-0 w-full h-full object-cover"
          %}
        </div>

      </article>
      {# / Single Card #}

    {% else %}
      {# Multiple card - If theres more than one show them as a card #}
      <article class="shadow border rounded bg-white">

        <a href="{{ item.url }}">

          <div class= "aspect-video overflow-hidden bg-slate-400">
            {% picture
              img=item.data.card.image,
              width=[400, 800],
              sizes="(min-width: 1600px) 50vw, 100vw",
              alt=item.data.card.alt
            %}
          </div>

          <div class="px-4 py-2 border-slate-100 text-slate-800 hover:text-slate-500">
            <h2 class="text-2xl">{{ item.data.title }}</h2>
            <div>{{ item.data.card.teaser }}</div>
          </div>

        </a>
      </article>
      {# Multiple card #}



    {% endif %}


  {% endfor %}

{% endfor %}

{# close the section #}
{% if component.page | length > 1 %}
  </section>
{% endif %}
