---
layout: default.njk
saga-template-name: Post Default
---
{# POST
------------------------------------------------
post template
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/post/post.njk  -->{%- endif -%}

<article class="flex flex-col md:flex-row ">
  <div class="md:w-2/3 ">

    <h1 class="text-5xl">{{ title }}</h1>
    <div class="aspect-video overflow-hidden">
      {% picture
          img=card.image,
          width=[200,400, 800],
          sizes="(min-width: 1600px) 50vw, 100vw",
          css="shadow rounded-xl",
          loading = "eager"
      %}
    </div>

    <footer class="mb-4">

      {%- for tag in tags | filtertags -%}
        {# grap the markdown files and loop through them #}
        {% for item in collections.all | getPage("/tag/" + tag + "/" ) %}
          <a href="/tag/{{ tag }}">{{ item.data.title }}</a>
        {% endfor %}
        {# divider #}
        {% if not loop.last %}, {% endif %}
      {% endfor %}

      <time>{{ date | formatDate("DDD  T", "DK") }}</time>

    </footer>

  <div class="prose">
    {{ content | safe }}
  </div>


  {# Pre next nav #}
  {% include "nav/post-pre-next.njk" %}

  </div>
  {# sidebar #}
  <div class="md:w-1/3 md:ml-4">

  {% picture
        img=image,
        alt='',
        width=[400],
        sizes="(min-width: 1600px) 50vw, 100vw",
        css="shadow rounded ",
        loading = "eager"
    %}


    {% include "share.njk" %}


    {# list of post #}
    {% include "nav/posts.njk" %}

    {# List of tags #}

    {% include "nav/tags.njk" %}


  </div>

</article>
