---
layout: default.njk
saga-template-name: Post Default
---
{# POST
------------------------------------------------
post template
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/post/post.njk  -->{%- endif -%}
<h1 class="text-6xl dark:text-cyan-200 pb-4">{{ title }}</h1>

<div class="aspect-video overflow-hidden shadow-lg ">
  {% picture
      img=card.image,
      width=[640,1280,1536],
      sizes="(max-width: 640px) 50vw, 100vw",
      css="",
      loading = "eager"
  %}
</div>


<article class="flex flex-col md:flex-row ">
  <div class="md:w-4/6">

    <footer class="mt-4 text-lg flex flex-row space-x-4">
      {% include "nav/tags.njk" %}
      <time>{{ date | formatDate("DDD  T", "DK") }}</time>
    </footer>

    <div class="prose prose-xl max-w-full dark:prose-invert">
      {{ content | safe }}
    </div>

    {# Pre next nav #}
    {% include "nav/post-pre-next.njk" %}

  </div>
  {# sidebar #}
  <div class="md:w-2/6 md:ml-4">

    {# list of post #}
    {% include "nav/posts.njk" %}

    {% include "share.njk" %}

  </div>

</article>
