---
layout: _base/base.njk
---
{%- include "_layout/header.njk" %}
>
<main id="main" tabindex="-1" class="pagewidth flex-grow mt-24">
  {{ content | safe }}
</main>

{%- include "_layout/footer.njk" %}
