{# HEADER
------------------------------------------------
Global header for the site
 #}
{%- if meta.env != 'prod' %}<!-- _layout/header.njk  -->{%- endif  -%}
<header role="banner" class="js-header bg-white shadow fixed w-full bg-white z-50 h-16 md:h-20" >

</nav>
