---
layout: default.liquid
saga-template-name: tag
---
{%- if env.mode != 'prod' %}
<!-- src/theme-grunn/layouts/tag/tag.liquid  -->
{%- endif -%}

<section>
  <article class="mx-auto max-w-7xl">

    <h1 class="text-6xl text-primary-700 dark:text-cyan-200 flex flex-row justify-center items-center">
{% comment %}

{% if icon %}
<div class="h-16 w-16">{% include icon %}</div>
{% endif %}
{% endcomment %}
{{ title }}
    </h1>

    {% include "tag/tagcloud.liquid" %}

    <div class="prose prose-xl max-w-full dark:prose-invert ml-4">
      {{ content }}
    </div>

  </article>

  <div class="md:grid grid-cols-3 gap-4 py-4">

    {% comment %}
    the page.fileslug is the tags identifier in all the md files
    ex:
    tags:
    - saga11
    That then refers to the file tag/saga.md that constainss all the data the we use on this page.
    {% endcomment %}

    {% for item in collections[page.fileSlug] %}

    {% render 'card',
      title: item.data.card.title,
      text: item.data.card.text,
      image: item.data.card.image,
      url: item.url,
      date: item.date
  %}

    {% endfor %}

  </div>

  <a href="/feed/{{ title | replace: " ", "" |  slugify }}.xml" class="flex flex-row items-center underline">
    <div>Grap the {{ title | replace: " ", "" |  slugify }} RSS feed </div>
    <div class="w-4 h-4 text-black ml-2">{% include "svg/rss.svg" %}</div>
  </a>

</section>
