{% raw %}
  # -----------------------------------------------------------------
  # Setings
  # -----------------------------------------------------------------
  - label: ⚙️ Settings
    name: Settings
    files:
{% endraw %}
{% include "src/_system/netlifycms/settings/site.liquid" %}
{% include "src/_system/netlifycms/settings/some.liquid" %}
{% include "src/content/_netlifycms/settings.liquid" %}
