{%- if env.mode != 'prod' %}
<!-- 👋 sections src/theme-grunn/includes/components/collection/collection.liquid -->
{%- endif -%}

{% comment %}title + text {% endcomment %}
<article class="mx-auto max-w-3xl">
  {% if component.title %}
  <h2 class="text-5xl text-cyan-700 dark:text-cyan-200 py-4 text-center">
    {{ component.title }}
  </h2>
  {% endif %}

  {% if component.text %}
  <div class="text-xl">
    {{ component.text  | markdown }}
  </div>
  {% endif %}
</article>

<section class="grid md:grid-cols-3 gap-4 my-4" aria-label="Collection">

  {% for item in collections[component.collection] %}

  {%- if env.mode != 'prod' %}
  <!-- markdown file: {{ item.inputPath }}  -->
  {%- endif -%}

  {%
    render 'card',
    title: item.data.card.title,
    text: item.data.card.text,
    image: item.data.card.image,
    url: item.url,
    date: item.date
  %}

  {% endfor %}
</section>