{# Menu template
------------------------------------------------
Render the whole menu with all sub items
 #}
{%- if env.mode != 'prod' %}<!-- /src/themes/grunn/includes/nav/menu.njk -->{%- endif  -%}

{# Menu desktop #}
<nav class="h-full hidden md:block" aria-label="Main Menu">
  <div class="flex justify-between h-full">
    {% set menulvl1 = "inline-flex items-center text-xl font-bold border-b-4  transition hover:bg-cyan-50/50 hover:border-cyan-500/50" %}
    {% set var = value %}
    {% set menulvl2 = "p-4 text-lg  hover:text-cyan-600 hover:bg-cyan-500/10" %}
    <div class="flex space-x-4">

    {# level 1 #}
    {%- for item in collections.all | eleventyNavigation("main") %}

      {# test if theres children to the first level of menu items #}
      {% if not item.children | length %}
      <a href="{{ item.url }}"
        {# active page #}
        {% if item.url in page.url %}
          aria-current="page" class="{{ menulvl1 }} text-cyan-600 border-cyan-500/20"
        {% else  %}
          class="{{menulvl1 }} text-slate-500 border-transparent"
        {% endif %}
        {# if target #}
        {% if item.target %}
          target="_blank"
        {% endif %}
      >
        {{ item.title }}
      </a>

      {% else %}
      {# Level 2  #}
        <div x-data="{openmenuitem: false}"
            class="{{ menulvl1 }} text-slate-500 border-transparent"
            @click="openmenuitem = true"
        >
          <div class="flex items-center">
            <div>{{ item.title }}</div>
            <div class="w-4 h-4 text-slate-400 ml-2 mt-2">{% include "svg/chevron-down.svg" %}</div>


          </div>

          {# Here level 2that opens up when clicked #}
            <div
              class="absolute z-40 top-20 min-h-40 w-60 bg-white/90 shadow-lg flex flex-col rounded-md"
              x-cloak
              x-show="openmenuitem"
              @mouseover="openmenuitem = true"
              @click.outside="openmenuitem = false"
            >

            {# We repeat the link from placeholder above so it works on a ipad etc #}
            <a href="{{ item.url }}" class="{{ menulvl2 }}">{{ item.title }}</a>

            {# Loop next level #}
            {%- for item in collections.all | eleventyNavigation(item.key) %}
              <a href="{{ item.url }}" class="{{ menulvl2 }}"
                 {% if item.target %}target="_blank" {% endif %}
              >
              {{ item.title }}
              </a>
            {% endfor %}
            </div>
          </div>

      {# / Level 2  #}
      {%- endif -%}
    {%- endfor -%}
    {# /level 1  #}
    </div>

  </div>
</nav>
{# /Menu Desktop #}
