{# Menu template
------------------------------------------------
Render the whole menu with all sub items
 #}
{%- if env.mode != 'prod' %}<!-- src/__includes/nav/menu.njk  -->{%- endif  -%}

{# Menu desktop #}
<nav class="h-full hidden md:block" aria-label="Main Menu">
  <div class="flex justify-between h-full">

  {% set menuclasses = "inline-flex items-center text-xl font-bold  border-b-4  transition hover:bg-cyan-50/50 hover:border-cyan-500/50" %}
    <div class="flex space-x-4">
      {# level 1 #}
      {%- for item in collections.all | eleventyNavigation("main") %}

      <a href="{{ item.url }}"
        {# active page #}
        {% if item.url in page.url %}
          aria-current="page" class="{{menuclasses}} text-cyan-600 border-cyan-500/20"
        {% else  %}
          class="{{menuclasses}} text-slate-500 border-transparent"
        {% endif %}
        {# if target #}
        {% if item.target %}
          target="_blank"
        {% endif %}
      >
        {{ item.title }}

        {% if item.children | length %}

        {% endif %}
      </a>


      {%- endfor -%}
      {# /level 1  #}
    </div>

  </div>
</nav>
{# /Menu Desktop #}
