{% raw %}
  # -----------------------------------------------------------------
  # Setings
  # -----------------------------------------------------------------
  - label: ⚙️ Settings
    name: Settings
    files:
{% endraw %}
{% include "src/system/netlifycms/settings/site.njk" %}
{% include "src/system/netlifycms/settings/some.njk" %}
{% include "src/content/_netlifycms/settings.njk" %}
