{% raw %}

      - label: "Social Network links"
        name: "some"
        file: "src/content/_data/some.json"
        fields:
          - {
              label: mastodon,
              name: mastodon,
              widget: string,
              required: false,
              hint: "Add the complete url with https",
            }
          - {
              label: facebook (username),
              name: facebook,
              widget: string,
              required: false,
              hint: "https://www.facebook.com/...",
            }
          - {
              label: youtube (username),
              name: youtube,
              widget: string,
              required: false,
              hint: "https://www.youtube.com/...",
            }
          - {
              label: twitter (username),
              name: twitter,
              widget: string,
              required: false,
              hint: "https://www.twitter.com/[name]",
            }
          - {
              label: pinterest  (username),
              name: pinterest,
              widget: string,
              required: false,
              hint: "https://www.pinterest.com/[name]",
            }
          - {
              label: linkedin  (username),
              name: linkedin,
              widget: string,
              required: false,
              hint: "https://www.linkedin.com/in/[name]",
            }
          - {
              label: instagram  (username),
              name: instagram,
              widget: string,
              required: false,
              hint: "https://www.instagram.com/[name]",
            }
          - {
              label: github  (username),
              name: github,
              widget: string,
              required: false,
              hint: "https://github.com/...",
            }
          - {
              label: dribble  (username),
              name: dribble,
              widget: string,
              required: false,
              hint: "https://dribbble.com/[name]",
            }
          - {
              label: tiktok,
              name: tiktok,
              widget: string,
              required: false,
              hint: "https://tiktok.com/@[name]",
            }
          - {
              label: Twitch,
              name: twitch,
              widget: string,
              required: false,
              hint: "https://twitch.tv/[name]",
            }
          - {
              label: Patreon,
              name: patreon,
              widget: string,
              required: false,
              hint: "https://patreon.com/[name]",
            }
          - {
              label: Discord,
              name: discord,
              widget: string,
              required: false,
              hint: "https://discord.gg/[name]",
            }

          - {
              label: Soundcloud,
              name: soundcloud,
              widget: string,
              required: false,
              hint: "https://soundcloud.com/[name]",
            }
          - {
              label: Bandcamp,
              name: bandcamp,
              widget: string,
              required: false,
              hint: "https://[name].bandcamp.com/",
            }
{% endraw %}
