{% raw %}

      - label: "Social Network links"
        name: "some"
        file: "src/content/_data/some.json"
        fields:

          - {
              label: facebook,
              name: facebook,
              widget: string,
              required: false,
              hint: "https://www.facebook.com/...",
            }
          - {
              label: youtube,
              name: youtube,
              widget: string,
              required: false,
              hint: "https://www.youtube.com/...",
            }
          - {
              label: twitter,
              name: twitter,
              widget: string,
              required: false,
              hint: "https://www.twitter.com/...",
            }
          - {
              label: pinterest,
              name: pinterest,
              widget: string,
              required: false,
              hint: "https://www.pinterest.com/...",
            }
          - {
              label: pinterest_verification,
              name: pinterest_verification,
              widget: string,
              required: false,
              hint: "can be found on https://www.pinterest.dk/settings/claim",
            }
          - {
              label: linkedin,
              name: linkedin,
              widget: string,
              required: false,
              hint: "https://www.linkedin.com/in/...",
            }
          - {
              label: instagram,
              name: instagram,
              widget: string,
              required: false,
              hint: "https://www.instagram.com/...",
            }
          - {
              label: github,
              name: github,
              widget: string,
              required: false,
              hint: "https://github.com/...",
            }
          - {
              label: dribble,
              name: dribble,
              widget: string,
              required: false,
              hint: "https://dribbble.com/[name]",
            }
          - {
              label: tiktok,
              name: tiktok,
              widget: string,
              required: false,
              hint: "https://tiktok.com/@[name]",
            }
          - {
              label: Twitch,
              name: twitch,
              widget: string,
              required: false,
              hint: "https://twitch.tv/[name]",
            }
          - {
              label: Patreon,
              name: patreon,
              widget: string,
              required: false,
              hint: "https://patreon.com/[name]",
            }
          - {
              label: Discord,
              name: discord,
              widget: string,
              required: false,
              hint: "https://discord.gg/[name]",
            }

          - {
              label: Soundcloud,
              name: soundcloud,
              widget: string,
              required: false,
              hint: "https://soundcloud.com/[name]",
            }
          - {
              label: Bandcamp,
              name: bandcamp,
              widget: string,
              required: false,
              hint: "https://[name].bandcamp.com/",
            }
{% endraw %}
