
<article class="grid grid-cols-2 gap-4 bg-pink-500">
  <div>
    {{ section.title }}
  {% if section.text %}
    <div class="wysiwyg">
      {{ section.text  | markdown | safe  }}
    </div>
  {% endif %}

  </div>
  <div>
    {% include "contactform.njk" %}
  </div>

</article>



