{# COLLECTION OF POSTS
------------------------------------------------
#}
{%- if env.mode != 'prod' %}<!-- src/__includes/sections/text.njk  -->{%- endif -%}

{% if section.text %}
  <div class="wysiwyg bg-slate-300">
    {{ section.text  | markdown | safe  }}
  </div>
{% endif %}

