---
permalink: /admin/config.yml
eleventyExcludeFromCollections: true
---
# Setup
# 1 Add users netlify identity
# https://app.netlify.com/sites/[SITENAME]/settings/identity#external-providers

# 2 enable git gateway
# https://app.netlify.com/sites/[SITENAME]/settings/identity#git-gateway

# Doc
# https://preview-auth-doc--netlify-cms-www.netlify.app/docs/customization/
#
backend:
  name: git-gateway
  branch: main
local_backend: true

#SETTINGS
{% if env.mode != 'prod' %}
site_url: http://localhost:8080
logo_url: http://localhost:8080/assets/icon/icon-apple-touch.png
display_url: http://localhost:8080
{% else %}
site_url: https://editorial-config.saga11.dev
logo_url: https://editorial-config.saga11.dev/assets/icon/icon-apple-touch.png
display_url: https://editorial-config.saga11.dev
{% endif %}

{# set this to raw so jnunjucks dont mess with the {{ }} #}
{% raw %}
search: true
# publish_mode: editorial_workflow
show_preview_links: true

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"

media_folder: "src/upload/"
public_folder: "/upload"


collections:
  # -----------------------------------------------------------------
  # Post Collection
  # -----------------------------------------------------------------
  - name: post
    label: Posts
    label_singular: Post
    description: "Content Posts"
    folder: "src/content/post"
    slug: "{{slug}}/index"
    preview_path: /{{url.parent}}/{{url.path}}/
    create: true
    delete: true
    editor:
      preview: false
    summary: "{{title}} {{url.parent}} {{card.image}} "
    sortable_fields: ["title", "order", "date"]
    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true
    view_groups:
      - label: "Parent: "
        field: url.parent
      - label: Tag
        field: tags
      - label: "Date: "
        field: date
        pattern: "([0-9]+(-[0-9]+)+)"
      - label: Drafts
        field: eleventyExcludeFromCollections
    nested:
      depth: 100 # max depth to show in the collection tree
      summary: "{{title}}"

    fields:
      - { label: "Title", name: "title", widget: "string" }

      - name: card
        label: card
        widget: object
        collapsed: false
        summary: "{{fields.teaser}} / {{fields.image}}"
        fields:
        - { label: "Image", name: "image", widget: "image", required: false, choose_url: false }
        - { label: "Image alt", name: "alt", widget: "string", required: false }
        - { label: "teaser", name: "teaser", widget: "text", required: false }

      - label: "Body"
        name: "body"
        widget: "markdown"
        buttons:
          - bold
          - italic
          - heading-one
          - heading-two
          - heading-three
          - code
          - quote
          - bulleted-list
        editor_components:
          - image
          - code-block
        required: false

      - name: url
        label: url
        widget: object
        collapsed: false
        summary: "{{fields.parent}} / {{fields.path}}"
        fields:
        - name: parent
          label: parent page
          widget: relation
          collection: page
          searchFields: [url]
          valueField: "{{url}}"
          display_fields: ["{{url}} (page: {{title}} ) "]
          required: false
          multiple: false
          hint: "The parent page ex: http://[domaine]/[parent]/"
        - { label: "path", name: "path", widget: "string"}

      # Tags
      - name: tags
        label: tags
        widget: relation
        collection: tags
        searchFields: [title]
        valueField: "{{slug}}"
        display_fields: ["title"]
        required: false
        multiple: true

      # Date
      - label: "Date"
        name: "date"
        widget: "datetime"
        date_format: "DD.MM.YYYY"
        time_format: "HH:mm"
        format: "YYYY-MM-DD HH:mm:ss"
        picker_utc: true

      # Layout selector
      - name: "layout"
        label: "Layout Selector"
        widget: relation
        collection: posttemplates
        searchFields: [saga-template-name]
        valueField: "post/{{filename}}.{{extension}}"
        displayFields: ["saga-template-name", " (File: _layouts/post/{{filename}}.{{extension}})"]
        default: "post/post.njk"
        required: true

      # Menu
      - name: eleventyNavigation
        label: Navigation
        widget: object
        collapsed: true
        summary: "{{fields.key}} / {{fields.parent}}"
        fields:
        - { label: "Label", name: "key", widget: "string", required: false}
        - name: "parent"
          label: Parent page
          widget: relation
          collection: page
          searchFields: [title]
          valueField: "{{eleventyNavigation.key}}"
          displayFields: [" {{eleventyNavigation.key}}"]
          required: false
          multiple: false
        - { label: "order", name: "order", widget: "number",required: false}


      - { label: "Order", name: "order", widget: "number", required: false, default="100" }
      - {
          label: "Draft Mode",
          name: "eleventyExcludeFromCollections",
          widget: "boolean",
          default: false,
          required: false,
          hint: "is this a draft ?",
        }


  # -----------------------------------------------------------------
  # Pages Collection
  # -----------------------------------------------------------------
  - name: page
    label: Pages
    label_singular: Page
    description: "Pages used for landing pages with collections added"
    folder: "src/content/page"
    slug: "{{url}}/index"
    preview_path: /{{url}}/
    create: true
    delete: true
    editor:
      preview: false
    summary: "url: {{url}}  : {{title}} "
    sortable_fields: ["title","url", "order", "date"]
    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true
    view_groups:
      - label: Tags
        field: tags
    nested:
      depth: 5 # max depth to show in the collection tree
      summary: "{{title}}"

    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "url", name: "url", widget: "string" }

      - name: card
        label: card
        widget: object
        collapsed: true
        summary: "{{fields.image}} {{fields.teaser}} "
        fields:
        - { label: "Image", name: "image", widget: "image", required: false, choose_url: false }
        - { label: "Image alt", name: "alt", widget: "string", required: false }
        - { label: "teaser", name: "teaser", widget: "text", required: false }

      # SECTION
      - label: 'Components'
        label_singular: 'Component'
        name: 'components'
        widget: 'list'
        add_to_top: true
        collapsed: true
        types:

          - label: 'Image Gallery'
            name: 'images'
            widget: object
            summary: '{{fields.title}} || {{fields.template}}'
            fields:
              - label: Images
                name: images
                widget: list
                add_to_top: true
                fields:
                  - { label: Image, name: image, widget: image, choose_url: false }
                  - { label: title, name: title, widget: string, required: false }
              - name: "template"
                label: "Template"
                widget: relation
                collection: componentTemplateImages
                searchFields: [title]
                valueField: "components/images/{{filename}}.{{extension}}"
                displayFields: ["componenets/images/{{filename}}.{{extension}}"]
                required: true
                default: "components/images/images.njk"


          - label: 'Collection - tag based'
            name: 'collection'
            widget: object
            summary: '{{fields.collection}} || {{fields.template}}'
            fields:
              - name: collection
                label: collection
                widget: relation
                collection: tags
                searchFields: [title]
                valueField: "{{slug}}"
                display_fields: ["title"]
                multiple: false
                hint: "Select all content with the tag"
              - { label: title, name: title, widget: string, default: 'Collection', required: false }
              - { label: text, name: text, widget: markdown, required: false }
              - name: "template"
                label: "Template"
                widget: relation
                collection: componentTemplateCollection
                searchFields: [title]
                valueField: "components/collection/{{filename}}.{{extension}}"
                displayFields: ["componenets/collection/{{filename}}.{{extension}}"]
                required: true
                default: "components/collection/collection.njk"


          - label: 'Text'
            name: 'text'
            widget: object
            summary: "{{fields.text | truncate(100, '...')}} || {{fields.template}}"
            fields:
              - { label: text, name: text, widget: markdown, required: false }
              - name: "template"
                label: "Template"
                widget: relation
                collection: componentTemplateText
                searchFields: [title]
                valueField: "components/text/{{filename}}.{{extension}}"
                displayFields: ["componenets/text/{{filename}}.{{extension}}"]
                required: true
                default: "components/text/text.njk"


          - label: 'Image'
            name: 'image'
            widget: object
            summary: "{{fields.text | truncate(100, '...')}}  || {{fields.template}}"
            fields:
              - { label: Image, name: image, widget: image, choose_url: false }
              - { label: alt, name: alt, widget: string, required: false }
              - { label: title, name: title, widget: string, required: false }
              - { label: text, name: text, widget: markdown, required: false }
              - name: "template"
                label: "Template"
                widget: relation
                collection: componentTemplateImage
                searchFields: [title]
                valueField: "components/image/{{filename}}.{{extension}}"
                displayFields: ["componenets/image/{{filename}}.{{extension}}"]
                required: true
                default: "components/image/image.njk"


          - label: 'Form'
            name: 'form'
            widget: object
            summary: '{{fields.title}} || {{fields.template}}'
            fields:
              - { label: title, name: title, widget: string, default: 'Contact', required: false }
              - { label: text, name: text, widget: markdown, required: false }
              - name: "template"
                label: "Template"
                widget: relation
                collection: componentTemplateForm
                searchFields: [title]
                valueField: "components/form/{{filename}}.{{extension}}"
                displayFields: ["componenets/form/{{filename}}.{{extension}}"]
                required: true
                default: "components/form/form.njk"


          - name: "download"
            label: "Download"
            widget: object
            summary: '{{fields.files.file }} || {{fields.template}}'
            fields:
              - label: Files
                name: files
                widget: list
                add_to_top: true
                fields:
                  - { label: file, name: file, widget: file, choose_url: true }
                  - { label: title, name: title, widget: string, required: false }
              - name: "template"
                label: "Template"
                widget: relation
                collection: componentTemplateDownload
                searchFields: [title]
                valueField: "components/download/{{filename}}.{{extension}}"
                displayFields: ["componenets/download/{{filename}}.{{extension}}"]
                required: true
                default: "components/download/download.njk"


          - name: "pagecard"
            label: "Page Cards"
            widget: object
            summary: '{{fields.page}} || {{fields.template}}'
            fields:
              - name: page
                label: Related Pages
                widget: relation
                collection: page
                searchFields: [title]
                valueField: "{{url}}"
                displayFields: ["url: {{url}}  - Title: {{title}}"]
                required: false
                multiple: true
              - name: "template"
                label: "Template"
                widget: relation
                collection: componentTemplatePagecard
                searchFields: [title]
                valueField: "components/pagecard/{{filename}}.{{extension}}"
                displayFields: ["componenets/pagecard/{{filename}}.{{extension}}"]
                required: true
                default: "components/pagecard/pagecard.njk"


          - name: "calendar"
            label: "Calendar Event"
            widget: object
            summary: '{{fields.date_start}} - {{fields.date_start}} || {{fields.template}}'
            fields:
            - label: "Calendar start"
              name: "date_start"
              default: ""
              widget: "datetime"
              date_format: "DD/MM/YYYY"
              time_format: "HH:mm"
              format: "YYYY-MM-DD HH:mm:ss"
              picker_utc: true
              required: false
            - label: "Calendar end"
              name: "date_end"
              default: ""
              widget: "datetime"
              date_format: "DD/MM/YYYY"
              time_format: "HH:mm"
              format: "YYYY-MM-DD HH:mm:ss"
              picker_utc: false
              required: false
            - label: "Calendar All Day"
              name: "date_allday"
              widget: "boolean"
              default: false
              required: false
            - name: "template"
              label: "Template"
              widget: relation
              collection: componentTemplateCalendar
              searchFields: [title]
              valueField: "components/calendar/{{filename}}.{{extension}}"
              displayFields: ["componenets/calendar/{{filename}}.{{extension}}"]
              required: true
              default: "components/calendar/calendar.njk"


          - name: "njktemplate"
            label: "Nunjucks Template"
            widget: object
            summary: '{{fields.page}} || {{fields.template}}'
            fields:
              - name: "template"
                label: "Template"
                widget: relation
                collection: componentTemplateTemplates
                searchFields: [title]
                valueField: "components/templates/{{filename}}.{{extension}}"
                displayFields: ["componenets/templates/{{filename}}.{{extension}}"]
                required: true
                default: "components/templates/default.njk"

      # Tags
      - name: tags
        label: tags
        widget: relation
        collection: tags
        searchFields: [title]
        valueField: "{{slug}}"
        display_fields: ["title"]
        required: false
        multiple: true

      - name: eleventyNavigation
        label: Navigation
        widget: object
        collapsed: true
        summary: "{{fields.key}} |  {{fields.parent}}"
        fields:
        - { label: "Label", name: "key", widget: "string", required: false}
        - { label: "order", name: "order", widget: "number",required: false}
        - name: "parent"
          label: Parent page
          widget: relation
          collection: page
          searchFields: [title]
          valueField: "{{eleventyNavigation.key}}"
          displayFields: [" {{eleventyNavigation.key}}"]
          required: false
          multiple: false

      # Layout selector
      - name: "layout"
        label: "Layout Selector"
        widget: relation
        collection: pagetemplates
        searchFields: [saga-template-name]
        valueField: "page/{{filename}}.{{extension}}"
        displayFields:
          ["saga-template-name", " (File: _layouts/page/{{filename}}.{{extension}})"]
        required: false
        default: "page/page.njk"
        hint: "select the template file t hat should render this page - templates are in /src/__layouts/page/"

      - {
          label: "Draft Mode",
          name: "eleventyExcludeFromCollections",
          widget: "boolean",
          default: false,
          required: false,
        }


  # -----------------------------------------------------------------
  # Link In Bio Collection
  # -----------------------------------------------------------------
  - name: linkinbio
    label: Link in bio
    label_singular: linkinbio
    description: "Link in bio pages"
    folder: "src/content/linkinbio"
    slug: "{{url}}/index"
    preview_path: /{{url}}/

    create: true
    delete: true
    editor:
      preview: false

    # Overview
    summary: "{{title}} [{{url}}]"
    sortable_fields: ["title", "order", "date"]

    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true

    view_groups:
      - label: Tags
        field: tags

    nested:
      depth: 5 # max depth to show in the collection tree
      summary: "{{title}}"

    fields:
      - { label: "Title", name: "title", widget: "string", default: "Biopage"  }
      - { label: "url", name: "url", widget: "string", default: "link" }
      - { label: "Image", name: "image", widget: "image", required: false, choose_url: false}
      - { label: "alt", name: "alt", widget: "string", required: false }
      - label: "Body"
        name: "body"
        widget: "markdown"
        buttons:
          - bold
          - italic
          - heading-two
          - heading-three
          - link
          - quote
          - bulleted-list
        editor_components:
          - image
          - code-block
        required: false

      # Link
      - label: "Link"
        name: "link"
        collapsed: false
        minimize_collapsed: true
        widget: "list"
        fields:
          - {label: link, name: url, widget: string, default: "https://", required: false}
          - {label: text, name: label, widget: string, required: false }
      # Layout selector
      - name: "layout"
        label: "Layout Selector"
        widget: relation
        collection: pagetemplates
        searchFields: [saga-template-name]
        valueField: "page/{{filename}}.{{extension}}"
        displayFields:
          ["saga-template-name", " (File: _layouts/page/{{filename}}.{{extension}})"]
        required: false
        default: "page/link.njk"


  # -----------------------------------------------------------------
  # System pages
  # -----------------------------------------------------------------
  - label: "System pages"
    name: "systempages"
    files:
      - label: "Form Success"
        name: "contactsuccess"
        preview_path: /success
        file: "src/content/success.md"
        fields:
          - { label: Title, name: title, widget: string }
          - { label: "Body", name: "body", widget: "markdown", required: false }
          - { label: "alt", name: "alt", widget: "string", required: false }

  # -----------------------------------------------------------------
  # Relations Tags
  # -----------------------------------------------------------------
  - name: tags
    label_singular: tag
    label: "Tags"
    folder: "src/content/tags"
    slug: "{{title}}"
    hide: false
    create: true
    delete: false
    fields:
      - { label: "Title", name: "title", widget: "string" }

  # -----------------------------------------------------------------
  # Templates
  # -----------------------------------------------------------------
  - name: posttemplates
    label_singular: template
    label: "Post Templates"
    folder: "src/___layouts/post"
    slug: "{{title}}"
    hide: true
    create: false
    delete: false
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  - name: pagetemplates
    label_singular: template
    label: "page Templates"
    folder: "src/___layouts/page"
    slug: "{{title}}"
    hide: true
    create: false
    delete: false
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components related
  - name: componentTemplatePagecard
    label: "Template"
    folder: "src/__includes/components/pagecard"
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components collection
  - name: componentTemplateCollection
    label: "Template"
    folder: "src/__includes/components/collection"
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Images
  - name: componentTemplateImages
    label: "Template"
    folder: "src/__includes/components/images"
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Image
  - name: componentTemplateImage
    label: "Template"
    folder: "src/__includes/components/image"
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components text
  - name: componentTemplateText
    label: "Template"
    folder: "src/__includes/components/text"
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Form
  - name: componentTemplateForm
    label: "Template"
    folder: "src/__includes/components/form"
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Download
  - name: componentTemplateDownload
    label: "Template"
    folder: "src/__includes/components/download"
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Download
  - name: componentTemplateCalendar
    label: "Template"
    folder: "src/__includes/components/calendar"
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }

  # Components Download
  - name: componentTemplateTemplates
    label: "Template"
    folder: "src/__includes/components/templates"
    slug: "{{title}}"
    hide: true
    format: frontmatter
    extension: njk
    fields:
      - { label: "name", name: "name", widget: "string" }


  # -----------------------------------------------------------------
  # Setings
  # -----------------------------------------------------------------
  - label: "Settings"
    name: "settings"
    files:
      - label: "Site Settings"
        name: "sitesettings"
        file: "src/data/site.json"
        fields:
          - { label: title, name: title, widget: string }
          - { label: description, name: description, widget: text, required: false }
          - { label: keywords, name: keywords, widget: text, required: false }
          - { label: footer, name: footer, widget: markdown, required: false }
          - { label: "404 Errorpage", name: errorpage, widget: text, required: false }
          - { label: "humans.txt", name: humantxt, widget: text, required: false }

          - {
              label: Author (rss),
              name: authorname,
              widget: string,
              required: false,
              hint: "Feed Author name",
            }
          - {
              label: Aurthor Email (rss),
              name: authoremail,
              widget: string,
              required: false,
              hint: "Feed Author name",
            }
          - { label: browesercolor, name: color, widget: color, required: false }
          - { label: "Adress", name: "adress", widget: "string", required: false }
          - { label: "zip", name: "zip", widget: "string", required: false }

      - label: "Social Network links"
        name: "some"
        file: "src/data/some.json"
        fields:
          - {
              label: "rss feed",
              name: rss,
              widget: boolean,
              required: false,
              hint: "/feed.xml",
            }

          - {
              label: facebook,
              name: facebook,
              widget: string,
              required: false,
              hint: "https://www.facebook.com/...",
            }
          - {
              label: youtube,
              name: youtube,
              widget: string,
              required: false,
              hint: "https://www.youtube.com/...",
            }

          - {
              label: twitter,
              name: twitter,
              widget: string,
              required: false,
              hint: "https://www.twitter.com/...",
            }
          - {
              label: pinterest,
              name: pinterest,
              widget: string,
              required: false,
              hint: "https://www.pinterest.com/...",
            }
          - {
              label: pinterest_verification,
              name: pinterest_verification,
              widget: string,
              required: false,
              hint: "can be found on https://www.pinterest.dk/settings/claim",
            }
          - {
              label: linkedin,
              name: linkedin,
              widget: string,
              required: false,
              hint: "https://www.linkedin.com/in/...",
            }
          - {
              label: instagram,
              name: instagram,
              widget: string,
              required: false,
              hint: "https://www.instagram.com/...",
            }
          - {
              label: github,
              name: github,
              widget: string,
              required: false,
              hint: "https://github.com/...",
            }
          - {
              label: dribble,
              name: dribble,
              widget: string,
              required: false,
              hint: "https://dribbble.com/[name]",
            }
          - {
              label: tiktok,
              name: tiktok,
              widget: string,
              required: false,
              hint: "https://tiktok.com/@[name]",
            }
          - {
              label: Twitch,
              name: twitch,
              widget: string,
              required: false,
              hint: "https://twitch.tv/[name]",
            }
          - {
              label: Patreon,
              name: patreon,
              widget: string,
              required: false,
              hint: "https://patreon.com/[name]",
            }
          - {
              label: Discord,
              name: discord,
              widget: string,
              required: false,
              hint: "https://discord.gg/[name]",
            }

          - {
              label: Soundcloud,
              name: soundcloud,
              widget: string,
              required: false,
              hint: "https://soundcloud.com/[name]",
            }
          - {
              label: Bandcamp,
              name: bandcamp,
              widget: string,
              required: false,
              hint: "https://[name].bandcamp.com/",
            }

{% endraw %}
