{% from 'src/system/netlifycms/templatecollection.macro.njk' import templatecollection, templaterelation %}
{% raw %}
  - name: custom
    label: 🧑🏽‍💻 custom content type
    label_singular: 🧑🏽‍💻 custom
    description: "Post fx blogpost etc"
    folder: "src/content/custom"
    slug: "{{year}}/{{month}}/{{day}}_{{slug}}"
    preview_path: /custom/{{title}}/
    create: true
    delete: true
    editor:
      preview: false
    summary: "{{title}} {{url.parent}} {{card.image}} "
    sortable_fields: ["title", "order", "date"]
    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true
    view_groups:
      - label: Drafts
        field: eleventyExcludeFromCollections
    nested:
      depth: 100 # max depth to show in the collection tree
      summary: "{{title}}"
    fields:
{% endraw %}
  {% include "src/system/netlifycms/fields/title.njk" %}
  {% include "src/system/netlifycms/fields/draft.njk" %}
{% raw %}
