{% raw %}
      - label: "settingcustom"
        name: "settingcustom"
        file: "src/content/custom/custom.json"
        fields:
          - { label: permalink, name: permalink, widget: string }
{% endraw %}
