{#
      - label: "💜 foobar Settings"
        name: "foobar"
        hide: true
        file: "src/content/foobar/foobar.json"
        fields:
          - { label: permalink, name: permalink, widget: string, hint: "permalink: [foldername]/{{ title | slugify }}/" }
 #}
{% raw %}
{% endraw %}
