{%- if env.mode != 'prod' %}<!-- src/theme-grunn/includes/components/templates/all-pages.liquid -->{%- endif -%}

<section class="grid md:grid-cols-3 gap-4 py-4">

  {% for item in collections.tags %}
    {% if item.fileSlug != "rssfeed" %}
    {% assign title = item.data.card.title | default: item.data.title %}
    {% assign image = item.data.card.image | default: item.data.image %}
    {% assign text = item.data.card.text | default: item.data.text | truncatewords: "20",  " ..."  %}
    {%
      render 'card.liquid',
        title: title,
        text: text,
        image: image,
        url: item.url,
        date: item.date
    %}

  {% endif %}
  {% endfor %}
</section>

