  {% comment %}user control {% endcomment %}



      {% comment %}darkmode on {% endcomment %}

        {% include "icons/sun.svg" %}


      {% comment %}darkmode not actived {% endcomment %}

        {% include "icons/moon.svg" %}




      {% include "icons/trash.svg" %}



