{%- if env.mode != 'prod' %}  <!-- _src/__includes/footer.liquid  -->{%- endif  -%}

{% comment %}Gets the collection for the area footer  {% endcomment %}
{% for item in collections.blocks | sortByOrder %}
  {% if item.data.blockposition == "footer" %}

    {% asyncEach component in item.data.components %}
      {% include component.template %}
    {% endeach %}

  {% endif %}
{% endfor %}


{% include "darkmode.liquid" %}

