{% comment %}HEADER
------------------------------------------------
Global header for the site
 {% endcomment %}
{%- if env.mode != 'prod' %}
  <!-- src/__includes/header.liquid -->
{%- endif  -%}



  {% comment %}skip link {% endcomment %}
  Skip to Content

  {% comment %}main wrap header elements {% endcomment %}


    {% comment %}logo and menu {% endcomment %}



        {% comment %}quick n fast logo {% endcomment %}
        {% include "svg/saga11.svg" %}
        {{site.title}}


      {% include "nav/menu.liquid" %}


    {% if site.rss %}



          RSS Feed
          {% include "svg/rss.svg" %}


    {% endif %}


      {{ site.title }}



    {% comment %}mobile menu burron {% endcomment %}








  {% include "nav/menu-mobile.liquid" %}

{% include "notification.liquid" %}
