

  {% for item in collections.allNotification | sortByOrder%}


        {% include "icons/bell.svg" %}

        {% if item.data.showlink %}

        {% endif %}


          {{ item.data.title }}


          {{ item.data.text | markdown   }}


        {% if item.data.showlink %}

        {% endif %}




      {#
        {% include "icons/close.svg" %}
         {% endcomment %}


  {% endfor %}


