{%- if env.mode != 'prod' %}<!-- src/__includes/components/image/image.njk  -->{%- endif -%}

<article class="">
  <h2 class="text-3xl">
    {{ component.title  }}
  </h2>

  {% picture
    img=component.image,
    width=[400,800, 1600],
    sizes="(min-width: 1600px) 50vw, 100vw",
    css="rounded-sm",
    alt=component.alt
  %}

  {% if component.text %}
    <div class="prose prose-xl">
      {{ component.text  | markdown | safe  }}
    </div>
  {% endif %}

</article>
