{%- if env.mode != 'prod' %}<!-- src/theme-grunn/includes/components/address/address/address.njk-->{%- endif -%}

  {# This is used for the iphone / android so they  can work prober cause ... #}
  <script>
    function openinmap(map){
    // If it's an iPhone..
    if( (navigator.platform.indexOf("iPhone") != -1)
      || (navigator.platform.indexOf("iPod") != -1)
      || (navigator.platform.indexOf("iPad") != -1))
        window.open("maps://maps.google.com/?q=" + map);
    else
        window.open("https://maps.google.com/?q=" + map );
    }
  </script>

  {# title + text #}
  {% if (component.title | length )  or ( componenet.text | length ) %}


      {% if component.title %}

          {{ component.title }}

      {% endif %}

      {% if component.text %}

          {{ component.text  | markdown | safe  }}

      {% endif %}

  {% endif %}



  {# address #}
  {% for item in component.address %}


      {{ item.name }}
      {{ item.street }}


        {{ item.locality }}
        {{ item.zip }}


      {{ item.country }}


        {% if item.phone %}

            {% include "icons/phone.svg" %}
            {{ item.phone }}

        {% endif %}

        {% if item.email %}

            {% include "icons/envelope.svg" %}
            {{ item.email }}

        {% endif %}

        {% if expr %}

            {% include "icons/arrow-top-right-on-square.svg" %}
            {{ item.url }}

        {% endif %}


      <button onclick="openinmap('{{ item.street }},{{ item.zip }},{{ item.country }}')"
              target="_blank" rel="noopener"
              class="inline-flex flex-row items-center  p-1 font-bold">
        <div class="w-4 mr-2">{% include "icons/map-pin.svg" %}</div>
        <div >Map</div>
      </button>

    </article>

  {% endfor %}

  </div>

