<section aria-label="notification">
{% for item in collections.allNotification %}

  {% if item.data.status =="alert" %}
    {% assign css = "bg-error-300 text-white" %}
    {% assign icon = "./bolt.svg" %}
  {% elsif item.data.status =="warning" %}
    {% assign css = "bg-warning-200 text-warning-900" %}
    {% assign icon = "./bell.svg" %}
  {% elsif item.data.status =="info" %}
    {% assign css = "bg-information-100 text-information-800" %}
    {% assign icon = "./speaker-wave.svg" %}
  {% endif %}



    {% if item.data.showlink %}
      <a href="{{ item.url }}" class="w-full relative flex flex-row items-center justify-between underline {{ css }}">
    {% else %}
      <article class="w-full relative flex flex-row items-center justify-between {{ css }}">
    {% endif %}

    <div class="mx-auto flex flex-row items-center p-2">
      <div class="w-4 h-4 mr-2">{% include icon %}</div>
      <div class="p-2">{{ item.data.title }}</div>
    </div>

    {% if item.data.showlink %}
      </a>
    {% else %}
      </article>
    {% endif %}

  </article>

{% endfor %}
</section>
