---
title: "Colors"

background:
  - title: Light Background
    css: bg-slate-100
  - title: Dark Background
    css: bg-slate-800

colors:
  - title: color 1
    css: bg-red-600
  - title: color 2
    css: bg-green-800
  - title: color 3
    css: bg-blue-800

neutrals:
  - title: neutral
    css: bg-gray-50
  - title: neutral
    css: bg-gray-100
  - title: neutral
    css: bg-gray-200
  - title: neutral
    css: bg-gray-300
  - title: neutral
    css: bg-gray-400
  - title: neutral
    css: bg-gray-500
  - title: neutral
    css: bg-gray-600
  - title: neutral
    css: bg-gray-700
  - title: neutral
    css: bg-gray-800
  - title: neutral
    css: bg-gray-900



  - title: Black
    css: bg-black
  - title: white
    css: bg-white

reactions:
  - title: Success
    css: bg-success-600
  - title: warning
    css: bg-warning-600
  - title: Danger
    css: bg-danger-800

---

<h3 class="text-h3 text-center">Color Palette</h3>
<section class="grid grid-cols-5 gap-4 p-4 mb-8 bg-white">
  {% for color in colors %}
    <article>
      <div class="rounded {{ color.css }} h-20 shadow-md"></div>
      <h2 class="text-center text-lg text-gray-500">{{ color.title | upper}}
      </h2>
      <input value="{{ color.css }}" class="w-full text-center p-1 bg-gray-50">
    </article>
  {% endfor %}
</section>

<h3 class="text-h3 text-center">Reactions</h3>
<section class="grid grid-cols-5 gap-4 p-4 mb-8 bg-white">
  {% for color in reactions %}
    <article>
      <div class="rounded {{ color.css }} h-20 shadow-md"></div>
      <h2 class="text-center text-lg text-gray-500">{{ color.title | upper}}
      </h2>
      <input value="{{ color.css }}" class="w-full text-center p-1 bg-gray-50">
    </article>
  {% endfor %}
</section>

<h3 class="text-h3 text-center">Neutrals</h3>
<section class="grid grid-cols-5 gap-4 p-4 mb-8 bg-white">
  {% for color in neutrals %}

    <article>
      <div class="rounded {{ color.css }} h-20 shadow-md"></div>
      <h2 class="text-center text-lg text-gray-500">{{ color.title | upper}}
      </h2>
      <input value="{{ color.css }}" class="w-full text-center p-1 bg-gray-50">
    </article>
  {% endfor %}
</section>

<h3 class="text-h3 text-center">Background</h3>
<section class="grid grid-cols-5 gap-4 p-4 mb-8 bg-white">
  {% for color in background %}
    <article>
      <div class="rounded {{ color.css }} h-20 shadow-md"></div>
      <h2 class="text-center text-lg text-gray-500">{{ color.title | upper}}
      </h2>
      <input value="{{ color.css }}" class="w-full text-center p-1 bg-gray-50">
    </article>
  {% endfor %}
</section>