---
title: "Page height"
---

<div class="flex flex-col min-h-screen pagewidth ">
  <header class="bg-neutral-200 text-center">
    Header
  </header>
  <main class="flex-grow bg-neutral-300 flex items-center justify-center">
    Content
    <br>
    The footer is always placed in the bottom of a page even if theres not enough content

  </main>
  <footer class="bg-neutral-200 text-center">
    Footer
  </footer>
</div>

