---
title: icons
---

{# TODO:todo get all the icons from /svg and collect em automatically #}

<div class="grid grid-cols-10 max-w-4xl">

  <div class="w-16">{% include "svg/11ty.svg" %}</div>
  <div class="w-16">{% include "svg/html5/css3logo.svg" %}</div>
  <div class="w-16">{% include "svg/html5/html5badge.svg" %}</div>
  <div class="w-16">{% include "svg/html5/js.svg" %}</div>

</div>
