{# BASE
------------------------------------------------
The basic html page
{%- if meta.env != 'prod' %}<!-- _baselayout/base.njk  -->{%- endif -%}
#}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    {# title tag #}
    {% if page.url =="/" %}
      <title> {{ site.title }} </title>
    {% else %}
      <title>{{ title }} - {{ site.title }} </title>
    {% endif %}
    <!--
      https://sage11.dev
     -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}
    {% if site.keywords %}<meta name="keywords" content="{{ site.keywords}}">{% endif %}
    {% if site.generator %}<meta name="generator" content="{{eleventy.generator}}">{% endif %}

    <meta name="theme-color" content="{{site.color}}">

    <link rel="author" href="humans.txt" />
    {# webmention #}
    {% if some.webmention %}
      <link rel="webmention" href="https://webmention.io/{{some.webmention}}/webmention" />
      <link rel="pingback" href="https://webmention.io/{{some.webmention}}/xmlrpc" />
    {% endif %}

    {%- include "_base/opengraph.njk" -%}
    {%- include "_base/icon.njk" -%}
    {%- include "_base/applestartupscreens.njk" -%}

    {# css is build in /tailwind/[...].css #}
    {%- if meta.env == 'prod' %}
      <link href="{{ '/assets/css/style.min.css' | url }}" rel="stylesheet" rel="preload">
    {% else %}
      <link href="{{ '/assets/css/style.css' | url }}" rel="stylesheet" rel="preload">
    {% endif -%}

  </head>
  <body class="flex flex-col h-screen bg-slate-100">





    {{ content | safe }}

    {# Service worker #}
    <script>
      if (navigator && navigator.serviceWorker) {
        navigator
          .serviceWorker
          .register('/service-workers.js');
      }
    </script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
