{# SOME NAVIGATION
------------------------------------------------
Graps all the data thats added to the _data/some.json file
#}
{%- if env.mode != 'prod' %}<!-- __includes/nav/socialmedia.njk  -->{%- endif  -%}

{% set css = "w-8 h-8 block text-red-700 hover:text-red-700 " %}

<nav class="flex flex-wrap justify-center flex-grow mx-auto space-x-4 my-8" aria-label="Menu Social media links">

{% if some.rss %}
  <a href="/feed.xml" class="{{css}}">
    <span class="sr-only">RSS Feed</span>
    {% include "svg/rss.njk" %}
  </a>
{% endif %}

{% if some.linkedin %}
  <a href="https://linkedin.com/in/{{ some.linkedin }}" target="_blank" rel="noreferrer" class="{{css}}">
    <span class="sr-only">LinkedIn</span>
    {% include "svg/linkedin.njk" %}
   </a>
{% endif %}

{% if some.facebook %}
  <a href="https://facebook.com/{{ some.facebook }}" target="_blank" rel="noreferrer" class="{{css}}">
    <span class="sr-only">Facebook</span>
    {% include "svg/facebook.njk" %}
  </a>
{% endif %}

{% if some.instagram %}
  <a href="https://instagram.com/{{ some.instagram }}" target="_blank" rel="noreferrer" class="{{css}}">
    <span class="sr-only">Instagram</span>
    {% include "svg/instagram.njk" %}
  </a>
{% endif %}

{% if some.youtube %}
  <a href="https://instagram.com/{{ some.youtube }}" target="_blank" rel="noreferrer" class="{{css}}">
    <span class="sr-only">youtube</span>
    {% include "svg/youtube.njk" %}
  </a>
{% endif %}



{% if some.twitter %}
  <a href="https://twitter.com/{{ some.twitter }}" target="_blank" rel="noreferrer" class="{{css}}">
    <span class="sr-only">Twitter</span>
    {% include "svg/twitter.njk" %}
  </a>
{% endif %}

{% if some.github %}
  <a href="https://github.com/{{ some.github }}" target="_blank" rel="noreferrer" class="{{css}}">
    <span class="sr-only">GitHub</span>
    {% include "svg/github.njk" %}
  </a>
{% endif %}

{% if some.dribble %}
  <a href="https://dribbble.com/{{ some.dribble }}" target="_blank" rel="noreferrer" class="{{css}}">
    <span class="sr-only">Dribbble</span>
    {% include "svg/dribble.njk" %}
  </a>
{% endif %}

{% if some.tiktok %}
  <a href="https://tiktok.com/@{{ some.tiktok }}" class="{{ css }}">
    <span class="sr-only">tiktok</span>
    {% include "svg/tiktok.njk" %}
  </a>
{% endif %}

{% if some.twitch %}
  <a href="https://twitch.tv/{{ some.twitch }}" class="{{ css }}">
    <span class="sr-only">twitch</span>
    {% include "svg/twitch.njk" %}
  </a>
{% endif %}

{% if some.patron %}
  <a href="https://patron.com/{{ some.patron }}" class="{{ css }}">
    patron
  </a>
{% endif %}

{% if some.discord %}
  <a href="https://discord.gg/{{ some.discord }}" class="{{ css }}">
    <span class="sr-only">discord</span>
    {% include "svg/discord.njk" %}
  </a>
{% endif %}

{% if some.soundcloud %}
  <a href="https://soundcloud.com/{{ some.soundcloud }}" class="{{ css }}">
    <span class="sr-only">Soundcloud</span>
    {% include "svg/soundcloud.njk" %}
  </a>
{% endif %}

{% if some.bandcamp %}
  <a href="https://{{ some.bandcamp }}.bandcamp.com"  class="{{ css }}">
    <span class="sr-only">bandcamp</span>
    {% include "svg/bandcamp.njk" %}
  </a>
{% endif %}

</nav>

