{# ALL TAGS
------------------------------------------------
List of all tags
#}
{%- if env.mode != 'prod' %}<!-- __includes/nav/tags.njk  -->{%- endif  -%}

{% for tag in collections.tagList   %}
  <nav aria-label="All Tags" class="flex flex-row">
    {% for item in collections.all | getPage("/tag/" + tag + "/" ) %}
      <a href="/tag/{{ tag }}"> {{ item.data.title}}</a> |
    {% endfor %}
  </nav>
{% endfor %}
