{% raw %}
      - label: "👩‍💻 Content"
        name: "body"
        widget: "markdown"
        buttons:
          - link
          - bold
          - italic
          - heading-one
          - heading-two
          - heading-three
          - code
          - quote
          - bulleted-list
        editor_components:
          - shortcode-picture
          - code-block
        required: false
{% endraw %}
