{% raw %}
      - {
          label: "😴 Draft Mode",
          name: "eleventyExcludeFromCollections",
          widget: "boolean",
          default: false,
          required: false,
          hint: "is this a draft ?",
        }
{% endraw %}
