{#

 aria-expanded="false"
 aria-expanded="true"
 tabindex="0"

aria-current="page"


aria-controls="nav-menu-ex-2"
 #}


{# ------------------------------------------------------
LISTING
--------------------------------------------------------#}

{# Graps the menu from the settings config (set in _data/menu.json) #}
<nav aria-label="Menu Navigation">
{% for item in menu.main %}
  {# if the menu url is part of this link  ex /post/ for an item in /post/foobar #}
  {% if item.url in page.url -%}
    <a href="{{ item.url }}" aria-current="page">{{ item.title }}</a>
  {% else %}
    <a href="{{ item.url }}">{{ item.title }}</a>
  {% endif %}
{% endfor %} #}
</nav>

{# All pages #}
<nav aria-label="Pages Navigation">
{% for item in collections.allPages | sortByOrder %}
  {% if item.url in page.url -%}
    <a href="{{ item.url }}" aria-current="page">{{item.data.title}}</a>
  {% else %}
    <a href="{{ item.url }}" class="">{{item.data.title}}</a>
  {% endif %}
{% endfor %}
</nav>

{# All post #}
<nav aria-label="Pages Navigation">
{% for item in collections.allPosts %}
  {% if item.url in page.url -%}
    <a href="{{ item.url }}" aria-current="page">{{item.data.title}}</a>
  {% else %}
    <a href="{{ item.url }}">{{item.data.title}}</a>
  {% endif %}
{% endfor %}
</nav>

{# Previous - Next #}
<nav aria-label="Previous and Next post Navigation">
{%- if collections.allPosts %}
  {%- set nextPost = collections.allPosts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.allPosts | getPreviousCollectionItem(page) %}
  {%- if nextPost or previousPost %}

    {%- if previousPost %}
      <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
    {% endif %}

    {%- if nextPost %}
      <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
    {% endif %}

  {%- endif %}
{%- endif %}
</nav>

{# Tags #}
<nav aria-label="Tab Navigation">
{%- for tag in tags | filterTagList -%}
  {# grap the markdown files from relation-tag and loop through them  get page gets the  permalink set in relation-tag.json#}
  {% for item in collections.all | getPage("/tags/" + tag + "/") %}
    <a href="/tag/{{ tag }}">{{ item.data.title}}</a>,
    {% endfor %}
{% endfor %}
</nav>

{# Section is set as a  {{ section }} #}
<nav aria-label="[section] Navigation">
{% if section %}
  {% for item in collections[section] %}
    <a href="{{ item.url }}" title="{{item.data.title}}">{{item.data.title}}</a>
    <p>{{ item.data.teaser }}</p>
    <div>{{ item.data.image }}</div>
  {% endfor %}
{% endif %}
</nav>

{# ------------------------------------------------------
Images
--------------------------------------------------------#}
{# {% imageBackgroundStyle "image", “size”, “format webp/png/jpg/gif”  %} #}
{# size: [null] format [null] #}
{% imageBackgroundStyle "assets/img/ident.png", “150” %}

{% image image, [320, 600, 1200], "(min-width: 30em) 50vw, 100vw", "a picture", "shadow-lg", "eager" %}


Default content template
```
---
title: my title
layout: base.njk
eleventyExcludeFromCollections: false

permalink: "mega-awesome-stuff/"
tags: post
date: Last Modified

eleventyNavigation:
  key: contact
  parent: about
  order: 1

---
```

{{ page | dump}}
{{ eleventy | dump }}
