---
layout: layout/default.njk
---
{{ content | safe}}



<div class="text-2xl">Recent</div>
<div class="bg-blue-100">
{% for item in collections.recentPosts %}
 <h3 class="font-bold">{{item.data.title}}</h3>
 {# {{item.templateContent | safe}} #}
 <a href="{{ item.url }}">go</a>
{% endfor %}
</div>

<div class="text-2xl">all post</div>
<div class="bg-blue-100">
{% for item in collections.allPost %}
 <h3 class="font-bold">{{item.data.title}}</h3>
 {{item.templateContent | safe}}
 <a href="{{ item.url }}">go</a>
{% endfor %}
</div>

<div class="text-2xl">all post</div>
<div class="bg-green-100">
{% for item in collections.postByTitle %}
 <h3 class="font-bold">{{item.data.title}}</h3>
 {{item.templateContent | safe}}
 <a href="{{ item.url }}">go</a>
{% endfor %}
</div>

