---
layout: layout/default.njk
---

<h2>All post with "{{ tag | replace("_", " ") | title}}" </h2>

{# get the data that storesd with the tag in the replation tag file #}
{% for item in collections.all |  getPage("/relation-tag/" + tag + "/" ) %}
  <article>
   {{item.templateContent | safe}}
  </article>
{% endfor %}



{# List all the post that have the selected tag #}
{% for item in collections[ tag ]  %}

  <a href="{{ item.url | url }}"><h3>{{ item.data.title }} </h3></a>
  {# tag list for this content ...  #}
  {# {% for tag in item.data.tags  %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}">{{ tag }}</a>,
  {% endfor %} #}
{% endfor %}

<hr>

{% include "components/nav/tags.njk" %}
