---
title: Images Slider

components:
  - type: images
    template: components/images/imagecards.njk
    images:
      - image: /image-default/morning.png
      - image: /image-default/morning.png
      - image: /image-default/morning.png
      - image: /image-default/morning.png
      - image: /image-default/morning.png
      - image: /image-default/morning.png
  - type: images
    template: components/images/images.njk
    images:
      - image: /image-default/morning.png
      - image: /image-default/morning.png
      - image: /image-default/morning.png
      - image: /image-default/morning.png
      - image: /image-default/morning.png
---

{% asyncEach component in components %}

  {% include "components/images/images.njk" %}

{% endeach %}

