---
title: collection
eleventyNavigation:
  parent: stylecomponenet
  title: Collection
  order: 10

component:
  title: Collection title
  text: collection text
  collection: test
---

{% include "components/collection/collection.njk" %}

