---
title: Collection

component:
  title: Collection title
  text: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum et ea unde reiciendis doloribus. Corporis dolorem ex modi excepturi laboriosam officia, perspiciatis sunt libero similique rerum necessitatibus neque corrupti numquam?
  collection: test
---

{% include "components/collection/collection.njk" %}

