---
title: download
eleventyNavigation:
  parent: stylecomponenet
  key: Download

component:
  title: Lorem ipsum, dolor sit amet
  files:
    - file: /upload/cyber.png
      title: download file title
    - file: /upload/cyber.png
      title: download file title
    - file: /upload/cyber.png
      title: download file title


---

{% include "components/download/download.njk" %}

