{# COLLECTION OF POSTS
------------------------------------------------
Creates a list of a collection with a chosen tag from the
markdowm
collection: tagname

https://www.11ty.dev/docs/collections/
#}
{%- if env.mode != 'prod' %}<!-- __includes/collection.njk  -->{%- endif -%}

{# collection  #}
{% if collection %}
<section class="grid md:grid-cols-3 gap-4 my-4">

{% for item in collections[collection] | sortByOrder %}
  {# for debugging measure shows us where this data is coming from  #}
  {%- if env.mode != 'prod' %}<!-- input path: {{ item.inputPath }}  -->{%- endif -%}

  <article class="p-4 shadow border rounded" aria-label="Post {{ item.data.title}}" >

    <a href="{{ item.url }}" title="{{item.data.title}}" class="block text-xl font-bold sr-tab" tabindex="0">{{item.data.title}}
      <div class= "aspect-video overflow-hidden">
        {# set first image to be eager loaded #}
        {% if loop.index == "1" %}
          {% set load = "eager" %}
        {% else %}
          {% set load = "lazy" %}
        {% endif %}

        {% if item.data.image %}
          {% image item.data.image, [500,800],"(min-width: 30em) 50vw, 33vw",['webp'],item.data.alt,"shadow",load %}
      {% endif %}
      </div>
    </a>
    <div class="mt-2">
      {{ item.data.teaser }}
    </div>
  </article>

{% endfor %}

</section>
{% endif %}
