{# COLLECTION OF POSTS
------------------------------------------------
Creates a list of a collection with a chosen tag from the
markdowm
collection: tagname

https://www.11ty.dev/docs/collections/
#}
{%- if env.mode != 'prod' %}<!-- __includes/collection.njk  -->{%- endif -%}

{# collection  #}
{% if collection %}

<section class="grid md:grid-cols-3 gap-4 my-4" aria-label="Collection">

{% for item in collections[collection] | sortByOrder %}

  {# for debugging measure shows us where this data is coming from  #}
  {%- if env.mode != 'prod' %}<!-- markdown file: {{ item.inputPath }}  -->{%- endif -%}


  <article class="p-4 shadow border rounded" aria-label="Post {{ item.data.title}}" >

    <a href="{{ item.url }}" title="{{item.data.title}}" class="block text-xl font-bold sr-tab" tabindex="0">{{item.data.title}}
      <div class= "aspect-video overflow-hidden">

      {# Generate image #}
        {% set img = item.data.page.inputPath | replace("index.md", item.image) %}
        {% set css = "rounded-sm" %}
        {% set format = [webp] %}
        {% set srcset = [400,800, 1600] %}
        {% set sizes = "(min-width: 1600px) 50vw, 100vw" %}
        {% set loading = "lazy" %}
        {% image img, srcset, sizes, format, alt,css, loading %}
      {# / Generate image #}

      </div>
    </a>
    <div class="mt-2">
      {{ item.data.teaser }}
    </div>
  </article>

{% endfor %}

</section>
{% endif %}
