{# CONTACT FORM
------------------------------------------------
Basic form that works out of the box on netlify
#}
{%- if env.mode != 'prod' %}<!-- __includes/contactform.njk  -->{%- endif -%}

<form
  class="flex flex-col space-y-4 mb-8"
  name="Contact"
  method="POST"
  data-netlify="true"
  netlify-honeypot="bot-field"
  action="/success/"
>

  <div class="flex flex-col">
    <label for="first-name">First name: *</label>
    <input type="text" name="first-name" id="first-name" placeholder="First Name" required />
  </div>

  <div class="flex flex-col">
    <label for="last-name">Last name: *</label>
    <input type="text" name="last-name" id="last-name" placeholder="Last Name" required/>
  </div>

  <div class="flex flex-col">
    <label for="email">E-mail *:</label>
    <input type="email" name="email" placeholder="Email" id="email" required />
  </div>

  <div class="flex flex-col">
    <label for="message">Message</label>
    <textarea name="message" id="message" cols="30" rows="10" class="form-textarea"></textarea>

   {# <div data-netlify-recaptcha="true"></div> #}
  <div class="hidden">
    <label for="supersecret">secret</label>
    <input name="bot-field" id="supersecret" />
  </div>

  {# submit button #}
  <button type="submit" aria-label="Submit form" class="">
    Send
  </button>

</form>
