
{% if files %}

<ul>

  {% for item in files %}

    {# createthe str title #}
    {% set filetitle %}
    {% if item.file.title %}
      {{  item.file.title }}
    {% else %}
      {{ item.file.file }}
    {% endif %}
    {% endset %}

    <li class="flex items-center">
      <div class="w-4">{% include "svg/css3.svg" %}</div>
     <a href="{{ item.file.file }}" class="ml-2 underline">{{ filetitle }}</a>
    </li>

  {% endfor %}

</ul>
{% endif %}
