{# FOOTER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}  <!-- _src/__includes/footer.njk  -->{%- endif  -%}

<footer class="flex flex-col justify-center bg-white">

  {% include "nav/socialmedia.njk" %}

  <div class="text-gray-800 text-center text-sm mt-4">
    {{ site.footer | markdown | safe }}
  </div>

</footer>
