{# FOOTER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}<!-- __includes/footer.njk  -->{%- endif  -%}

<footer class="flex flex-col justify-center pagewidth">

  {% include "nav/socialmedia.njk" %}

  <nav class="flex space-x-4 justify-between max-w-lg mx-auto" aria-label="Footer Menu">
    {# Graps the menu from the settings config (set in _data/menu.json) #}
    {% for item in menu.main %}
      <a href="{{ item.url }}" class="underline">
        {{ item.title }}
      </a>
    {% endfor %}
  </nav>

  <div class="text-gray-800 text-center text-sm mt-8">
    {{ site.footer | markdown | safe }}
  </div>

  {% if env.mode == "dev" %}
  <pre class="flex justify-center text-sm text-slate-800 my-4">
    Eleventy: {{ eleventy.version}} |
    Saga Eleven: {{ saga11.version}}
    mode: {{ env.mode }}
    url: {{ env.url }}
    root: {{ env.root }}
    source: {{ env.source }}
    serverless: {{env.serverless}}
  </pre>
  {% endif %}

</footer>

