{# GALLERY
------------------------------------------------
simple image gallery / slider
#}
{%- if env.mode != 'prod' %}<!-- __includes/gallery.njk  -->{%- endif -%}

<article>


{# Image wrapper for the gallery #}
<div class="js-gallery flex overflow-x-auto scroll-smooth snap-mandatory snap-x scrollbar z-0 ">
{% for item in gallery %}

  <div aria-label="image"
    class="
    js-image
    flex flex-shrink-0 overflow-auto relative
    {# w-11/12 #}
    w-full
    aspect-video
    mr-2
    snap-center
    transition"
    id="slide-{{ loop.index }}"
  >
  <button class="js-image-toggle bg-green-500 top-5 left-5 z-10 w-20 bg-red-500 absolute z-50 right-5 top-5">
    open
  </button>


  {% if item.image.image %}
    {# First image  #}
    {% if loop.index == "1" %}
      {% image item.image.image, [400,800, 1600],"(min-width: 30em) 50vw, 100vw",['webp'],"",
      'absolute top-0 left-0 h-full object-cover shadow-md', 'eager' %}
    {# The rest #}
    {% else %}
      {% image item.image.image, [400,800, 1600],"(min-width: 30em) 50vw, 100vw",['webp'],"",
      'absolute top-0 left-0 h-full object-cover shadow-md', 'lazy' %}
    {% endif %}

  {% endif %}

  {# title and figcap #}
  {% if item.image.title or item.image.figcaption %}
    <div class="absolute bottom-4 w-full bg-black/70 text-white text-center p-2">
      <div class="text-3xl">
        {{ item.image.title}}
      </div>
      <div class="text-lg">
        {{ item.image.figcaption}}
      </div>
    </div>
  {% endif %}


  </div>
{% endfor %}

</div>

{# gallery navigation #}
<nav aria-label="gallery navigation" class="flex flex-row my-4 space-x-4 max-w-lg mx-auto">
{% for item in gallery %}
  <a href="#slide-{{ loop.index }}" class="block w-20 aspect-video overflow-hidden shadow hover:shadow-none">
    <div class="sr-only"> link to image {{ loop.index }}</div>
    {% if item.image.image %}
      {% image item.image.image, [100,200, 400],"(min-width: 30em) 50vw, 100vw",['webp'],"", 'shadow' %}
    {% endif %}
  </a>
{% endfor %}
</nav>

</article>


<script>
  let btnImageToggle = document.querySelector(".js-image-toggle");
  let gallery = document.querySelector(".js-gallery");
  let image = document.querySelector(".js-image");

  btnImageToggle.onclick = function (e) {
    e.preventDefault();
    //set body to be fixed
    console.log('sdsd');
    document.body.classList.toggle("overflow-y-hidden");
    gallery.classList.remove('z-0')
    gallery.classList.add('fixed', 'top-0','left-0','z-40','h-full', 'w-full','bg-pink-500')
    image.classList.remove('w-11/12');
    image.classList.add('w-full');
  };

</script>
