{# GALLERY
------------------------------------------------
#}
{%- if env.mode != 'prod' %}<!-- __includes/gallery.njk  -->{%- endif -%}

{% if gallery %}

<section aria-label="Image gallery"
  x-data="{isSliderOpen: false}"
  :class="isSliderOpen ? 'fixed top-0 left-0 z-40 h-full w-full bg-white/90 X' : 'w-full relative'"
  x-on:keydown.escape="isSliderOpen=false"
  x-on:keydown.left="$refs.slider.scrollBy(-$refs.slideitem1.clientWidth,0)"
  x-on:keydown.right="$refs.slider.scrollBy($refs.slideitem1.clientWidth,0)"
>

{# pre next #}
  <button @click="$refs.slider.scrollBy(-$refs.slideitem1.clientWidth,0)" type="button" aria-label="Previous">pre</button>
  <button @click="$refs.slider.scrollBy($refs.slideitem1.clientWidth,0)"  type="button" aria-label="Previous">next</button>
{# item links #}
  <nav aria-label="gallery navigation" class="flex flex-row my-4 space-x-4 max-w-lg mx-auto">
    {% for item in gallery %}
      <button
        @click="$refs.slideitem{{ loop.index }}.scrollIntoView(false)"
        class="bg-slate-300 rounded-full w-10 h-10"
        type="button"
      >
        {{ loop.index }}
      </button>
    {% endfor %}
  </nav>

  {# open/close toggler  #}
  <button type="button" aria-label="open close image"
          class="w-20 bg-pink-500 z-10 absolute right-0"
          @click="isSliderOpen = !isSliderOpen">

          <span x-show="isSliderOpen"> ❌ </span>
          <span x-show="!isSliderOpen"> 🔍</span>

          </button>

  {# Image wrapper for the gallery #}
  <div :class="isSliderOpen ? '' : 'scrollbar'"
        x-ref="slider"
        class="flex overflow-x-auto scroll-smooth snap-mandatory snap-x z-0"
  >

    {# loop through all the images #}
    {% for item in gallery %}

      <div aria-label="image"
        x-ref="slideitem{{ loop.index }}"
        class="flex flex-shrink-0 overflow-auto relative aspect-video w-full mr-2 snap-center transition">

        {% if item.image.image %}
          {# First image  #}
          {% if loop.index == "1" %}
            {% image item.image.image, [400,800, 1600],"(min-width: 30em) 50vw, 100vw",['webp'],"", 'absolute top-0 left-0 h-full object-cover shadow-md', 'eager' %}
          {# The rest #}
          {% else %}
            {% image item.image.image, [400,800, 1600],"(min-width: 30em) 50vw, 100vw",['webp'],"",'absolute top-0 left-0 h-full object-cover shadow-md', 'lazy' %}
          {% endif %}
        {% endif %}

        {# title and figcap #}
        {% if item.image.title or item.image.figcaption %}
          <div class="absolute bottom-4 w-full bg-black/70 text-white text-center p-2">
            <div class="text-3xl">{{ item.image.title}}</div>
            <div class="text-lg">{{ item.image.figcaption}}</div>
          </div>
        {% endif %}

      </div>
    {% endfor %}
    {# images done  #}

  </div>


  {# gallery navigation #}
  <nav aria-label="gallery image navigation" class="flex flex-row my-4 space-x-4 max-w-lg mx-auto">
    {% for item in gallery %}

      <button
        @click="$refs.slideitem{{ loop.index }}.scrollIntoView(false)"
        class="block w-20 aspect-video overflow-hidden shadow hover:shadow-none"
        type="button"
      >
        <span class="sr-only">Link to image {{ loop.index }}</span>
        {% if item.image.image %}
          {% image item.image.image, [100,200, 400],"(min-width: 30em) 50vw, 100vw",['webp'],"", 'shadow' %}
        {% endif %}
      </button>

    {% endfor %}
  </nav>

</section>

{% endif %}
