{# HEADER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}<!-- __includes/header.njk  -->{%- endif  -%}

{% set menuclasses = "inline-flex items-center hover:bg-teal-50 hover:border-teal-100 border-b-4" %}
<header class="js-header bg-white shadow fixed w-full z-20 h-16 md:h-20" >

  {# skip link #}
  <a href="#main" class="sr-only focus:not-sr-only sr-tab">Skip to Content</a>

  <div class="pagewidth flex flex-row h-full justify-between md:justify-start">

    <a href="/" title="{{site.title}}" class="{{ menuclasses }} mr-4">
    {# site title + TODO: icon if have one #}
      {{ site.title}}
      <h1 class="sr-only">{{site.title}}</h1>
    </a>




    {# Menu desktop #}
    <nav class="h-full hidden md:block" aria-label="Main Menu">
      <div class="flex justify-between h-full">

        <div class="flex space-x-4">


          {% for item in collections.menu | sortByOrder %}
            {# grap the correct title for the page  #}
            {% set menutitle %}
              {% if item.data.menulabel %}
                {{ item.data.menulabel }}
              {% else %}
                {{ item.data.title }}
              {% endif %}
            {% endset %}

            {% if item.url in page.url -%}
              <a href="{{ item.url }}" class="{{ menuclasses}} border-red-400">{{ menutitle }}</a>
            {% else %}
              <a href="{{ item.url }}" class="{{ menuclasses}} border-transparent">{{ menutitle }}</a>
            {% endif %}
          {% endfor %}


        </div>

      </div>
    </nav>

{# TODO: make it pure alpine ... ? #}
  <button x-data="{ open: false }"
          x-on:click="open = !open"
          class="flex items-center space-x-2 focus:outline-none block md:hidden js-menu-toggle"
          aria-label="toggle menu"
          >
    {# <span x-text="open ? 'Close' : 'Open'"
          class="font-medium text-lg">Open</span> #}

    <div class="w-6 flex items-center justify-center relative">
      <span x-bind:class="open ? 'translate-y-0 rotate-45' : '-translate-y-2'"
            class="transform transition w-full h-px bg-current absolute"></span>

      <span x-bind:class="open ? 'opacity-0 translate-x-3' : 'opacity-100'"
            class="transform transition w-full h-px bg-current absolute"></span>

      <span x-bind:class="open ? 'translate-y-0 -rotate-45' : 'translate-y-2'"
            class="transform transition w-full h-px bg-current absolute"></span>
    </div>
  </button>

  </div>
</header>

{# TODO: is it to fugly to have 2 menus added here ? ... its defo easier #}
{# Mobile menu #}
<nav class="js-menu md:hidden fixed z-50 -left-full top-16 w-11/12 h-full bg-white duration-300 shadow-xl" aria-label="Mobile Menu">

  {% set mobileclasses = "block h-20 flex items-center pl-2 font-large border-l-8 border-b hover:bg-green-300 " %}

  {% for item in collections.menu | sortByOrder %}
    {# grap the correct title for the page  #}
    {% set menutitle %}
      {% if item.data.menulabel %}
        {{ item.data.menulabel }}
      {% else %}
        {{ item.data.title }}
      {% endif %}
    {% endset %}

    {% if item.url in page.url -%}
      <a href="{{ item.url }}" class="{{ mobileclasses }} border-red-400">{{ menutitle }}</a>
    {% else %}
      <a href="{{ item.url }}" class="{{ mobileclasses }} border-transparent">{{ menutitle }}</a>
    {% endif %}
  {% endfor %}

  {# Graps the menu from the settings config (set in _data/menu.json) #}
  {% for item in menu.main %}
    {% if item.url in page.url -%}
      <a href="{{ item.url }}" class="{{ mobileclasses }} border-red-400" title="{{ item.text}}">{{ item.title }}</a>
    {% else %}
      <a href="{{ item.url }}" class="{{ mobileclasses }} border-transparent"  title="{{ item.text}}">{{ item.title }}</a>
    {% endif %}
  {% endfor %}

</nav>









