<h1 class="text-5xl">inc / image.njk</h1>

  {% picture
      img='/upload/dungeonmaster.png',
      alt=card.alt,
      width=[400,800, 1600],
      sizes="(min-width: 1600px) 50vw, 100vw",
      css="shadow rounded h-96 overflow-hidden",
      loading = "eager"
  %}
