{# Menu template
------------------------------------------------
Renders the whole menu with all sub items
 #}
{%- if env.mode != 'prod' %}
  <!-- __includes/menu.njk  -->
{%- endif  -%}

{# macro #}
{% macro menuitems(entry) -%}

{# Items  #}
<li>
  <a href="{{ entry.url }}"
    {# test if the page is the current  #}
    {% if entry.url == page.url %}
      aria-current="page"
      class="underline text-red-600"
    {% else  %}
      class="underline"
    {% endif %}
  >
    {{ entry.title }}
  </a>

  {# sublevel  #}
  {%- if entry.children.length -%}
    <ul>
      {%- for child in entry.children %}{{ menuitems(child) }}{% endfor -%}
    </ul>
  {%- endif -%}

</li>
{%- endmacro %}
{# /Macro  #}

{% set navPages = collections.all | eleventyNavigation %}

<nav>
  <ul>
    {%- for entry in navPages %}
      {{ menuitems(entry) }}
    {%- endfor -%}
  </ul>
<nav>
