{# Section image gallery  #}
<div class="bg-green-100 mt-4">

{# {{ section.images | debug | safe }} #}
  section: {{ section.title }}
  {% for item in section.images %}
    <div class="aspect-video overflow-hidden w-40">
      {% image img=item.image, width=[100] %}

    </div>
  {% endfor %}

</div>

