---
layout: base.njk
saga-template-name: 404
---
{# 404
------------------------------------------------
The Amazing 404 page
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/system/404post.njk  -->{%- endif -%}

<main class="h-full flex flex-col items-center justify-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
  {# animate-ping #}
  <div class="text-[10rem] md:text-[20rem] text-white font-extrabold drop-shadow-lg animate-pulse">
    {{ title }}
  </div>

  <article class="w-80 p-2 -m-8 text-center bg-white shadow-lg rotate-6 -translate-y-20">
    <div>
      <span class="animate-ping block w-4 h-4 rounded-full bg-red-400"></span>
      {{ site.errorpage | safe }}
      <div class="text-3xl">
        🤖
      </div>
    </div>

    <div>
      <a href="./" class="underline text-indigo-500 hover:text-purlple-500">Return to safety</a>

    </div>

  </article>

</main>
