{%- if env.mode != 'prod' %}  <!-- src/themes/grunn/includes/components/form/form-inline.njk -->{%- endif  -%}




      {{ component.title }}


    {% if component.text %}

        {{ component.text  | markdown | safe  }}

    {% endif %}


  <form
    class="basis-2/3"
    name="{{ component.name | slug }}"
    method="POST"
    data-netlify="true"
    netlify-honeypot="bot-field"
    action="/success/"
  >
    {#  #}

      secret



    {# Create form elements #}
    {% for item in component.elements %}



        <label
          for="form-item-{{ item.title | slugify }}"
          class="inline-flex items-center px-4 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
          {{ item.title }} :


        <input
          type="{{ item.inputtype }}"
          name="{{ name }}"
          id="form-item-{{ item.title | slugify }}"
          placeholder="{{ item.placeholder }} "
          {% if item.required %}required{% endif %}
          class="flex-1 block w-full border-gray-300 focus:ring-cyan-500 focus:bg-slate-200 "
        >

        Send


    {% endfor %}




