{%- if env.mode != 'prod' %}<!-- __includes/nav/tags.liquid  -->{%- endif  -%}

<div class="flex flex-row space-x-2 py-2">
  {% for tag in tags %}
  {% if tag != "rssfeed" %}
  {% assign page = "/tag/" | append: tag | append: "/" %}
  {% assign items = collections.all | getPage: page %}
  {% for item in items %}

  <div class="bg-tone-100 p-2 flex flex-row space-x-1 items-center rounded-sm">
    <a href="/tag/{{ item.fileSlug }}">
      {{ item.data.title }}
    </a>

    {% if item.data.icon %}
    <div class="h-4 w-4 mr-2">
      {% include item.data.icon %}
    </div>
    {% endif %}
  </div>

  {% endfor %}
  {% endif %}
  {% endfor %}
</div>
