{%- if env.mode != 'prod' %}<!-- src/__includes/components/templates/default.njk-->{%- endif -%}

<div class="bg-orange-100 text-orange-900 p-8 max-w-lg mx-auto">
  This is a default template that can be selected from the pagecomponenet
  in a collection from netlifycms
</div>
