{%- if env.mode != 'prod' %}<!-- src/themes/grunn/includes/components/templates/socialmedia.njk  -->{%- endif  -%}

{% set css = "w-8 h-8 block text-cyan-700 dark:text-cyan-200 hover:text-cyan-800 m-4 block" %}

<nav class="flex flex-wrap justify-center space-x-8 mt-4" aria-label="Menu Social media links">

  {% if site.rss %}
    <a href="/feed.xml" class="md:hidden w-8 h-8 m-4 block text-orange-700 dark:text-orange-200">
      <span class="sr-only">RSS Feed</span>
      {% include "svg/rss.svg" %}
    </a>
  {% endif %}


  {% if some.mastodon %}
    <a href="{{ some.mastodon }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">Mastodon</span>
      {% include "svg/some/mastodon.svg" %}
    </a>
  {% endif %}

  {% if some.linkedin %}
    <a href="https://linkedin.com/in/{{ some.linkedin }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">LinkedIn</span>
      {% include "svg/some/linkedin.svg" %}
    </a>
  {% endif %}

  {% if some.facebook %}
    <a href="https://facebook.com/{{ some.facebook }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">Facebook</span>
      {% include "svg/some/facebook.svg" %}
    </a>
  {% endif %}

  {% if some.instagram %}
    <a href="https://instagram.com/{{ some.instagram }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">Instagram</span>
      {% include "svg/some/instagram.svg" %}
    </a>
  {% endif %}

  {% if some.youtube %}
    <a href="https://youtube.com/{{ some.youtube }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">youtube</span>
      {% include "svg/some/youtube.svg" %}
    </a>
  {% endif %}

  {% if some.twitter %}
    <a href="https://twitter.com/{{ some.twitter }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">Twitter</span>
      {% include "svg/some/twitter.svg" %}
    </a>
  {% endif %}

  {% if some.github %}
    <a href="https://github.com/{{ some.github }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">GitHub</span>
      {% include "svg/some/github.svg" %}
    </a>
  {% endif %}

  {% if some.dribble %}
    <a href="https://dribbble.com/{{ some.dribble }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">Dribbble</span>
      {% include "svg/some/dribble.svg" %}
    </a>
  {% endif %}

  {% if some.tiktok %}
    <a href="https://tiktok.com/@{{ some.tiktok }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">tiktok</span>
      {% include "svg/some/tiktok.svg" %}
    </a>
  {% endif %}

  {% if some.twitch %}
    <a href="https://twitch.tv/{{ some.twitch }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">twitch</span>
      {% include "svg/some/twitch.svg" %}
    </a>
  {% endif %}

  {% if some.patron %}
    <a href="https://patron.com/{{ some.patron }}"  target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
    patron
  </a>
  {% endif %}

  {% if some.discord %}
    <a href="https://discord.gg/{{ some.discord }}"  target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">discord</span>
      {% include "svg/some/discord.svg" %}
    </a>
  {% endif %}

  {% if some.soundcloud %}
    <a href="https://soundcloud.com/{{ some.soundcloud }}"  target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">Soundcloud</span>
      {% include "svg/some/soundcloud.svg" %}
    </a>
  {% endif %}

  {% if some.bandcamp %}
    <a href="https://{{ some.bandcamp }}.bandcamp.com"  target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">bandcamp</span>
      {% include "svg/some/bandcamp.svg" %}
    </a>
  {% endif %}

  {% if some.pinterest %}

    <a href="https://pinterest.com/{{ some.pinterest }}" target="_blank" rel="noopener noreferrer nofollow" class="{{css}}">
      <span class="sr-only">pinterest</span>
      {% include "svg/some/pinterest.svg" %}
    </a>
  {% endif %}


</nav>
