{# HEADER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}
  <!-- src/__includes/header.njk -->
{%- endif  -%}



  {# skip link #}
  Skip to Content

  {# main wrap header elements #}


    {# logo and menu #}



        {# quick n fast logo #}
        {% include "svg/saga11.svg" %}
        {{site.title}}


      {% include "nav/menu.njk" %}


    {% if site.rss %}



          RSS Feed
          {% include "svg/rss.svg" %}


    {% endif %}


      {{ site.title }}



    {# mobile menu burron #}








  {% include "nav/menu-mobile.njk" %}

{% include "notification.njk" %}
