---
permalink: /pwa-splashscreen-dark/
title: "PWA Splashscreen Dark"
layout: base.njk
eleventyExcludeFromCollections: true
---

{# PWA setup
------------------------------------------------
Instead of fiddeling with a bunch of design tools we can build the pwa screens in
html and css - use the pwa: in package.json
#}
{%- if env.mode != 'prod' %}<!-- pwa-setup.html  -->{%- endif -%}

<main class="h-full flex flex-col items-center justify-center bg-gradient-to-r from-slate-800 via-slate-700 to-slate-800">

  <img src="/assets/icon/icon.svg" class="w-28">

  {# <div class="text-5xl text-white font-extrabold drop-shadow-lg">
    {{ site.title }}
  </div> #}



</main>
