{%- if env.mode != 'prod' %}  <!-- src/__includes/sections/section-files.njk  -->{%- endif  -%}

<ul>

  <div class="text-3xl">{{ component.title }} </div>
  {% for item in component.files %}
    {# set the file title #}
    {% set title %}
      {% if item.title %}
        {{  item.title }}
      {% else %}
        {{ item.file }}
      {% endif %}
    {% endset %}

    <li class="flex items-center">
      {# <div class="w-4">{% include "svg/css3.svg" %}</div> #}
      {# TODO #}
      <a href="{{ item.file }}" class="ml-2 underline">{{ title }}</a>
    </li>

  {% endfor %}

</ul>
