{%- if env.mode != 'prod' %}  <!-- src/__includes/components/download/download.njk -->{%- endif  -%}

<section class="max-w-lg mx-auto">
  <h2 class="text-5xl text-cyan-700 text-center">{{ component.title }} </h2>

  <div class="grid md:grid-cols-4 gap-2 my-4">
  {% for item in component.files %}

    {# set the file title #}
    {% set title %}
      {% if item.title %}
        {{  item.title }}
      {% else %}
        {{ item.file }}
      {% endif %}
    {% endset %}

    <article class="bg-white shadow rounded-none flex flex-row m-2 p-2">
      <div class="flex flex-none h-10 w-10 mr-2 items-center justify-center rounded-md bg-cyan-500 text-white">
        {# icon #}
        <div class="w-6">
          {% include "svg/download.svg" %}
          </div>
        </div>

        <a href="{{ item.file }}" class="ml-2 text-lg block">{{ title }}</a>

    </article>


  {% endfor %}
  </div>



</srction>


