{%- if env.mode != 'prod' %}  <!-- src/__includes/components/download/download.njk -->{%- endif  -%}

<section class="max-w-7xl mx-auto">
  <h2 class="text-5xl text-cyan-700 text-center mb-4">{{ component.title }} </h2>

  <div class="flex flex-row flex-wrap justify-center mx-auto pagewidth mt-8 bg-slate-300">
  {# <div class="grid grid-cols-3 gap-2 bg-slate-200 justify-center"> #}

  {% for item in component.files %}

    {# set the file title #}
    {% set title %}
      {% if item.title %}
        {{  item.title }}
      {% else %}
        {{ item.file }}
      {% endif %}
    {% endset %}

    {# Download Card #}
    <a href="{{ item.file }}"
      class="flex flex-row basis-60 p-2 m-2 bg-white shadow rounded-md hover:rotate-1 hover:text-slate-600
    ">
      {# icon #}
      <div class="flex flex-none h-10 w-10 mr-2 items-center justify-center rounded-md bg-cyan-500 text-white">
        <div class="w-6">
          {% include "svg/download.svg" %}
        </div>
      </div>
      <div class="ml-2  block">{{ title }}</div>
    </a>


  {% endfor %}
  </div>



</srction>


