{%- if env.mode != 'prod' %}<!-- src/__includes/component/all.liquid -->{%- endif -%}

{% comment %} Tales from the loop ...
---------------------------------------------------------
This is where the magic happens and we loop through
all the componenets and render them out as specified from the template files
and the componenet type
{% endcomment %}


{% for component in components %}
<section class="py-4">
  {% include component.template %}
</section>
{% endfor %}
