---
title: Images slide

components:
  - type: images
    title: Images Grid 5
    text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    images:
      - image: /content/styleguide/images/morning.png
        title: lorem
      - image: /content/styleguide/images/night.png
        title: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      - image: /content/styleguide/images/morning.png
      - image: /content/styleguide/images/night.png
        title: text
      - image: /content/styleguide/images/morning.png

  - type: images
    title: Images Grid 3
    text: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    template: components/images/images.njk
    images:
      - image: /content/styleguide/images/morning.png
      - image: /content/styleguide/images/night.png
      - image: /content/styleguide/images/morning.png
---

{% asyncEach component in components %}

  {% include "components/images/images-slide.njk" %}

{% endeach %}
