---
title: Download
component:
  title: Lorem ipsum, dolor sit amet
  files:
    - file: filename.foo
      title: Lorem ipsum dolor sit amet consectetur adipisicing elit.consectetur adipisicing elit.
    - file: filename.foo
      title: Download this file
    - file: filename.foo
      title: Download this other file
    - file: filename.foo
      title: Lorem ipsum dolor sit amet consectetur adipisicing elit.
    - file: filename.foo
      title: Download this file
    - file: filename.foo
      title: Download this other file

---

{% include "components/download/download.njk" %}

