---
title: Price
components:
  - type: price
    title: Price
    text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia praesentium hic cum mollitia dolor, commodi nam error, deserunt velit culpa dolore voluptas perspiciatis iusto ullam consequuntur. Perferendis quasi itaque ipsum.
    price:
      - title: Starter
        featured: false
        price: "100"
        url: "http://saga11.dev"
        text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab enim, quas placeat laborum saepe id quibusdam natus asperiores aspernatur sed corporis eaque, explicabo pariatur, voluptatum nam fugiat et odit.
        elements:
          - active: true
            title: basic html
          - active: true
            title: basic css
      - title: Pro
        featured: true
        price: "200"
        url: "http://saga11.dev"
        text: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sit voluptas quos eum quaerat eos, deleniti ipsa quidem ducimus odio? Assumenda nesciunt facilis reiciendis ratione vitae mollitia iusto nobis ullam.
        elements:
          - active: false
            title: not so awesome
          - active: true
            title: "super awesome feature"
          - active: true
            title: "super duper feature"
      - title: Business
        featured: false
        price: "300"
        url: "http://saga11.dev"
        text: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore in debitis tempore, nam repellendus doloremque delectus molestiae blanditiis repudiandae labore maiores, qui fuga. Laboriosam sunt recusandae deleniti, nihil illo et.
        elements:
          - active: false
            title: not so awesome
          - active: true
            title: "super awesome feature"
          - active: true
            title: "super awesome feature"
          - active: true
            title: "super awesome feature"


---

{% asyncEach component in components %}

  {% include "components/price/price.njk" %}

{% endeach %}


