{%- if env.mode != 'prod' %}  <!-- src/__includes/components/price/price.liquid -->{%- endif -%}






      {{ component.title }}


    {% if component.text %}

        {{ component.text  | markdown   }}

    {% endif %}



  {% comment %}wrapper for the list {% endcomment %}

  {% comment %}Price list {% endcomment %}
  {% for item in component.price %}




        {{ item.title }}



        {{ item.price }}




        <a href="{{ item.url }}"
          class="px-4 py-3 rounded font-bold
          bg-sky-200 dark:bg-sky-800 border  border-sky-400
          hover:bg-sky-300

        "> Get this one



      {% if item.text %}

          {{ item.text  | markdown   }}

      {% endif %}

      {% comment %}price elements {% endcomment %}
      {% for element in item.elements %}

          {% comment %}icon {% endcomment %}
          {% if element.active %}

              {% include "icons/check-badge.svg" %}


          {% else %}

              {% include "icons/check.svg" %}


          {% endif %}

          {{ element.title }}


      {% endfor %}
      {% comment %}/price elements {% endcomment %}

  {% endfor %}
  {% comment %}/Price list {% endcomment %}


