{% from 'src/system/netlifycms/templatecollection.macro.njk' import templatecollection, templaterelation %}
{# this file is included into the system/netlifycms/config.njk #}

{#
{% raw %}
  - name: foobar
    label: 💜 Foobar
    label_singular: 💜 Foobar
    description: "This is an example of a custom content type"
    folder: "src/content/foobar"
    slug: "{{title}}"
    preview_path: /foobar/{{title}}/
    create: true
    delete: true
    hide: false
    editor:
      preview: false
    summary: "{{title}}"
    sortable_fields: ["title", "order", "date"]
    view_filters:
      - label: Drafts
        field: eleventyExcludeFromCollections
        pattern: true
    view_groups:
      - label: Drafts
        field: eleventyExcludeFromCollections
    nested:
      depth: 100 # max depth to show in the collection tree
      summary: "{{title}}"
    fields:
{% endraw %}
  {% include "src/system/netlifycms/fields/title.njk" %}
  {% include "src/system/netlifycms/fields/draft.njk" %}
  {% include "src/system/netlifycms/fields/content.njk" %}
{% raw %}
 #}
