---
title: Image

components:
  - type: image
    title: Lorem ipsum, dolor sit amet
    text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatibus vitae perspiciatis culpa recusandae qui deleniti, debitis fugit repudiandae neque nulla a, ullam minus numquam. Quam aliquid non ratione vero?
    image: /themes/styleguide/images/morning.png
  - type: image
    title: Lorem ipsum, dolor sit amet
    text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatibus vitae perspiciatis culpa recusandae qui deleniti, debitis fugit repudiandae neque nulla a, ullam minus numquam. Quam aliquid non ratione vero?
    image: /themes/styleguide/images/night.png

---

{% asyncEach component in components %}

  {% include "components/image/image.njk" %}

{% endeach %}



