---
title: Images Slider

components:
  - type: images
    template: components/images/images-grid.njk
    images:
      - image: /themes/styleguide/images/morning.png
      - image: /themes/styleguide/images/morning.png
      - image: /themes/styleguide/images/morning.png
      - image: /themes/styleguide/images/morning.png
      - image: /themes/styleguide/images/morning.png
      - image: /themes/styleguide/images/morning.png
  - type: images
    template: components/images/images.njk
    images:
      - image: /themes/styleguide/images/morning.png
      - image: /themes/styleguide/images/morning.png
      - image: /themes/styleguide/images/morning.png
      - image: /themes/styleguide/images/morning.png
      - image: /themes/styleguide/images/morning.png
---

{% asyncEach component in components %}

  {% include "components/images/images.njk" %}

{% endeach %}

