---
title: CTA

component:
  title: Lorem ipsum, dolor sit amet consectetur adipisicing elit
  text: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis doloremque voluptatem necessitatibus eligendi harum dolorum atque consectetur ipsa accusamus. Consequatur exercitationem quae ullam esse error, eum modi quo culpa tenetur!
  collection: test
  url: foobar
  cta: CTA link
  image: /themes/styleguide/images/dungeonmaster.png
---

{% include "components/cta/cta.njk" %}

