---
layout: html.liquid
---
{% comment %}DEFAULT
------------------------------------------------
Calls the _base/base.liquid that is holding all the basic html
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/default.liquid  -->{%- endif -%}

{% comment %}isModalOpen is used to test if theres a modal open then disable the scroll {% endcomment %}


{%- include "header.liquid" %}



  {{ content  }}



{%- include "edit.liquid" %}

{%- include "footer.liquid" %}
