---
layout: html.liquid
---
{#
  This layout is used for the styleguide
 {% endcomment %}
{%- if env.mode != 'prod' %}
  <!-- ___layouts/styleguide.liquid  -->
{%- endif -%}

{% comment %}isModalOpen is used to test if theres a modal open then disable the scroll {% endcomment %}
<body class="flex flex-col h-screen bg-gray-100"
      x-data="{'isModalOpen': false}"
      x-on:keydown.escape="isModalOpen=false"
      :class="isModalOpen ? 'overflow-y-hidden':''"
>

  {% include "svg/11ty.svg" %}
      🎈 Styleguide


      {% for item in collections.styleguide | sortByFilepath %}
    {% comment %}todo: group based on the filepath ?{{ item.filePathStem | replace('/_system/styleguide/', '')}}  {% endcomment %}

    {% if item.url in page.url %} 👉{% endif %}
    {{item.data.title}}

  {% endfor %}

  {{ title | upper }}

  {{ content  }}

  {% include "responsive.liquid" %}

  {#
    {% highlight "html" %}
    {{ content  }}
    {% endhighlight %}
 {% endcomment %}