---
title: 404 page
---


<a href="/404.html" class="underline" target="_blank">404 page</a>

<a href="/pwa-splashscreen/" class="underline" target="_blank">PWA screen</a>
<a href="/pwa-splashscreen-dark/" class="underline" target="_blank">PWA screen darm</a>
