---
title: pwa
---

Theres 2 splacescreens:


<ul>
  <li><a href="/pwa-splashscreen/" target="_blank">pwa-splashscreen</a></li>
  <li><a href="/pwa-splashscreen-dark/"  target="_blank">pwa-splashscreen-dark</a></li>
</ul>




