---
layout: system/tag.njk
permalink: /tag/{{ tag | slug }}/
eleventyComputed:
  title: "tag - {{ tag }}"

pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - relation
  addAllPagesToCollections: true
---
