{%- if env.mode != 'prod' %} <!-- src/themes/grunn/includes/components/form/form.njk -->{%- endif  -%}


{{ component.title }}

  {% if component.text %}

{{ component.text  | markdown | safe  }}

  {% endif %}


<form name="{{ component.name | urlencode }}" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/{{ component.action }}/">
  {# <div data-netlify-recaptcha="true"></div> #}
  <div hidden>
    <label for="supersecret">secret</label>
    <input name="bot-field" id="supersecret" />
  </div>

  {# Create form elements #}
  {% for item in component.elements %}

  {% if item.type == "textarea" %}
  {% include "components/form/field/textarea.njk" %}
  {% elif item.type == "text" %}
  {% include "components/form/field/input.njk" %}
  {% elif item.type == "options" %}
  {% include "components/form/field/options.njk" %}
  {% endif %}

  {% endfor %}




  <button aria-label="Submit">Send</button>
  </div>

</form>
