@tailwind base;

@layer base {
  /* a11y  */
  a {
    @apply focus:border focus:border-dashed focus:border-tabcolor focus:outline-none;
  }
  form button {
    @apply focus:border focus:border-dashed focus:border-tabcolor focus:outline-none;
  }

  /* form  */
  .btn {
  }
}
