{%- if env.mode != 'prod' %}  <!-- src/__includes/components/price/price.njk -->{%- endif -%}

<section class="py-4">

  <article class="mx-auto max-w-3xl">

    <h2 class="text-5xl text-cyan-700 text-center mb-4 dark:text-cyan-200">
      {{ component.title }}
    </h2>

    {% if component.text %}
      <article class="prose prose-xl dark:prose-invert">
        {{ component.text  | markdown | safe  }}
      </article>
    {% endif %}

  </article>

  {# wrapper for the list #}
  <div class="md:flex flex-row justify-center mx-auto md:max-w-7xl mt-8">
  {# Price list #}
  {% for item in component.price %}

    <article class="md:w-80 border shadow rounded-md bg-white dark:bg-slate-900 p-4 m-2 {% if item.featured %} border-cyan-300 {% else %} dark:border-black {% endif %}">

      <h3 class="text-4xl text-cyan-700  dark:text-cyan-100 mt-6 mb-4 text-center">
        {{ item.title }}
      </h3>

      <div class="text-3xl text-cyan-800 dark:text-white bg-slate-50 dark:bg-slate-800 text-center py-4 -ml-4 -mr-4 mb-4">
        {{ item.price }}
      </div>

      <div class="flex justify-center py-4">

        <a href="{{ item.url }}"
          class="px-4 py-3 rounded font-bold
          bg-sky-200 dark:bg-sky-800 border  border-sky-400
          hover:bg-sky-300

        "> Get this one </a>

      </div>

      {% if item.text %}
        <div class="prose dark:prose-invert">
          {{ item.text  | markdown | safe  }}
        </div>
      {% endif %}

      {# price elements #}
      {% for element in item.elements %}
        <div class="flex flex-row items-center">
          {# icon #}
          {% if element.active %}
            <div class="w-5 text-cyan-500">
              {% include "icons/check-badge.svg" %}
            </div>
            <div class="p-2 bold">
          {% else %}
            <div class="w-5 text-slate-300">
              {% include "icons/check.svg" %}
            </div>
            <div class="line-through text-slate-700 dark:text-slate-200">
          {% endif %}

          {{ element.title }}
        </div>
      </div>
      {% endfor %}
      {# /price elements #}
    </article>
  {% endfor %}
  {# /Price list #}
  </div>
</section>
