---
layout: default.njk
saga-template-name: Frontpage
---
{#
------------------------------------------------
FRONTPAGE TEMPLATE
------------------------------------------------
Specfic page to control the layout for the frontpage
#}
{%- if env.mode != 'prod' %}<!-- /Users/mdk/Web/saga11/src/themes/grunn/layouts/page/frontpage.njk  -->{%- endif -%}



    {% picture
        img=image,
        width=[400,800],
        sizes="(min-width: 1024px) 50vw, 100vw",
        css="shadow rounded-xl r",
        loading = "eager"
    %}



    {{ content | safe }}



{% include "components/all.njk" %}
