---
layout: base.njk
saga-template-name: Link in Bio
---
{# PAGE TEMPLATE LINK
------------------------------------------------
This page layout is used for the link in bio type
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/frontpage.njk  -->{%- endif -%}

<body>


<main id="main" tabindex="-1">


    {% picture
        img=image,
        width=[400,800],
        sizes="(min-width: 1600px) 50vw, 100vw",
        css="",
        loading = "eager"
    %}

{{ title }}
{{ content | safe }}


<a href="{{env.url}}">{{ site.title }}</a>

{% for item in link %}

  {# Test if the user added the label ... #}
  {% if item.label == "" %}
    {% set label = item.url %}
  {% else %}
    {% set label = item.label %}
  {% endif %}

  <a href="{{ item.url }}" rel="noopener noreferrer nofollow">{{ label }}</a>
{% endfor %}


<H2>Social Media Platforms</H2>

{# SOME icons  #}
{% set css = "" %}
{% set linkattributes %}
  target=_blank rel=noopener noreferrer nofollow
{% endset %}

<nav aria-label="Menu Social media links">

      {% if settings.rss %}
        <a href="/feed.xml" class="{{css}}">
          <span>RSS Feed</span>
          {% include "svg/rss.svg" %}
        </a>
      {% endif %}

      {% if some.linkedin %}
        <a href="https://linkedin.com/in/{{ some.linkedin }}" {{ linkattributes }} class="{{css}}">
          <span>LinkedIn</span>
          {% include "svg/some/linkedin.svg" %}
        </a>
      {% endif %}

      {% if some.facebook %}
        <a href="https://facebook.com/{{ some.facebook }}" {{ linkattributes }} class="{{css}}">
          <span>Facebook</span>
          {% include "svg/some/facebook.svg" %}
        </a>
      {% endif %}

      {% if some.instagram %}
        <a href="https://instagram.com/{{ some.instagram }}" {{ linkattributes }} class="{{css}}">
          <span>Instagram</span>
          {% include "svg/some/instagram.svg" %}
        </a>
      {% endif %}

      {% if some.youtube %}
        <a href="https://instagram.com/{{ some.youtube }}" {{ linkattributes }}  class="{{css}}">
          <span>youtube</span>
          {% include "svg/some/youtube.svg" %}
        </a>
      {% endif %}

      {% if some.twitter %}
        <a href="https://twitter.com/{{ some.twitter }}" {{ linkattributes }}  class="{{css}}">
          <span>Twitter</span>
          {% include "svg/some/twitter.svg" %}
        </a>
      {% endif %}

      {% if some.github %}
        <a href="https://github.com/{{ some.github }}" {{ linkattributes }}  class="{{css}}">
          <span>GitHub</span>
          {% include "svg/some/github.svg" %}
        </a>
      {% endif %}

      {% if some.dribble %}
        <a href="https://dribbble.com/{{ some.dribble }}" {{ linkattributes }}  class="{{css}}">
          <span>Dribbble</span>
          {% include "svg/some/dribble.svg" %}
        </a>
      {% endif %}

      {% if some.tiktok %}
        <a href="https://tiktok.com/@{{ some.tiktok }}" {{ linkattributes }}  class="{{ css }}">
          <span>tiktok</span>
          {% include "svg/some/tiktok.svg" %}
        </a>
      {% endif %}

      {% if some.twitch %}
        <a href="https://twitch.tv/{{ some.twitch }}" {{ linkattributes }}  class="{{ css }}">
          <span>twitch</span>
          {% include "svg/some/twitch.svg" %}
        </a>
      {% endif %}

      {% if some.patron %}
        <a href="https://patron.com/{{ some.patron }}" {{ linkattributes }}  class="{{ css }}">
        patron
      </a>
      {% endif %}

      {% if some.discord %}
        <a href="https://discord.gg/{{ some.discord }}" {{ linkattributes }}  class="{{ css }}">
          <span>discord</span>
          {% include "svg/some/discord.svg" %}
        </a>
      {% endif %}

      {% if some.soundcloud %}
        <a href="https://soundcloud.com/{{ some.soundcloud }}" {{ linkattributes }}  class="{{ css }}">
          <span>Soundcloud</span>
          {% include "svg/some/soundcloud.svg" %}
        </a>
      {% endif %}

      {% if some.bandcamp %}
        <a href="https://{{ some.bandcamp }}.bandcamp.com" {{ linkattributes }}  class="{{ css }}">
          <span>bandcamp</span>
          {% include "svg/some/bandcamp.svg" %}
        </a>
      {% endif %}

    </div>
  </main>




