---
layout: base.njk
saga-template-name: Under construction
---
{# PAGE TEMPLATE UNDER CONSTRUCTION FTW
------------------------------------------------
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/frontpage.njk  -->{%- endif -%}

<body>


<img src="/assets/img/under-construction.gif" alt="under construction" width="100">
<h1>{{ title }}</h1>

{{ teaser | safe}}

