{# SITE ICONS
------------------------------------------------
#}
{%- if env.mode != 'prod' %}<!-- src/__includes/head/icon.njk  -->{%- endif -%}
<link rel="icon" type="image/svg+xml" href="/themes/{{ theme }}/assets/icon/icon.svg">
<link rel="apple-touch-icon" sizes="180x180" href="/themes/{{ theme }}/assets/icon/icon-apple-touch.png">
<link rel="icon" type="image/png" sizes="32x32" href="/themes/{{ theme }}/assets/icon/icon-safari.png">
<link rel="manifest" href="/manifest.webmanifest">
