

{# Show all componenets that are a given page  #}
{% for component in components %}
  {# What type are we looking for #}
  {% if component.type == "calendar" %}

    {# test if there is set a componenet else print a warning #}
    {% if component.template %}
      {% include component.template %}
    {% else %}
      <div class="bg-orange-500 p-4">"No template set"</div>
    {% endif %}

  {% endif %}

{% endfor %}
