  {# user control #}



      {# darkmode on #}

        {% include "icons/sun.svg" %}


      {# darkmode not actived #}

        {% include "icons/moon.svg" %}




      {% include "icons/trash.svg" %}



