{%- if env.mode != 'prod' %}<!--  src/__includes/edit.njk -->{%- endif -%}

<div class="bg-cyan-50 flex space-x-4 justify-center">

  <a href="{{ page.filePathStem | netlifycmsedit }}" target="_blank" rel="noopener noreferrer nofollow">
    Edit
  </a>
</div>

