{# FOOTER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}  <!-- _src/__includes/footer.njk  -->{%- endif  -%}

  {% include "location.njk" %}

  {% include "nav/socialmedia.njk" %}

  {{ site.footer | markdown | safe }}

</footer>
