{# HEADER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}<!-- src/__includes/header.njk -->{%- endif  -%}

<header>

  <a href="#main">Skip to Content</a>

    <a href="/" title="{{site.title}}">
      <h1 >{{site.title}}</h1>
    </a>

    {%- for item in collections.all | eleventyNavigation("main") %}
      <a href="{{ item.url }}"
        {% if item.url in page.url %}
          aria-current="page"
        {% else  %}
        {% endif %}
        >
          {{ item.title }}
          {# test if theres any kids #}
          {% if item.children | length %} * {% endif %}
      </a>
    {%- endfor -%}

</header>

