
{% for item in collections.allNotification %}

{% if item.data.status == "warning" %} !!! {% endif %}

  <h2 class="text-3xl">{{ item.data.title }}</h2>

  {% if item.data.text %}
    {{ item.data.text | markdown | safe  }}
  {% endif %}

   {{ content | safe}}

{% endfor %}

