---
layout: default.njk
saga-template-name: tag
---
{%- if env.mode != 'prod' %}<!-- src/themes/grunn/layouts/tag/tag.njk  -->{%- endif -%}

<article class="mx-auto max-w-7xl">

    <h1 class="text-6xl text-cyan-700 dark:text-cyan-200 flex flex-row justify-center items-center">
      {% if icon %}
        <div class="h-8 w-8 ">{% include  icon %}</div>
      {% endif %}

      {{ title }}
    </h1>

    {% include "nav/tagcloud.njk" %}

    <div class="prose prose-xl max-w-full dark:prose-invert ml-4">
      {{ content | safe }}
    </div>

</article>

<section class="md:grid grid-cols-3 gap-4 py-4">

{#
the page.fileslug is the tags identifier in all the md files
ex:
tags:
  - saga11

That then refers to the file tag/saga.md that constainss all the data the we use on this page.
 #}
{% for item in collections[ page.fileSlug ]  %}

  <article class="shadow border dark:border-none border-slate-100 bg-white dark:bg-slate-900">
    <a href="{{ item.url }}" class="">

      <div class="shadow-lg aspect-video overflow-hidden">
        {% picture
          img=item.data.card.image,
          width=[400, 800],
          sizes="(min-width: 800px) 50vw, 100vw",
          alt=item.data.card.alt
        %}
      </div>

      <div class="p-4">
        <div class="text-2xl text-cyan-800 dark:text-cyan-200">{{item.data.card.title }}</div>
        <div class="mt-2">{{ item.data.card.text }}</div>
        <time class="font-bold text-slate-600 dark:text-slate-200 text-right py-4 block">{{ item.date | formatDate("DDD  T", "DK") }}</time>
      </div>

    </a>
  </article>

{% endfor %}

</section>


<a href="/feed/{{ title | replace(" ", "") |  slugify }}.xml" class="flex flex-row items-center">
  <div>Grap the RSS </div>
  <div class="w-4 h-4 text-white ml-2">{% include "icons/rss.svg" %}</div>
</a>
