{%- if env.mode != 'prod' %}<!-- src/__includes/components/collection/collection.njk -->{%- endif -%}

{# COLLECTION OF POSTS
------------------------------------------------
https://www.11ty.dev/docs/collections/
#}
{%- if env.mode != 'prod' %}<!-- __includes/section-collection.njk  -->{%- endif -%}

{{ component.title }}

{% if component.text %}
  {{ component.text  | markdown | safe  }}
{% endif %}

{% for item in collections[component.collection]  %}
  {%- if env.mode != 'prod' %}<!-- markdown file: {{ item.inputPath }}  -->{%- endif -%}

  <a href="{{ item.url }}" title="{{item.data.title}}" tabindex="0">
    {% picture
        img=item.data.card.image,
        width=[300, 600],
        alt=item.data.card.alt
    %}

  {{ item.data.title }}

  {{ item.data.teaser }}
{% endfor %}
