{%- if env.mode != 'prod' %}
  <!-- src/theme-grunn/includes/components/download/download.liquid  -->
{%- endif  -%}

{% comment %}title + text {% endcomment %}

{{ component.title }}

{% if component.text %}

  {{ component.text  | markdown   }}

{% endif %}

{% for item in component.files %}

  {% comment %}set the file title {% endcomment %}
  {% assign title %}
  {% if item.title %}
    {{  item.title }}
  {% else %}
    {{ item.file }}
  {% endif %}
  {% endset %}

  {% comment %}Download Card {% endcomment %}
  <a href="{{ item.file }}"
      class="flex flex-row items-center basis-60 p-2 m-2 bg-white dark:bg-gray-900 shadow rounded-md
    ">
    {% comment %}icon {% endcomment %}

    {% include "icons/arrow-down-tray.svg" %}

    {{ title }}

  {% endfor %}