{# collection  #}
{% if collection %}
<section class="grid md:grid-cols-3 gap-4 my-4">

{% for item in collections[collection] | sortByOrder %}
  <article class="p-4 shadow border rounded">
    <a href="{{ item.url }}" title="{{item.data.title}}" class="text-xl font-bold">{{item.data.title}}

      <div class= "aspect-video overflow-hidden">

        {% if item.data.image %}
          {% image item.data.image, [400,800, 1200],"(min-width: 30em) 50vw, 100vw",['webp'],"alt text" %}

      {% endif %}
      </div>

    </a>
    <p class="mt-2">{{ item.data.teaser }}</p>
  </article>
{% endfor %}

</section>
{% endif %}
