<section class="border-1 grid grid-cols-2 gap-2">
  {% for item in gallery %}
    <figure>

      {# {% image item.data.image, [400,800, 1200],"(min-width: 30em) 50vw, 100vw",['webp'],"alt text" %} #}
      <figcaption>
        <div class="text-lg font-bold">
          {{ item.image.title | safe }}
        </div>
        {{ item.image.figcaption | safe }}
      </figcaption>
    </figure>
  {% endfor %}
</section>
