<section class="border-1 grid grid-cols-2 gap-2">
  {% for item in gallery %}
  <figure>
    {% createImage item.image.image, item.image.title, "(min-width: 30em) 50vw,
    100vw" %}
    <figcaption>
      <div class="text-lg font-bold">
        {{ item.image.title | safe }}
      </div>
      {{ item.image.figcaption | safe }}
    </figcaption>
  </figure>
  {% endfor %}
</section>
