{# Section  #}
{% if section %}
<h2 class="text-2xl mt-4">section</h2>
<section class="grid grid-cols-3">

  {% for item in collections[ section ] %}
    <article class="p-2 shadow border m-1">
      <a href="{{ item.url }}" title="{{item.data.title}}" class="text-xl font-bold">{{item.data.title}}</a>
      {# todo: create an responsive image snippet #}
      <img src="{{ item.data.image }}" alt="">
      <p class="mt-2">{{ item.data.teaser }}</p>
    </article>
  {% endfor %}

</section>
{% endif %}
