---
layout: default.njk
saga-template-name: Post Default
---
{# POST
------------------------------------------------
Base post template - white is different from the pages
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/post/post.njk  -->{%- endif -%}


<article class="flex flex-col md:flex-row ">
  <div class="md:w-2/3 ">
    {# main content #}
    <h1 class="text-5xl">{{ title }}</h1>

    <footer class="mb-4">
    {%- for tag in tags | filterTagList -%}
      {# grap the markdown files and loop through them #}
      {% for item in collections.all | getPage("/tag/" + tag + "/" ) %}
        <a href="/tag/{{ tag }}">{{ item.data.title}}</a>
      {% endfor %}
      {# divider #}
      {% if not loop.last %} | {% endif %}
    {% endfor %}

    {% if date %}
      <time>
      {{ date | formatDate("cccc d. MMMM yyyy HH:mm", "DK") }}
      </time>
    {% endif %}
  </footer>

    {# image #}
    {% if image %}
      {% image image, [400,800, 1200],"(min-width: 30em) 50vw, 100vw",['webp'],alt %}
    {% endif %}


    <p class="text-xl my-4">
      {{ teaser | safe }}
    </p>

    <div class="wysiwyg">
      {{ content | safe }}
    </div>

    {% include "gallery.njk" %}

    {% include "nav/post-pre-next.njk" %}

  </div>
  <div class="md:w-1/3 md:ml-4">

    {% include "nav/posts.njk" %}

    <h2 class="mt-4">Tag cloud</h2>

    {% include "nav/tags.njk" %}
  </div>
</article>


