---
layout: default.njk
saga-template-name: Post Default
---
{# POST
------------------------------------------------
post template
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/post/post.njk  -->{%- endif -%}





<article class="flex flex-col md:flex-row ">
  <div class="md:w-2/3 ">

    <h1 class="text-5xl">{{ title }}</h1>

    {# Generate image #}
      {% if image %}
        {% set img = page.inputPath | replace("index.md", image) %}
        {% set css = "shadow" %}
        {% set srcset = [400,800, 1600] %}
        {% set sizes = "(min-width: 1600px) 50vw, 100vw" %}
        {% set loading = "eager" %}
        <div class="aspect-video overflow-hidden">
          {% image img, srcset, sizes, format, alt,css, loading %}
        </div>
      {% endif %}
    {# / Generate image #}


    <footer class="mb-4">

    {%- for tag in tags | filtertags -%}
      {# grap the markdown files and loop through them #}
      {% for item in collections.all | getPage("/tag/" + tag + "/" ) %}
        <a href="/tag/{{ tag }}">{{ item.data.title }}</a>
      {% endfor %}
      {# divider #}
      {% if not loop.last %}, {% endif %}
    {% endfor %}

    <time>{{ date | formatDate("DDD  T", "DK") }}</time>

  </footer>


  <div class="wysiwyg">
    {{ content | safe }}
  </div>

  {# image gallery #}
  {% include "gallery.njk" %}

  {# Pre next nav #}
  {% include "nav/post-pre-next.njk" %}

  </div>
  {# sidebar #}
  <div class="md:w-1/3 md:ml-4">


    {# calendar #}
    {% if date_start %}
      {% include "calendar.njk" %}
    {% endif %}

    {% include "share.njk" %}

    Sidebars:
    {# list of post #}
    {% include "nav/posts.njk" %}

    {# List of tags #}
    {% include "nav/tags.njk" %}

    {% include "nav/pages.njk" %}
  </div>

</article>
