---
layout: default.njk
saga-template-name: Post Default
---
{# POST
------------------------------------------------
Base post template - white is different from the pages
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/post/post.njk  -->{%- endif -%}



<article class="flex flex-col md:flex-row ">
  <div class="md:w-2/3 ">

    <div class="bg-red-100">

      {# {% if date_start %}
        {% datediff date_start, date_end %} Hours
      {% endif %} #}

{{ date_start | formatDate("DDD") }}

<br><br><br>


    {% if (date_allday == true) and (date_start  | formatDate("ccc d MMMM")  == date_end  | formatDate("ccc d MMMM") ) %}
      {# Day is the same + all day   #}
      <div class="text-3xl">{{ date_start | formatDate("ccc d MMMM") }}</div>
      <div class="text-xl">All Day</div>

    {% elseif (date_start  | formatDate("ccc d MMMM")  == date_end  | formatDate("ccc d MMMM") ) %}
      {# Day is the same #}
      <div class="text-3xl">{{ date_start | formatDate("ccc d MMMM") }}</div>
      <div class="text-xl">{{ date_start | formatDate("HH:mm") }} - {{ date_end | formatDate("HH:mm") }}</div>

    {% elseif (date_start  | formatDate("yyyy")  == date_end  | formatDate("yyyy") ) %}
      {# Day is the year #}
      <div class="text-3xl">
        {{ date_start | formatDate("d MMMM HH:mm (ccc)") }} - {{ date_end | formatDate("ccc d MMMM HH:mm (ccc) ") }}  {{ date_start  | formatDate("yy") }}
      </div>
    {% else %}
      <div class="text-3xl">{{ date_start | formatDate("ccc d MMMM yy HH:mm") }} - {{ date_end | formatDate("ccc d MMMM HH:mm") }}</div>
    {% endif %}


    Add to calendar:
    <a href="{% calendar google, date_start, date_end, date_allday, title, teaser, location %}" target="_blank" class="inline-block p-2 bg-red-300">Google</a>
    <a href="{% calendar ics, date_start, date_end, date_allday, title, teaser, location %}" target="_blank" class="inline-block p-2 bg-red-300">ics</a>


    </div>
    {# main content #}
    <h1 class="text-5xl">{{ title }}</h1>

    <footer class="mb-4">
    {%- for tag in tags | filterTagList -%}
      {# grap the markdown files and loop through them #}
      {% for item in collections.all | getPage("/tag/" + tag + "/" ) %}
        <a href="/tag/{{ tag }}">{{ item.data.title}}</a>
      {% endfor %}
      {# divider #}
      {% if not loop.last %} | {% endif %}
    {% endfor %}

    {% if date %}
      <time>
      {{ date | formatDate("ccc d. MMMM yyyy HH:mm", "DK") }}
      </time>
    {% endif %}
  </footer>

    {# image #}
    {% if image %}
      {% image image, [400,800, 1200],"(min-width: 30em) 50vw, 100vw",['webp'],alt,'','eager' %}
    {% endif %}


    <p class="text-xl my-4">
      {{ teaser | safe }}
    </p>

    <div class="wysiwyg">
      {{ content | safe }}
    </div>

    {% include "gallery.njk" %}

    {% include "nav/post-pre-next.njk" %}

  </div>
  <div class="md:w-1/3 md:ml-4">

    {% include "nav/posts.njk" %}

    <h2 class="mt-4">Tag cloud</h2>

    {% include "nav/tags.njk" %}
  </div>
</article>


