---
layout: html.liquid
saga-template-name: Link in Bio
---
{%- if env.mode != 'prod' %}<!-- ___layouts/page/frontpage.liquid  -->{%- endif -%}










        {% picture
          img=image,
          width=[400,800],
          sizes="(min-width: 1600px) 50vw, 100vw",
          css="aspect-squre shadow rounded-full w-40 border-4 border-red-400",
          loading = "eager"
        %}


      {{ title }}
      {{ content  }}




      {{ site.title }}



    {% include "components/all.liquid" %}


      {% for item in link %}

        {% comment %}Test if the user added the label ... {% endcomment %}
        {% if item.label == "" %}
          {% assign label = item.url %}
        {% else %}
          {% assign label = item.label %}
        {% endif %}

        {{ label }}
      {% endfor %}


    Social Media Platforms
    {% comment %}SOME icons  {% endcomment %}
    {% assign css = "w-12 h-12 block text-sky-400 hover:text-sky-700 " %}
    {% assign linkattributes %}
      target=_blank rel=noopener noreferrer nofollow
    {% endset %}



      {% if settings.rss %}

          RSS Feed
          {% include "svg/rss.svg" %}

      {% endif %}

      {% if some.linkedin %}

          LinkedIn
          {% include "svg/some/linkedin.svg" %}

      {% endif %}

      {% if some.facebook %}

          Facebook
          {% include "svg/some/facebook.svg" %}

      {% endif %}

      {% if some.instagram %}

          Instagram
          {% include "svg/some/instagram.svg" %}

      {% endif %}

      {% if some.youtube %}

          youtube
          {% include "svg/some/youtube.svg" %}

      {% endif %}

      {% if some.twitter %}

          Twitter
          {% include "svg/some/twitter.svg" %}

      {% endif %}

      {% if some.github %}

          GitHub
          {% include "svg/some/github.svg" %}

      {% endif %}

      {% if some.dribble %}

          Dribbble
          {% include "svg/some/dribble.svg" %}

      {% endif %}

      {% if some.tiktok %}

          tiktok
          {% include "svg/some/tiktok.svg" %}

      {% endif %}

      {% if some.twitch %}

          twitch
          {% include "svg/some/twitch.svg" %}

      {% endif %}

      {% if some.patron %}

        patron

      {% endif %}

      {% if some.discord %}

          discord
          {% include "svg/some/discord.svg" %}

      {% endif %}

      {% if some.soundcloud %}

          Soundcloud
          {% include "svg/some/soundcloud.svg" %}

      {% endif %}

      {% if some.bandcamp %}

          bandcamp
          {% include "svg/some/bandcamp.svg" %}

      {% endif %}





    {{ site.title }}

