---
layout: default.liquid
saga-template-name: Page default
---
{% comment %}PAGE DEFAULT TEAMPLATE
------------------------------------------------
This is the default template for the page type
#}
{%- if env.mode != 'prod' %}<!-- ___layouts/page/page.liquid  -->{%- endif -%}

{% include "nav/breadcrumb.liquid" %}

{{ title }}


  {% picture
      img=image,
      width=[640,1024, 1563],
      sizes="(max-width: 640px) 50vw, 100vw",
      css="shadow rounded-xl",
      loading = "eager"
  %}


{% include "share.liquid" %}

{% comment %}List all page compoenents {% endcomment %}
{% include "components/all.liquid" %}


  {{ content | markdown  }}

