---
layout: layout/default.njk
saga-template-name: contact
---

{# image #}
{% if image %}
<img src="src/" + image" alt="Image of {{ title }} " css="border-4 border-red-400">
{% endif %}


<div class="prose lg:prose-xl">
  {{ content | safe }}
</div>


{% include "components/contactform.njk" %}
