---
layout: layout/default.njk
saga-template-name: Frontpage
---


{# .test is the tag name  #}
{%- for item in collections.test -%}
- <a href="{{ item.url }}" title="{{item.data.title}}">{{item.data.title}}</a><br>
{%- endfor -%}



<h1 class="text-4xl">{{title}}</h1>

<section class="grid grid-cols-2">
<div class=" ">
{% if image %}
  {% set alt = "Image of " + image  %}
  {% set width = "600" %}
  {% set css = "border-4 border-red-400" %}
  {% createImage image, width, alt, css %}
{% endif %}
</div>

<article class="">
  {{ content | safe}}
</article>
</section>




<div class="grid grid-cols-3">

{% include "components/nav/pages.njk" %}

{% include "components/nav/tags.njk" %}

{% include "components/nav/posts.njk" %}

</div>


