---
layout: layout/default.njk
saga-template-name: Frontpage
---

{# Default data #}

{# {% createImage image, '1200px', "frontpage image","shadow-lg" %} #}

{% createPicture image, [320, 600, 1200], "(min-width: 30em) 50vw, 100vw", "a picture", "border border-red-500", "no lazy" %}

<h1 class="text-5xl">{{title}}</h1>
<div class="my-4">
  {{ content | safe}}
</div>

{# collection is set as a  {{ collection }} #}

{% include "components/collection.njk" %}

{% include "components/nav/posts.njk" %}

</div>
