---
layout: layout/default.njk
saga-template-name: Page default
---
<h1>{{ title }}</h1>

{% if image %}
  {% set alt = "Image of " + image  %}
  {% set width = "600" %}
  {% set css = "border-4 border-red-400" %}
  {% createImage image, width, alt, css %}
{% endif %}

<div class="prose lg:prose-xl mt-4">
  {{ content | safe}}
</div>

{# image gallery #}
<section class="grid grid-cols-4">
{% for item in gallery %}
<figure>
  {% createImage item.image.image, item.image.title, "(min-width: 30em) 50vw, 100vw" %}
  <figcaption>{{ item.image.figcaption | safe }}</figcaption>
</figure>
{% endfor %}
</section>

