---
layout: layout/default.njk
saga-template-name: Section
---


<h1 class="text-5xl">{{title}}</h1>
<div class="text-lg">
  {{ teaser }}
</div>
<div>
{{ content | safe}}
</div>

{% if image %}
  {% set alt = "Image of " + image  %}
  {% set width = "200" %}
  {% set css = "border-4 border-red-400" %}
  {% createImage image, width, alt, css %}
{% endif %}


tags: {{ tags }}


{# {% set tag ="test-er-fedt" %} #}
{% for item in collections[ section ] %}
 <a href="{{ item.url }}" title="{{item.data.title}}">{{item.data.title}}</a><br>
{% endfor %}

