---
layout: layout/default.njk
saga-template-name: Section
---
<h1 class="pagewidth">{{title}}</h1>
<h1>section {{ section }}</h1>
teaser: {{ teaser }} /
 <br>



{# {% set tag ="test-er-fedt" %} #}
{% for item in collections[ section ] %}
 <a href="{{ item.url }}" title="{{item.data.title}}">{{item.data.title}}</a><br>
{% endfor %}

{% if image %}
  {% set alt = "Image of " + image  %}
  {% set width = "200" %}
  {% set css = "border-4 border-red-400" %}
  {% createImage image, width, alt, css %}
{% endif %}

{{ content | safe}}
tags {{ tags }} /
