---
permalink: build/
layout: base.njk
saga-template-name: buildinfo
eleventyExcludeFromCollections: true
---
<article class="pagewidth">

<pre>
title: {{ site.title }}
url: {{ env.url }}
Gen: {{ eleventy.generator }}
saga11: {{saga11.version }}
Build: {{ page.date | formatDate("cccc d. MMMM yyyy HH:mm") }}
</pre>




</article>
