---
permalink: /build/
title: "Build"
layout: base.njk
eleventyExcludeFromCollections: true
---
{# BUILD
------------------------------------------------
Instead of fiddeling with a bunch of design tools we can build the pwa screens in
html and css - use the pwa: in package.json
#}
{%- if env.mode != 'prod' %}
  <!-- build.njk  -->
{%- endif -%}

<main class="h-full flex flex-col items-center justify-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">

  <img src="/assets/icon/icon.svg" class="w-28">

  <div class="text-5xl text-white font-extrabold drop-shadow-lg">
    {{ site.title }}

    <pre class="flex justify-center text-sm text-slate-800 my-4">
      Eleventy: {{ eleventy.version}} |
      Saga11: {{ saga11version }}
      mode: {{ env.mode }}
      url: {{ env.url }}
      root: {{ env.root }}
      source: {{ env.source }}
      serverless: {{env.serverless}}
      Secret: {{env.secret}}
    </pre>

  </div>

</main>
