---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---

/* TEAM */
Web Designer: Morten Birch / mortendk
Site:
From: Copenhagen, Denmark.

/* THANKS */

/* SITE */
Last update: YYYY/MM/DD
Standards: HTML5, CSS3
Build: 11ty, Vanilla js, Tailwind 3

/* Software + Assets */
Software:
vscode: https://code.visualstudio.com
responsively: https://responsively.app

Build:

Saga 11 : saga11.dev
11ty: 11ty.dev
tailwind3: tailwindcss.com
vanillajs: vanilla-js.com

