---
layout: system/tag.njk
permalink: /tag/{{ tag | slugify }}/
eleventyComputed:
  title: "{{ tag }}"

pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - relation
  addAllPagesToCollections: true
---
