---
title: icons
eleventyNavigation:
  parent: styleguidebase
  key: icons
  order: 10
---


<div class="grid grid-cols-10 max-w-4xl">



  <div class="w-8">{% include "svg/11ty.svg" %}</div>
  <div class="w-8">{% include "svg/css3logo.svg" %}</div>


</div>
