{# COLLECTION OF POSTS
------------------------------------------------
#}
{%- if env.mode != 'prod' %}<!-- src/__includes/sections/text.njk  -->{%- endif -%}

{% if component.text %}
  <div class="wysiwyg bg-slate-300">
    {{ component.text  | markdown | safe  }}
  </div>
{% endif %}

