{# BASE
------------------------------------------------
The basic html page
{%- if meta.env != 'prod' %}<!-- _baselayout/base.njk  -->{%- endif -%}
#}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <title>{{ site.title }} | {{ title }}</title>
    <!--
       __  _____ _                           _  ___  ___           _     _             __
  / / |_   _| |                         | | |  \/  |          | |   (_)            \ \
 | |    | | | |__   ___ _ __ ___   ___  | | | .  . | __ _  ___| |__  _ _ __   ___   | |
/ /     | | | '_ \ / _ \ '_ ` _ \ / _ \ | | | |\/| |/ _` |/ __| '_ \| | '_ \ / _ \   \ \
\ \     | | | | | |  __/ | | | | |  __/ | | | |  | | (_| | (__| | | | | | | |  __/   / /
 | |    \_/ |_| |_|\___|_| |_| |_|\___| | | \_|  |_/\__,_|\___|_| |_|_|_| |_|\___|  | |
  \_\                                   | |                                        /_/
                                        |_|
    mortendk
    https://thememachine.io
     -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords}}">
    <meta name="generator" content="{{eleventy.generator}}">
    <meta name="theme-color" content="{{site.color}}">
    {# webmention #}
    {% if some.webmention %}
      <link rel="webmention" href="https://webmention.io/{{some.webmention}}/webmention" />
      <link rel="pingback" href="https://webmention.io/{{some.webmention}}/xmlrpc" />
    {% endif %}

    <link rel="author" href="humans.txt" />

    {%- include "_base/opengraph.njk" -%}

    <link rel="icon" href="/assets/icon/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/icon-apple-touch.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/icon-safari.png">
    <link rel="manifest" href="/manifest.json">

    {%- include "_base/applestartupscreens.njk" -%}



    {# fonts #}
    {# <link rel="preconnect" href="https://fonts.googleapis.com"> #}
    {# <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> #}
    {# <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet"> #}

    {#- CSS #}
    {# css is build in tailwind /tailwind.css #}
    {%- if meta.env == 'prod' %}
      <link href="{{ '/assets/css/style.min.css' | url }}" rel="stylesheet" rel="preload">
    {% else %}
      <link href="{{ '/assets/css/style.css' | url }}" rel="stylesheet" rel="preload">
    {% endif -%}

  </head>

  <body class="flex flex-col h-screen bg-slate-100">

    {{ content | safe }}

    {# Service worker #}
    <script>
      if (navigator && navigator.serviceWorker) {
        navigator
          .serviceWorker
          .register('/service-workers.js');
      }
    </script>

    <script src="/assets/js/script.js"></script>

  </body>
</html>
