---
layout: default.liquid
saga-template-name: notification
---
{%- if env.mode != 'prod' %}<!-- ___layouts/post/post.liquid  -->{%- endif -%}



  {{ title }}

    {{ date | formatDate("DDD  T", "DK") }}
     - {{ status }}


    {{ text | markdown  }}


    {{ content  }}




