{%- if env.mode != 'prod' %}<!-- 👋 field/options.liquid --> {%- endif  -%}
<div>

  <label for="form-item-{{ item.title | slugify }}">
    {{ item.title }}
    {% if item.required %} * {% endif %}
  </label>

  {% comment %}Dropdown {% endcomment %}
  {% if item.inputtype == "Dropdown" %}
    <select name="select">

      {% for option in item.option %}
      <option label="{{ option.title | slugify }}" {% if option.checked %} selected {% endif %}>
        {{ option.title }}
      </option>
      {% endfor %}

  </select>
  {% comment %}/Dropdown {% endcomment %}
{}
  {% elif item.inputtype == "Radio" %}
  {% comment %}Radio {% endcomment %}
  {% for option in item.option %}
  <div>
    <input type="radio" id="radio-{{ option.title | slugify }}" name="{{item.title | slugify }}" {% if option.checked %}checked{% endif %}>
    <label for="radio-{{ option.title | slugify }}"> {{ option.title }} </label>
  </div>
  {% endfor %}
  {% comment %}/Radio {% endcomment %}

  {% elif item.inputtype == "Checkbox" %}
  {% comment %}Checkbox {% endcomment %}
  {% for option in item.option %}
  <div>
    <input type="checkbox" id="checkbox-{{ option.title | slugify }}" {% if option.checked %}checked{% endif %}>
    <label for="checkbox-{{ option.title | slugify }}"> {{ option.title }} </label>
  </div>
  {% endfor %}

  {% endif %}
  {#/ Checkbox {% endcomment %}
</div>
