<header role="banner" class="js-header bg-white shadow fixed w-full bg-white h-16 md:h-20">

  <div class="pagewidth flex flex-row h-full justify-between md:justify-start">
    <div class="flex items-center">logo</div>
    {# site title + TODO: icon if have one #}
    <a href="/" title="{{site.title}}" class="flex items-center  border-b-4 border-transparent mr-4">
      {{ site.title}}
      <span class="sr-only">{{site.title}}</span>
    </a>

    {# Menu desktop #}
    <nav class="h-full hidden md:block">
      <div class="flex justify-between h-full">

        <div class="flex space-x-4">
          {% set menuclasses = "inline-flex items-center hover:bg-teal-50 hover:border-teal-100 border-b-4" %}
          {# TODO: Add a controller for each page to add it to the menu add tag to selector#}
          {% for item in collections.menu | sortByOrder %}
            {% if item.url in page.url -%}
              <a href="{{ item.url }}" class="{{ menuclasses}} border-red-400">{{item.data.title}}</a>
            {% else %}
              <a href="{{ item.url }}" class="{{ menuclasses}} border-transparent">{{item.data.title}}</a>
            {% endif %}
          {% endfor %}

          {# Graps the menu from the settings config (set in _data/menu.json) #}
          {% for item in menu.main %}
            {% if item.url in page.url -%}
              <a href="{{ item.url }}" class="{{ menuclasses }} border-red-400" title="{{ item.text}}">{{ item.title }}</a>
            {% else %}
              <a href="{{ item.url }}" class="{{ menuclasses }} border-transparent"  title="{{ item.text}}">{{ item.title }}</a>
            {% endif %}
          {% endfor %}

        </div>

      </div>
    </nav>

    {# Toggle menu #}
    {# TODO: fix mobile menu #}
    <button class="js-menu-toggle mr-4 block md:hidden">
      <div class="w-8 h-8 text-red-400">{% include "components/svg/menubars.njk" %}</div>
      <div class="w-8 h-8 hidden">{% include "components/svg/close.njk" %}</div>
    </button>

  </div>
</header>

{# Mobile menu #}
<div class="js-menu md:hidden fixed z-100 -left-full top-16 w-11/12 h-full bg-white duration-300 shadow-xl">

  {% set mobileclasses = "block h-20 flex items-center pl-2 font-large border-l-8 border-b hover:bg-green-300 " %}
  {# TODO: Add a controller for each page to add it to the menu add tag to selector#}
  {% for item in collections.menu | sortByOrder %}
    {% if item.url in page.url -%}
      <a href="{{ item.url }}" class="{{ mobileclasses }} border-red-400">{{item.data.title}}</a>
    {% else %}
      <a href="{{ item.url }}" class="{{ mobileclasses }} border-transparent">{{item.data.title}}</a>
    {% endif %}
  {% endfor %}

  {# Graps the menu from the settings config (set in _data/menu.json) #}
  {% for item in menu.main %}
    {% if item.url in page.url -%}
      <a href="{{ item.url }}" class="{{ mobileclasses }} border-red-400" title="{{ item.text}}">{{ item.title }}</a>
    {% else %}
      <a href="{{ item.url }}" class="{{ mobileclasses }} border-transparent"  title="{{ item.text}}">{{ item.title }}</a>
    {% endif %}
  {% endfor %}

</div>
