
<header role="banner" class="js-header bg-white shadow fixed w-full bg-white h-20 transition ease-in-out duration-300 ">

<div class="pagewidth flex flex-row h-full">

  {# site title + TODO: icon if have one #}
  <a href="/" title="{{site.title}}" class="flex items-center  border-b-4 border-transparent mr-4">
    {{ site.title}}
    <span class="sr-only">{{site.title}}</span>
  </a>


<nav class="js-menu hidden md:block h-full">
  <div class="flex justify-between h-full">


    <div class="flex space-x-4">
      {% set menuclasses = "inline-flex items-center hover:bg-teal-50 hover:border-teal-100 border-b-4" %}
      {# TODO: Add a controller for each page to add it to the menu add tag to selector#}
      {% for item in collections.menu | sortByOrder %}
        {% if item.url in page.url -%}
          <a href="{{ item.url }}" class="{{ menuclasses}} border-red-400">{{item.data.title}}</a> <br>
        {% else %}
          <a href="{{ item.url }}" class="{{ menuclasses}} border-transparent">{{item.data.title}}</a> <br>
        {% endif %}
      {% endfor %}

      {# Graps the menu from the settings config (set in _data/menu.json) #}
      {% for item in menu.main %}
        {% if item.url in page.url -%}
          <a href="{{ item.url }}" class="{{ menuclasses }} border-red-400" title="{{ item.text}}">{{ item.title }}</a>
        {% else %}
          <a href="{{ item.url }}" class="{{ menuclasses }} border-transparent"  title="{{ item.text}}">{{ item.title }}</a>
        {% endif %}
      {% endfor %}


    </div>
  </div>
</nav>


  {# Toggle menu #}
  {# TODO: fix mobile menu #}
  <button class="js-menu-toggle mr-4">

    <div class="">
      <div class="w-12 h-12 text-red-400">{% include "components/svg/menubars.njk" %}</div>
    </div>

    <div class="hidden">
      <div class="w-12 h-12 ">{% include "components/svg/close.njk" %}</div>
    </div>

  </button>

</div>
</header>

