<footer class="pagewidth flex flex-col justify-center mt-8 md:mt-20" role="contentinfo">

  {% include "components/nav/some.njk" %}

  <div class="text-gray-800 text-center mt-8">
    {{ site.footer | markdown | safe }}
  </div>


</footer>
