---
layout: base/base.njk
---
{%- include "layout/_layout-header.njk" %}

<h1 class="pagewidth">{{title}}</h1>
<main role="main" class="pagewidth">
{{ content | safe }}
</main>

{%- include "layout/_layout-footer.njk" %}
