---
layout: base/base.njk
---
{%- include "layout/_layout-header.njk" %}

<main role="main" class="pagewidth flex-grow mt-24">
  {{ content | safe }}
</main>

{%- include "layout/_layout-footer.njk" %}
