---
layout: default.liquid
saga-template-name: Post Default
---
{% comment %}POST
------------------------------------------------
post template
#}
{%- if env.mode != 'prod' %}
  <!-- ___layouts/post/post.liquid  -->
{%- endif -%}
{{ title }}

{% if image %}

    {% picture
      img=image,
      width=[640,1280,1536],
      sizes="(max-width: 640px) 50vw, 100vw",
      css="",
      loading = "eager"
  %}

{% endif %}






    {% include "nav/tags.liquid" %}

      {{ date | formatDate("DDD  T", "DK") }}



      {{ content  }}


    {% comment %}Pre next nav {% endcomment %}
    {% include "nav/post-pre-next.liquid" %}


  {% comment %}sidebar {% endcomment %}


    {% comment %}list of post {% endcomment %}
    {% include "nav/posts.liquid" %}

    {% include "share.liquid" %}




