{%- if env.mode != 'prod' %}  <!-- src/themes/grunn/includes/components/link/link.njk -->{%- endif -%}



  {# title + text #}


      {{ component.title }}

    {% if component.text %}

        {{ component.text  | markdown | safe  }}

    {% endif %}




  {% for item in component.link %}

    <a href="{{ item.url}}"
      class="flex justify-center items-center text-slate-800 dark:text-slate-100 font-bold mr-4">
      {{ item.title }}


      {% include "icons/arrow-top-right-on-square.svg" %}


  {% endfor %}




