{%- if env.mode != 'prod' %}  <!-- __includes/components/testamonial/testamonial.njk -->{%- endif -%}

  {{ component.title }}

  {% if component.text %}
    {{ component.text  | markdown | safe  }}
  {% endif %}

  {% for item in component.link %}
    <a href="{{ item.url}}">{{ item.title }}</a>
  {% endfor %}
