{%- if env.mode != 'prod' %}  <!-- src/themes/grunn/includes/components/link/link.njk -->{%- endif -%}

<section>

  {# title + text #}
  <article class="mx-auto max-w-3xl">
    <h2 class="text-5xl text-cyan-700 dark:text-cyan-200 py-4 text-center">
      {{ component.title }}
    </h2>
    {% if component.text %}
      <div class="text-xl">
        {{ component.text  | markdown | safe  }}
      </div>
    {% endif %}
  </article>



  <div class="md:grid grid-cols-3 gap-4 py-4">

  {% for item in component.link %}
  <article class="border-1 border-teal-300 bg-white dark:bg-slate-900 p-4 m-2 shadow rounded-sm flex flex-row justify-center items-center ">
    <a href="{{ item.url}}"
      class="flex justify-center items-center text-slate-800 dark:text-slate-100 font-bold mr-4">
      {{ item.title }}
    </a>
    <div class="h-4 w-4 text-teal-700 dark:text-cyan-200">
      {% include "svg/arrow-top-right-on-square.svg" %}
    </div>
  </article>
  {% endfor %}

  </div>

</section>
