---
title: "Screen size"
---
<h3 class="text-center p-4">Max width</h3>

<section class="flex flex-col space-y-2">

  <div class="bg-green-300 w-full mx-auto text-center">Mobile </div>

  <div class="bg-green-100 max-w-screen-sm  w-full mx-auto p-4 text-center">sm: 640px</div>

  <div class="bg-green-200 max-w-screen-md  w-full mx-auto p-4 text-center">md: 768px</div>

  <div class="bg-green-300 max-w-screen-lg  w-full mx-auto p-4 text-center">lg: 1024px </div>

  <div class="bg-green-400 max-w-screen-xl  w-full mx-auto p-4 text-center">xl: 1280</div>

  <div class="bg-green-500 max-w-screen-2xl w-full mx-auto p-4 text-center">2xl: 1536px</div>

</section>


<h3 class="text-center p-4">width</h3>

<section class="flex flex-col space-y-2">

  <div class="bg-mist w-full p-4 text-center">default</div>

  <div class="bg-green-100 w-[640px] mx-auto p-4 text-center">sm: 640px</div>

  <div class="bg-green-200 w-[768px] mx-auto p-4 text-center">md: 768px</div>

  <div class="bg-green-300 w-[1024px] mx-auto p-4 text-center">lg: 1024px </div>

  <div class="bg-green-400 w-[1280px]  mx-auto p-4 text-center">xl: 1280</div>

  <div class="bg-green-500 w-[1536px] mx-auto p-4 text-center">2xl: 1536px</div>

</section>

