---
title: "Page height"
---

<div class="flex flex-col min-h-screen pagewidth ">
  <header class="bg-slate-600 text-center">
    Header
  </header>
  <main class="flex-grow bg-slate-700 center-center">
    Content

    <br>
    The footer is always placed in the bottom of a page even if theres not enough content

  </main>
  <footer class="bg-slate-600">
    Footer
  </footer>
</div>

