---
title: "Page height"
---

<div class="flex flex-col h-screen pagewidth">
  <header class="bg-slate-300">
    Header
  </header>
  <main class="flex-grow bg-slate-500">
    Content

    <br>
    The footer is always placed in the bottom of a page even if theres not enough content

  </main>
  <footer class="bg-slate-600">
    Footer
  </footer>
</div>

