---
title: Image Aspect
---

<div class="aspect-video w-60 bg-pink-400 mb-4 flex justify-center items-center">Aspect video</div>
<div class="aspect-square w-60 bg-pink-600 flex justify-center items-center">Aspect Square</div>
