---
title: colors
eleventyNavigation:
  parent: styleguidebase
  key: colors
  order: 1

color:
  title: teal
  css: bg-teal-900
---
<div class="grid grid-cols-6 gap-2 ">

  <article>
    <div class="rounded bg-fuchsia-400 h-20"></div>
    <h2 class="text-center font-bold">colorname</h2>
  </article>

  <article>
    <div class="rounded {{ color.css }} h-20"></div>
    <h2 class="text-center font-bold">{{ color.title }} </h2>
  </article>

  <article>
    <div class="rounded bg-{{ color.title }}-500 h-20"></div>
    <h2 class="text-center font-bold">{{ color.title }} </h2>
  </article>


</div>
