---
title: Markup
eleventyNavigation:
  parent: styleguidebase
  key: markup
  order: 20
---

<h1 class="text-7xl">h1 lorem </h1>
<h2 class="text-6xl">h2 lorem </h2>
<h3 class="text-5xl">h3 lorem </h3>
<h4 class="text-4xl">h4 lorem </h4>
