---
layout: default.njk
saga-template-name: Frontpage
---
{#
------------------------------------------------
FRONTPAGE TEMPLATE
------------------------------------------------
Specfic page to control the layout for the frontpage
#}
{%- if env.mode != 'prod' %}<!-- /Users/mdk/Web/saga11/src/themes/base/layouts/page/frontpage.njk  -->{%- endif -%}

<section class="relative mb-4">

  {% picture
      img=image,
      alt='',
      width=[400,800, 1600],
      sizes="(min-width: 1600px) 50vw, 100vw",
      css="shadow rounded ",
      loading = "eager"
  %}

  <article class="absolute bg-white/80 w-1/2 top-0 p-8 h-full">
    <h1 class="text-7xl text-cyan-700 ">{{ title }}</h1>
    <div class="prose mt-8">
      {{ content | safe }}

    </div>
  </article>

</section>

{% include "components/all.njk" %}
