{%- if env.mode != 'prod' %}<!-- src/theme-grunn/includes/components/templates/all-tags.liquid -->{%- endif -%}

All Tags



  {% for tag in collections.tags %}

    {% for item in collections.all | getPage("/tag/" + tag + "/") %}



        {% if item.data.icon %}
          {% include  item.data.icon %}
        {% endif %}


        {{ item.data.title }}


          {{ item.data.content | markdown   }}





    {% endfor %}

  {% endfor %}




