{%- if env.mode != 'prod' %}<!-- src/__includes/components/templates/default.liquid-->{%- endif -%}


  This is a default template that can be selected from the pagecomponenet
  in a collection from netlifycms

