{%- if env.mode != 'prod' %}  <!-- src/__includes/components/form/form-inline.njk -->{%- endif  -%}

<div class="flex flex-row max-w-3xl mx-auto mb-4">
  <div class="basis-1/3">
    <h3 class="text-teal-700 text-4xl mb-4">
      {{ component.title }}
    </h3>

    {% if component.text %}
      <div class="prose prose-lg">
        {{ component.text  | markdown | safe  }}
      </div>
    {% endif %}
  </div>
  
  <form
    class="basis-2/3"
    name="{{ component.name | slug }}"
    method="POST"
    data-netlify="true"
    netlify-honeypot="bot-field"
    action="/success/"
  >
    {# <div data-netlify-recaptcha="true"></div> #}
    <div class="hidden">
      <label for="supersecret">secret</label>
      <input name="bot-field" id="supersecret" />
    </div>

    {# Create form elements #}
    {% for item in component.elements %}

      <div class="max-w-lg flex shadow-sm">

        <label
          for="form-item-{{ item.title | slugify }}"
          class="inline-flex items-center px-4 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
          {{ item.title }} :
        </label>

        <input
          type="{{ item.inputtype }}"
          name="{{ name }}"
          id="form-item-{{ item.title | slugify }}"
          placeholder="{{ item.placeholder }} "
          {% if item.required %}required{% endif %}
          class="flex-1 block w-full border-gray-300 focus:ring-cyan-500 focus:bg-slate-200 "
        >
        
        <button aria-label="Submit" class="px-4 py-2 rounded-none rounded-r-md border- font-bold uppercase bg-lime-400 text-green-900 hover:bg-lime-300">Send</button>
      </div>

    {% endfor %}

  </form>

</div>
