{%- if env.mode != 'prod' %}
<!-- 👋 pagecard/pagecard.liquid -->
{%- endif -%}

{% comment %}
Page card
------------------------------------------------
This template controls how the pagecard template is rendered.

We count the amount of cards that are attached to the componenet pagecard and defines a grid
that matches - and then includes the right card include that matches
  | where: "url", page
{% endcomment %}

<section class="grid grid-cols-4 gap-4">
{% for page in component.page %}

  {% assign pages = collections.all  %}

  {% for item in pages %}
  {% if item.data.url == page %}

    {%
      render 'card',
        title: item.data.card.title,
        text: item.data.card.text,
        image: item.data.card.image,
        url: item.url,
        date: item.date
    %}

    {% endif %}
  {% endfor %}
{% endfor %}
</section>
