{%- if env.mode != 'prod' %}
<!-- 👋 pagecard/pagecard.liquid -->
{%- endif -%}


<section class="grid grid-cols-3 gap-4">
{% for page in component.page %}

  {% assign pages = collections.all  %}

  {% for item in pages %}
  {% if item.data.url == page %}

    {%
      render 'card',
        title: item.data.card.title,
        text: item.data.card.text,
        image: item.data.card.image,
        url: item.url,
        date: item.date
    %}

    {% endif %}
  {% endfor %}
{% endfor %}
</section>
