{# PAGES
------------------------------------------------
What is this used for:

 #}
<nav>
{% for item in collections.allPages | sortByOrder %}
  {% set menutitle %}
    {% if item.data.menulabel %}
      {{ item.data.menulabel }}
    {% else %}
      {{ item.data.title }}
    {% endif %}
  {% endset %}

  <div class="border-b border-slate-200 mb-4">
  {% if item.url in page.url -%}
    <a href="{{ item.url }}" title="{{ item.data.title }}" class="block font-bold">
      {{ menutitle }}
    </a>
  {% else %}
   <a href="{{ item.url }}" title="{{ item.data.title }}" class="block ">{{ menutitle }}</a>
  {% endif %}
  </div>
{% endfor %}
</nav>
