<section>
  <h2 class="text-4xl bg-blue-500">Pages:</h2>
  <nav>
  <ul>
  {% for item in collections.allPages | sortByOrder %}

    <li><a href="{{ item.url }}" title="opens {{ item.url }}">{{item.data.title}}</a></li>

  {% endfor %}

  </ul>
  </nav>
</section>
