{# list all post  #}
<nav>
{# TODO: can we sort this by date order not created order ? #}
{% for item in collections.allPosts %}
  <div class="border-b border-slate-200 mb-4">
  {% if item.url in page.url -%}
    <a href="{{ item.url }}" class="block font-bold">
      {{item.data.title}}
    </a>
  {% else %}
   <a href="{{ item.url }}" class="block ">{{item.data.title}}</a>
  {% endif %}
  <div class="text-sm">{{item.data.date | monthDayYear}}</div>

  </div>
{% endfor %}
</nav>
