{# List of all tags  #}
<section>
<h2>All tags</h2>

{% for tag in collections.tagList %}
<nav>
<ul>
  {% for item in collections.all |  getPage("/relation-tag/" + tag + "/" ) %}
  <li>
    {% if tag in page.url -%}
      <a href="/tag/{{ tag }}" class="block font-bold"> {{ item.data.title}}</a>
    {% else %}
      <a href="/tag/{{ tag }}" class="block"> {{ item.data.title}}</a>
    {% endif %}
</li>
  {% endfor %}
</ul>
</nav>
{% endfor %}

</section>
