{# List of all tags  #}
<h3>tags menu:</h3>

<nav>
{% for tag in collections.tagList %}

  {% for item in collections.all |  getPage("/relation-tag/" + tag + "/" ) %}
    {% if item in page.url -%}
    {% endif %}

    <a href="/tags/{{ tag }}"> {{ item.data.title}}</a> <br>
  {% endfor %}


{% endfor %}

</nav>

