{%- if env.mode != 'prod' %}  <!-- _src/__includes/footer.njk  -->{%- endif  -%}

<footer class="bg-white dark:bg-slate-900 dark:text-slate-300 mt-16 py-4">

  <section class="w-full flex flex-row pagewidth justify-between">

    {# Gets the collection for the area footer  #}
    {% for item in collections.blocks | sortByOrder %}
      {% if item.data.blockposition == "footer" %}

        {% asyncEach component in item.data.components %}
          {% include component.template %}
        {% endeach %}

      {% endif %}
    {% endfor %}
  </section>

{% include "darkmode.njk" %}

</footer>
