{# FOOTER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}  <!-- _src/__includes/footer.njk  -->{%- endif  -%}

{# darkmode #}


<footer class="flex flex-col justify-center bg-white dark:bg-slate-900 dark:text-slate-300 mt-16">

  {% include "location.njk" %}

  {% include "nav/socialmedia.njk" %}

  <div class="dark:slate-300 text-center text-sm mb-4">
    {{ site.footer | markdown | safe }}
  </div>


{# user control #}
<div class="p-4 flex flex-row space-x-4 justify-end pagewidth">

  <button @click="darkMode = !darkMode" class="w-8" aria-label="toggle color scheme">
    {# darkmode on #}
    <div x-show="darkMode" class="bg-slate-200 p-2 rounded">
      <div class="w-4 text-slate-700">{% include "svg/sun.svg" %}</div>
    </div>

    {# darkmode not actived #}
    <div x-show="!darkMode" class="bg-slate-700 p-2 rounded">
      <div class="w-4 text-slate-100">{% include "svg/moon.svg" %}</div>
    </div>
  </button>

  <button @click="localStorage.clear()" class="bg-slate-200 p-2 rounded w-8" aria-label="Clear Local storage from this site">
    <div class="w-4 text-slate-700">{% include "svg/trash.svg" %}</div>
  </button>

</div>

</footer>
