{# HEADER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}<!-- src/__includes/header.njk -->{%- endif  -%}

{% include "notification.njk" %}
<header class="relative bg-white w-full z-20 h-16 md:h-20" x-data="{ openmenu: false }">

  {# skip link #}
  <a href="#main" class="sr-only focus:not-sr-only sr-tab">Skip to Content</a>

  {# main wrap header elements #}
  <div class="pagewidth flex flex-row h-full justify-between">
    <div class="flex flex-row">

      <a href="/" title="{{site.title}}" class="w-20 h-20 overflow-hidden inline-flex items-center mr-4">
        {% include "svg/saga11.svg" %}
        <h1 class="sr-only">{{site.title}}</h1>
      </a>

      {% include "nav/menu.njk" %}
    </div>

  {% if site.rss %}
    <div class="flex justify-end items-center">
    <a href="/feed.xml" class="hidden md:block w-6 h-6 justify-self-end text-slate-400 hover:text-orange-500">
      <span class="sr-only">RSS Feed</span>
      {% include "svg/rss.svg" %}
    </a>
    </div>
  {% endif %}


    <div class="inline-flex items-center text-2xl md:hidden">
      {{ site.title }}
    </div>

    {# mobile menu burron #}
    <button
      @click="openmenu = !openmenu"
      class="w-10 block md:hidden space-x-2 focus:outline-none"
      type="button"
      aria-label="toggle mobile menu"
    >
      <span class="relative inline-block w-10 h-6">
        <span class="
        block mt-2 absolute w-8 h-1 bg-slate-700 rounded-md
        transition-all ease-linear duration-75
        before:absolute before:-top-2 before:h-1 before:w-8 before:bg-slate-500 before:rounded-md before:content-[''] before:block
        after:absolute after:top-2 after:h-1 after:w-8 after:bg-slate-500 after:rounded-md after:content-[''] after:block
        "
        :class="openmenu ? 'rotate-45 before:rotate-90 before:translate-y-2 before:bg-slate-700 after:opacity-0' : '' "
        ></span>
      </span>
    </button>

  </div>

  {% include "nav/menu-mobile.njk" %}
</header>

