{# HEADER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}<!-- src/__includes/header.njk -->{%- endif  -%}

<header class="bg-white fixed w-full z-20 h-16 md:h-20" x-data="{ openmenu: false }">

  {# skip link #}
  <a href="#main" class="sr-only focus:not-sr-only sr-tab">Skip to Content</a>

  {# main wrap header elements #}
  <div class="pagewidth flex flex-row h-full justify-between md:justify-start">

    <a href="/" title="{{site.title}}" class="w-20 h-20 overflow-hidden inline-flex items-center mr-4">
      {% include "svg/saga11.svg" %}
      <h1 class="sr-only">{{site.title}}</h1>
    </a>

    <div class="inline-flex items-center text-2xl md:hidden">
      {{ site.title }}
    </div>

    {% include "nav/menu.njk" %}

    <button
      @click="openmenu = !openmenu"
      class="w-10 block md:hidden space-x-2 focus:outline-none"
      type="button"
      aria-label="toggle mobile menu"
    >
      <span class="relative inline-block w-10 h-6">
        <span class="
        block mt-2 absolute w-8 h-1 bg-slate-700 rounded-md
        transition-all ease-linear duration-75
        before:absolute before:-top-2 before:h-1 before:w-8 before:bg-slate-500 before:rounded-md before:content-[''] before:block
        after:absolute after:top-2 after:h-1 after:w-8 after:bg-slate-500 after:rounded-md after:content-[''] after:block
        "
        :class="openmenu ? 'rotate-45 before:rotate-90 before:translate-y-2 before:bg-slate-700 after:opacity-0' : '' "
        ></span>
      </span>
    </button>

  </div>

{# mobile menu  #}
<nav
  x-cloak
  x-show="openmenu"
  @click.outside="openmenu = false"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="-translate-x-full"
  x-transition:enter-end="translate-x-0"
  x-transition:leave="transition ease-in duration-300"
  x-transition:leave-start="translate-x-0"
  x-transition:leave-end="-translate-x-full"
  class="md:hidden fixed z-50 top-16 w-11/12 h-full bg-white/95 shadow-xl"
  aria-label="Mobile Menu
">
  {% set mobileclasses = "block h-20 flex items-center pl-2 text-lg border-b border-l-slate-200" %}
  {%- for item in collections.all | eleventyNavigation("main") %}

  {% if not item.children | length %}
    <a href="{{ item.url }}"
      {% if item.url in page.url %}aria-current="page" class="{{mobileclasses}} font-bold"
      {% else  %} class="{{mobileclasses}}"
      {% endif %}
    >{{ item.title }}</a>
  {% else %}

    {# placeholder #}
    <div x-data="{openmenuitem: false}" class="flex flex-col" @click="openmenuitem = true">

      <div class="{{mobileclasses}} flex flex-row justify-between items-center pr-4">
        <div>{{ item.title }}</div>
        <div class="h-4 w-4" x-show="openmenuitem">{% include "svg/chevron-down.svg" %}</div>
        <div class="h-4 w-4" x-show="!openmenuitem">{% include "svg/chevron-right.svg" %}</div>
      </div>


      <div
        class=""
        x-cloak
        x-show="openmenuitem"
        @mouseover="openmenuitem = true"
        @click.outside="openmenuitem = false"
      >
        {# We repeat the link from placeholder above so it works on a ipad etc #}
        <a href="{{ item.url }}" class="{{ mobileclasses }} pl-8">{{ item.title }}</a>

        {# Loop next level #}
        {%- for item in collections.all | eleventyNavigation(item.key) %}
          <a href="{{ item.url }}" class="{{ mobileclasses }} pl-8 ">{{ item.title }}</a>
        {% endfor %}
      </div>
    </div>
    {# / placeholder #}





  {% endif %}

{%- endfor -%}

</nav>

</header>

