{%- if env.mode != 'prod' %}  <!-- __includes/share.njk  -->{%- endif  -%}
{% set thisurl = env.url + page.url %}

<div class="flex mt-4 items-center">
Share:
{# pinterest #}
<a
  class="block w-8"
  href="http://pinterest.com/pin/create/link/?url={{ thisurl }}"
  target="_blank" rel="noopener noreferrer nofollow">
  {% include "svg/some/pinterest.svg" %}
</a>

{# twitter #}
<a
  class="block w-8"
  href="https://twitter.com/intent/tweet?text={{thisurl}}%20%23hashtag%20%40{{some.twitter}}"
  target="_blank" rel="noopener noreferrer nofollow">
  {% include "svg/some/twitter.svg" %}
</a>

{# fb  #}
<a
  class="block w-8"
  href="https://www.facebook.com/sharer/sharer.php?u={{ thisurl }}"
  target="_blank" rel="noopener noreferrer nofollow">
  {% include "svg/some/facebook.svg" %}
</a>

{# linkedin #}
<a
  class="block w-8"
  target="_blank" rel="noopener noreferrer nofollow"
  href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ thisurl }}&amp;title={{title}}&amp;summary={{teaser}}&amp;source={{site.title}}">
  {% include "svg/some/linkedin.svg" %}
</a>

</div>
