{%- if env.mode != 'prod' %}  <!-- src/themes/grunn/includes/components/images/images.njk -->{%- endif -%}

{% set gallery = component.images %}

  <h1 class="text-5xl text-cyan-700 dark:text-cyan-200 text-center py-4 ">{{ component.title }}</h1>
  {% if component.text %}
  <div class="text-center text-xl py-4">
    {{ component.text | markdown | safe }}
  </div>
  {% endif %}


{# The slider window as open ? wrapper for the bg  #}
<section
    aria-label="Image gallery"
    class=""
    x-data="{isSliderOpen: false}"
    :class="isSliderOpen ? 'fixed top-0 left-0 z-40 h-full w-full' : 'w-full relative mb-4 mt-4'"
    x-on:keydown.escape="isSliderOpen=false"
    x-on:keydown.left="$refs.slider.scrollBy(-$refs.slideitem1.clientWidth,0)"
    x-on:keydown.right="$refs.slider.scrollBy($refs.slideitem1.clientWidth,0)"
>

  <div
    class=""
    :class="isSliderOpen ? 'absolute top-1/2 w-full h-full mt-0  -translate-y-1/2':''";
  >

    {# pre next #}
    <button @click="$refs.slider.scrollBy(-$refs.slideitem1.clientWidth,0)"
          tabindex="0"
          type="button" aria-label="Previous"
          :class="isSliderOpen ? 'md:hidden' : 'md:block'"
          class="hidden bg-black text-white rounded-full w-10 h-10 absolute top-1/2 left-2 z-10 -translate-y-1/2">
      {% include "icons/arrow-left.svg" %}
    </button>

    <button @click="$refs.slider.scrollBy($refs.slideitem1.clientWidth,0)"
          tabindex="0"
          type="button" aria-label="Previous"
          :class="isSliderOpen ? 'md:hidden' : 'md:block'"
          class="hidden bg-black text-white rounded-full w-10 h-10 absolute top-1/2 right-2 z-10 -translate-y-1/2">
      {% include "icons/arrow-right.svg" %}
    </button>

    {# open/close toggler  #}
    <button
          type="button" aria-label="open close image"
          class="hidden md:block w-6 h-6 z-10 absolute right-2 top-2"
          :class="isSliderOpen ? 'text-white dark:text-cyan-200' : 'text-white'"
          @click="isSliderOpen = !isSliderOpen, isModalOpen = !isModalOpen">
      <span x-show="isSliderOpen">
        {% include "icons/x-mark.svg" %}
      </span>
      <span x-show="!isSliderOpen">
        {% include "icons/arrow-top-right-on-square.svg" %}
      </span>
    </button>

    {# Image wrapper for the gallery #}
    <div :class="isSliderOpen ? '' : 'scrollbar'"
        x-ref="slider"
        class="flex overflow-x-auto scroll-smooth snap-mandatory snap-x z-0 bg-slate-200 dark:bg-slate-900 h-full">

      {# loop through all the images #}
      {% for item in gallery %}

        <div aria-label="image" role="img"
        x-ref="slideitem{{ loop.index }}"
        class="flex flex-shrink-0 overflow-auto relative md:aspect-video w-full h-full mr-2 snap-center transition"
        :class="isSliderOpen ? 'md:aspect-video justify-center items-center' : ''"
        >

          {% picture
            img=item.image,
            width=[640,1024, 1563],
            sizes="(max-width: 640px) 50vw, 100vw",
            css="rounded-sm"
          %}

        {# title and text #}
        {% if item.title or item.text %}
          <div class="hidden absolute bottom-4 w-full bg-black/70 text-white text-center p-2">
            <div class="text-3xl">{{ item.title }}</div>
          </div>
        {% endif %}

        </div>
      {% endfor %}
      {# / images   #}

    </div>

    {# gallery navigation #}
    <nav aria-label="gallery image navigation" class="flex flex-row my-4 space-x-4 justify-center">
      {% for item in gallery %}
      <button
        @click="$refs.slideitem{{ loop.index }}.scrollIntoView(false)"
        class="block w-4 h-4 bg-slate-400 rounded-full aspect-video overflow-hidden shadow hover:shadow-none"
        type="button">
        <span class="sr-only">Link to image {{ loop.index }}</span>
      </button>
      {% endfor %}
    </nav>

  </div>

</section>


