{%- if env.mode != 'prod' %}<!-- 👋 images/images-grid.njk -->{%- endif -%}
<section>

  {% if component.title %}
  <h1 class="text-5xl text-cyan-700 dark:text-cyan-200 text-center py-4 ">
    {{ component.title }}
  </h1>
  {% endif %}

  {% if component.text %}
  <div class="text-center text-xl py-4">
    {{ component.text | markdown | safe }}
  </div>
  {% endif %}


{# The slider window as open ? wrapper for the bg  #}
  <div
    aria-label="Image gallery"
    class=""
    x-data="{isSliderOpen: false}"
    :class="isSliderOpen ? 'fixed top-0 left-0 z-40 h-full w-full' : 'w-full relative mb-4 mt-4'"
    x-on:keydown.escape="isSliderOpen=false"
    x-on:keydown.left="$refs.slider.scrollBy(-$refs.slideitem1.clientWidth,0)"
    x-on:keydown.right="$refs.slider.scrollBy($refs.slideitem1.clientWidth,0)"
  >

{% set gallery = component.images %}

  <div :class="isSliderOpen ? 'absolute top-1/2 w-full h-full mt-0  -translate-y-1/2':''";  >

    {# open/close toggler  #}
    <button
          type="button" aria-label="open close image"
          class="md:block w-6 h-6 z-10 absolute right-2 top-2"
          :class="isSliderOpen ? 'text-white dark:text-cyan-200' : 'text-white'"
          @click="isSliderOpen = !isSliderOpen, isModalOpen = !isModalOpen">
      <span x-show="isSliderOpen">
        {% include "icons/x-mark.svg" %}
      </span>
      <span x-show="!isSliderOpen">
        {% include "icons/arrow-top-right-on-square.svg" %}
      </span>
    </button>

    {# Image wrapper for the gallery #}
    <div
       :class="isSliderOpen ? '' : ''"
        x-ref="slider"
        class="flex overflow-x-auto scroll-smooth snap-mandatory snap-x z-0 bg-neutral-200 dark:bg-neutral-900 h-full">
          IMAGE
    </div>
    {# / images   #}

    {# gallery navigation #}
    <nav aria-label="gallery image navigation" class="grid grid-cols-4 gap-2 justify-center">
      {% for item in gallery %}
      <div>
        {% picture
          img=item.image,
          width=[200,400],
          sizes="(min-width: 1600px) 50vw, 100vw",
          css="rounded-sm"
        %}
       <h3 class="">
         {{ item.title }}
       </h3>
     </div>
      {% endfor %}
    </nav>

  </div>

</div>


</section>


