{%- if env.mode != 'prod' %} <!-- src/theme-grunn/includes/components/form/form.liquid -->{%- endif  -%}

<section class="flex flex-row">

  <div class="bg-primary-100 basis-1/2 mr-4 p-8">
    {% if component.title %}
      <h2 class="text-3xl pb-4">{{ component.title }}</h2>
    {% endif %}

    {% if component.text %}
      {{ component.text  }}
    {% endif %}
  </div>


<form name="{{ component.name | url_encode }}" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/{{ component.action }}/"
      class="basis-1/2 py-20 px-20 flex flex-col space-y-4">
  {% comment %}<div data-netlify-recaptcha="true"></div> {% endcomment %}
  <div hidden>
    <label for="supersecret">secret</label>
    <input name="bot-field" id="supersecret" />
  </div>

  {% comment %}All the form elements {% endcomment %}
  {% for item in component.elements %}
    {% if item.type == "textarea" %}
      {% include "components/form/field/textarea.liquid" %}
    {% elsif item.type == "text" %}
      {% include "components/form/field/input.liquid" %}
    {% elsif item.type == "options" %}
      {% include "components/form/field/options.liquid" %}
    {% elsif item.type == "button" %}
      {% include "components/form/field/button.liquid" %}
    {% endif %}
  {% endfor %}




</form>
</section>
