<div class="py-4 mx-auto max-w-xl">
  <h1 class="text-5xl text-cyan-700 text-center">{{ component.title }}</h1>

  {% if component.text %}
    <div class="prose prose-xl">
      {{ component.text  | markdown | safe  }}
    </div>
  {% endif %}

  {% picture
    img=component.image,
    width=[400,800],
    sizes="(min-width: 1600px) 50vw, 100vw",
    css="rounded-sm",
    alt=""
  %}

  {# Testamonials list #}
  {% for item in component.testamonial %}

    <div class="flex flex-row bg-slate-200 mb-4">

      <div class="basis-60 mt-4 flex flex-col items-center">
        {% picture
          img=item.image,
          width=[400],
          sizes="(min-width: 1600px) 50vw, 100vw",
          css="rounded-full w-20 h-20 border border-teal-400",
          alt=""
        %}

        <div class="strong">{{ item.person }}</div>
        <div class="text-sm">{{ item.persontitle }}</div>
      </div>

      <div class="basis-full">

        <h3 class="text-3xl text-cyan-700">
          {{ item.title }}
        </h3>

        {% if item.text %}
          <div class="prose">
            {{ item.text  | markdown | safe  }}
          </div>
        {% endif %}

        {% if item.url %}

          <a href="{{ item.url }}" target="_blank">
          <div class="w-10 text-blue-300">
            {% include "svg/twitter.svg" %}
            </div>
          </a>

        {% endif %}

      </div>

  </div>
  {% endfor %}


</div>
wtd
