{%- if env.mode != 'prod' %}  <!-- __includes/components/testamonial/testamonial.njk -->{%- endif -%}

<section>

  {# title + text #}
  <article class="mx-auto max-w-3xl">
    <h3 class="text-5xl text-cyan-700 text-center">
      {{ component.title }}
    </h3>
    {% if component.text %}
      <div class="text-xl text-center">
        {{ component.text  | markdown | safe  }}
      </div>
    {% endif %}
  </article>

<div class="grid grid-cols-3 gap-4">
  {% for item in component.testamonial %}
  <article class="border-1 border-teal-300 bg-white p-4 m-2 shadow rounded-sm">
    {# person #}
    <div class="flex flex-row items-center">
      {% picture
        img=item.image,
        width=[200],
        sizes="(min-width: 1600px) 50vw, 100vw",
        css="rounded-full w-12 h-12 border border-teal-400 mr-4",
        alt=""
      %}
      <div>
        <div class="font-bold">{{ item.person }}</div>
        <div class="">{{ item.persontitle }}</div>
      </div>
    </div>
    {# / person #}

    {# quote #}
    <h3 class="text-xl font-bold text-cyan-700">
      {{ item.title }}
    </h3>

    {% if item.text %}
      <div class="text">
        {{ item.text  | markdown | safe  }}
      </div>
    {% endif %}

    {# url link #}
    {% if item.url %}
      <a href="{{ item.url }}" target="_blank" class="flex w-12 h-12 justify-center items-center rounded-full hover:bg-blue-100">
      <div class="w-8 text-[#1DA1F2] hover:text-[#1DA1F2]/7 hover:w-6">
        {% include "svg/some/twitter.svg" %}
        </div>
      </a>
    {% endif %}
  </article>
  {% endfor %}
</div>
</section>
