{%- if env.mode != 'prod' %}  <!-- __includes/components/testamonial/testamonial.njk -->{%- endif -%}


<section class="">

  <article class="mx-auto max-w-3xl">

    <h3 class="text-5xl text-cyan-700 text-center">
      {{ component.title }}
    </h3>

    {% if component.text %}
      <div class="prose prose-xl">
        {{ component.text  | markdown | safe  }}
      </div>
    {% endif %}

  </article>




  {% for item in component.testamonial %}


      <div class="flex flex-col items-center w-20">

        {% picture
          img=item.image,
          width=[200],
          sizes="(min-width: 1600px) 50vw, 100vw",
          css="rounded-full w-12 h-12 border border-teal-400",
          alt=""
        %}

        <div class="strong">{{ item.person }}</div>
        <div class="text-sm">{{ item.persontitle }}</div>
      </div>


        <h3 class="text-2xl text-cyan-700">
          {{ item.title }}
        </h3>

        {% if item.text %}
          <div class="prose">
            {{ item.text  | markdown | safe  }}
          </div>
        {% endif %}

        {# twitter #}
        {% if item.url %}
          <a href="{{ item.url }}" target="_blank">
          <div class="w-10 text-blue-300">
            {% include "svg/some/twitter.svg" %}
            </div>
          </a>
        {% endif %}

  {% endfor %}

</section>
