---
layout: default.liquid
saga-template-name: Frontpage
---
{%- if env.mode != 'prod' %}<!-- 👋 sections src/theme-grunn/layouts/page/frontpage.liquid -->{%- endif -%}



  <div class="@container pagewidth bg-slate-100 p-8 flex flex-row">
    <div class="bg-red-500 w-12 h-8">B</div>
    <div class="@xs:bg-red-300 w-12 h-8">xs</div>
    <div class="@sm:bg-red-300 w-12 h-8">sm</div>
    <div class="@md:bg-red-300 w-12 h-8">md</div>
    <div class="@lg:bg-red-300 w-12 h-8">lg</div>
    <div class="@xl:bg-red-300 w-12 h-8">xl</div>
    <div class="@2xl:bg-red-300 w-12 h-8">2xl</div>
    <div class="@3xl:bg-red-300 w-12 h-8">3xl</div>
    <div class="@4xl:bg-red-300 w-12 h-8">3xl</div>
    <div class="@5xl:bg-red-300 w-12 h-8">3xl</div>
    <div class="@6xl:bg-red-300 w-12 h-8">3xl</div>
    <div class="@7xl:bg-red-300 w-12 h-8">3xl</div>
  </div>

<article class="flex flex-col md:flex-row justify-between">



<div class="w-full aspect-video overflow-hidden">
  {% if image %}
    <div class="animation-kenburns h-full bg-no-repeat bg-cover"
        style="background-image: url({% render 'image/imageurl.liquid', file: image, widths: "1024" %})"
        >
    </div>
  {% endif %}

</div>

  {% comment %} {% if image %}
    <div class="aspect-video overflow-hidden">
    {% render 'image/image.liquid',
      file: image,
      alt: title,
      sizes: "(min-width: 30em) 50vw, 100vw",
      widths: "640, 1024, 1280",
      format: "webp",
      loading: "eager",
      css: "w-full"
    %}
    </div>
  {% endif %} {% endcomment %}

  <div class="prose prose-xl dark:prose-invert mt-4 md:mt-0 md:ml-4 p-4 bg-white rounded-md shadow-md dark:bg-gray-700">
    {{ content }}
  </div>
</article>

{% include "components/all.liquid" %}
