---
layout: default.liquid
saga-template-name: Frontpage
---
{%- if env.mode != 'prod' %}<!-- 👋 sections src/theme-grunn/layouts/page/frontpage.liquid -->{%- endif -%}

<article class="flex flex-col md:flex-row justify-between">
  <div class="w-full aspect-video overflow-hidden">
    {% if image %}
    <div class="animation-kenburns h-full bg-no-repeat bg-cover"
          style="background-image: url({% render 'image/imageurl.liquid', file: image, widths: "1024" %})"
          >
      </div>
    {% endif %}
  </div>

  <div class="prose prose-xl dark:prose-invert mt-4 md:mt-0 md:ml-4 p-4 bg-white rounded-md shadow-md dark:bg-gray-700">
    {{ content }}
  </div>
</article>

{% include "components/all.liquid" %}
