---
layout: default.liquid
saga-template-name: Page default
---
{%- if env.mode != 'prod' %}<!-- 👋 sections src/theme-grunn/layouts/page/page.liquid -->{%- endif -%}

<h1 class="text-5xl">{{ title }}</h1>

{% include "linklist/linklist.liquid", collection : collections.allPages, url: url %}

{% include "components/all.liquid" %}

{% if image %}
  <div class="aspect-video overflow-hidden">
  {% render 'image.liquid',
      file: image,
      alt: title,
      sizes: "(min-width: 30em) 50vw, 100vw",
      widths: "400, 800, 1200",
      format: "webp",
      loading: "lazy",
      css: "w-full"
  %}
  </div>
{% endif %}


<div class="prose dark:prose-invert">
  {{ content }}
</div>

{% include "some/share.liquid" %}
{% include "tag/tags.liquid" %}
{% include "tag/tagcloud.liquid" %}
