---
layout: default.liquid
saga-template-name: Page default
---
{%- if env.mode != 'prod' %}<!-- 👋 sections src/theme-grunn/layouts/page/page.liquid -->{%- endif -%}

<h1 class="text-5xl">{{ title }}</h1>


<div class="aspect-video overflow-hidden">
  {% if image %}
    <div class="kenburns-top h-full bg-no-repeat bg-cover" style="background-image: url({% render 'image/imageurl.liquid', file: image, widths: "1024" %})">
    </div>
  {% endif %}

</div>




  <div class="h- h-96 bg-blue-300">1</div>
  <div class="h- h-screen bg-blue-400">2</div>
  {% comment %} <div class="h- h-96 bg-blue-500">3</div>
  <div class="h-96 bg-blue-600 w-full">4</div> {% endcomment %}

<div x-data="{ shown: false }"
      x-intersect:enter.half ="shown = true"
      x-intersect:leave ="shown = false"
      class="bg-yellow-500  flex flex-row gap-4 h-96"
>
  {% comment %} data  {% endcomment %}
    <div x-show="shown" class="w-1/3 text-5xl bg-red-300" x-bind:class="shown? 'fadeInUp' : '' ">
        I'm in the viewport!
    </div>
    <div x-show="shown" class="w-1/3  text-4xl bg-red-400" x-bind:class="shown? 'fadeInUp' : '' ">
        I'm in the viewport!
    </div>
    <div x-show="shown" class="w-1/3  text-2xl bg-red-500" x-bind:class="shown? 'fadeInUp' : '' ">
        I'm in the viewport!
    </div>
</div>


<div class="h- h-96 bg-blue-400">
1
</div>
<div class="h- h-96 bg-blue-600">
2
</div>

<div x-data="{ shown: false }"
      x-intersect:enter.full ="shown = true"
      x-intersect:leave ="shown = false"
      class="bg-blue-500 h-[50vh]"
>
    <div x-show="shown" class="text-4xl w-96 bg-red-500" x-bind:class="shown? 'fadeInUp' : '' ">
        This slides in
    </div>
</div>

<div class="h- h-96 bg-blue-300">
  1
  </div>
  <div class="h- h-96 bg-blue-400">
2
  </div>
  <div class="h- h-96 bg-blue-500">
3
  </div>
  <div class="h- h-96 bg-blue-600">
4
  </div>

<div class="prose mx-auto">
  {{ content }}
</div>


{% include "components/all.liquid" %}

{% include "some/share.liquid" %}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptate quae neque recusandae vel eum ullam laudantium optio at excepturi earum impedit, laboriosam nisi mollitia quasi nam nostrum modi consequuntur.
