---
layout: default.liquid
saga-template-name: Tag overview
---
{%- if env.mode != 'prod' %}<!-- 👋 sections src/theme-grunn/layouts/page/page.liquid -->{%- endif -%}

<article class="flex flex-row space-x-8">
  <div class="basis-2/12">
    {% include "tag/taglist.liquid" %}
  </div>

  <div class="basis-10/12">
    <h1 class="text-6xl text-primary-700">{{ title }}</h1>
    <div class="prose prose-xl">{{ content }}</div>
    {% include "components/all.liquid" %}
  </div>
</article>
