---
layout: default.liquid
saga-template-name: Page default
---
{%- if env.mode != 'prod' %}<!-- 👋 sections src/theme-grunn/layouts/page/page.liquid -->{%- endif -%}

<h1 class="text-5xl">{{ title }}</h1>

{% include "tag/tags.liquid" %}

{% if image %}
  <div class="aspect-video overflow-hidden">
    {% assign markdownpath = image  | prepend: '/' | prepend: page.inputPath | remove_last: page.fileSlug | remove: ".md/" %}
    {% render 'image/image.liquid',
      file: image,
      markdownpath: markdownpath,
      alt: title,
      sizes: "(min-width: 30em) 50vw, 100vw",
      widths: "640, 1024, 1280",
      format: "webp",
      loading: "lazy",
      css: "w-full"
    %}
  </div>
{% endif %}

<div class="prose mx-auto">
  {{ content }}
</div>


{% include "components/all.liquid" %}

{% include "some/share.liquid" %}


