---
layout: default.liquid
saga-template-name: Page default
---
{% comment %}
TODO: Page should be renamed to something else apparently liquid cand figure out whats a page.url vs this page
{% endcomment %}
{%- if env.mode != 'prod' %}
<!-- 👋 sections src/theme-grunn/layouts/page/page.liquid -->
{%- endif -%}

<h1 class="text-5xl">{{ title }}</h1>

{% include "nav/share.liquid" %}

tags:
{% include "nav/tags" %}
{% include "nav/tagcloud" %}

link list
{% include "nav/links", url: url, collection : collections.allPages %}
{% include "nav/links", url: url, collection : collections.allPosts, showdate: true %}



<div class="aspect-video overflow-hidden">

  {% render 'image.liquid',
      file: image,
      alt: title,
      sizes: "(min-width: 30em) 50vw, 100vw",
      widths: "400, 800, 1200",
      format: "webp",
      loading: "lazy",
      css: "w-full"
  %}
</div>


<div class="prose dark:prose-invert">
  {{ content }}
</div>

{% include "components/all.liquid" %}